<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<head>
    <link rel="stylesheet" th:href="@{/gis/openlayers-4.6.4/ol.css}">
    <script th:src="@{/gis/openlayers-4.6.4/ol.js}"></script>
</head>

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">캐시 리소스 관리 - 레이어</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/map/list}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">캐시 리소스 관리 - 레이어</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div id="cache_layer_preview">
        <div id="map" class="mb-2" style="height: 20vh;">
        </div>
        <script>
            $(function() {
                var mapSource = new ol.source.TileWMS({
                    url: '[[${serviceURL}]]/service',
                    params: {
                        'REQUEST' : 'getMap',
                        'LAYERS' : '[[${layer.Name}]]'
                    }
                });

                var layer = new ol.layer.Tile({
                    source : mapSource
                });

                var map = new ol.Map({
                   layers: [layer],
                   target: 'map',
                   view: new ol.View({
                       center: ol.proj.transform([127.123294, 37.385117], 'EPSG:4326', 'EPSG:3857'),
                       zoom: 12
                   })
                });
            });
        </script>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group">
                <label for="layer_name">레이어 이름</label>
                <input type="text" class="form-control" id="layer_name" th:value="*{layer.Name}" />
            </div>
            <div class="form-group">
                <label for="layer_title">레이어 제목</label>
                <input type="text" class="form-control" id="layer_title" th:value="*{layer.Title}" />
            </div>
            <div class="form-group">
                <label for="layer_format">출력 체계</label>
                <select class="form-control" id="layer_format">
                    <option th:each="format : ${request.GetMap.Format}" th:text="${format}" th:value="${format}"></option>
                </select>
            </div>
            <hr/>
            <div class="text-right">
                <button class="btn btn-primary">
                    <i class="fas fa-save"></i> 저장
                </button>
            </div>
        </div>

        <div class="col-xl-6">
            <div id="cache_crs_list_view">
                <h2>좌표 체계 및 설정</h2>
                <table id="list_table" class="table table-sm table-striped">
                    <thead class="table-info">
                    <tr>
                        <th scope="col" class="text-center">좌표체계</th>
                        <th scope="col" class="text-center">X 최소 범위</th>
                        <th scope="col" class="text-center">X 최대 범위</th>
                        <th scope="col" class="text-center">Y 최소 범위</th>
                        <th scope="col" class="text-center">Y 최대 범위</th>
                        <th scope="col" class="text-center">설정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="crs : ${ boundingBox.keySet() }">
                        <td class="text-center" th:text="${crs}"></td>
                        <td class="text-center" th:text="${#numbers.formatInteger(boundingBox.get(crs).minx, 1, 'POINT')}"></td>
                        <td class="text-center" th:text="${#numbers.formatInteger(boundingBox.get(crs).maxx, 1, 'POINT')}"></td>
                        <td class="text-center" th:text="${#numbers.formatInteger(boundingBox.get(crs).miny, 1, 'POINT')}"></td>
                        <td class="text-center" th:text="${#numbers.formatInteger(boundingBox.get(crs).maxy, 1, 'POINT')}"></td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm" type="button">
                                <i class="fas fa-cog"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function() {
                        $('#list_table').DataTable({
                            "language" : {
                                "lengthMenu" : "자료 길이 _MENU_",
                                "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                                "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                                "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                                "infoFiltered" : "(총 _TOTAL_ 건)",
                                "search" : "검색 키워드",
                                "paginate": {
                                    "first" : "<<",
                                    "last" : ">>",
                                    "next" : ">",
                                    "previous" : "<"
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</th:block>
</html>