<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">캐시 관리 - 조회</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">캐시 관리 - 조회</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/cache/setting}">지도 서비스</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">캐시 관리 - 조회</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">

    <div id="map_block" class="map_top">
        <!-- 기능 확장 버튼 시작 -->
        <div id="buttons" class="d-flex justify-content-between">
            <button class="btn btn-primary mx-0" data-toggle="modal" data-target="#layerSelect">
                <i class="fas fa-layer-group"></i> Map Proxy 기반 레이어 선택
            </button>
            <button class="btn btn-info mx-0" data-toggle="modal" data-target="#yamlPreview">
                <i class="fas fa-file"></i> Map Proxy YAML 파일 조회
            </button>
        </div>
        <!-- // 기능 확장 버튼 종료 -->
    </div>

    <div class="map_area">
        <!-- Openlayers 시작 -->
        <div id="map" class="mb-2" style="width: 100%; height: calc(100vh - 188px);">
        </div>
        <!-- // Openlayers 종료 -->

        <script>
            var mapSource, layer, map;

            $(document).ready(function() {
                initialize_dataTable('list_table_layer');

                mapSource = new ol.source.TileWMS({
                    url: '[[${serviceURL}]]/service',
                    params: {
                        'REQUEST' : 'getMap',
                        'LAYERS' : 'world_k2'
                    }
                });

                layer = new ol.layer.Tile({
                    source : mapSource
                });

                map = new ol.Map({
                    layers: [layer],
                    target: 'map',
                    view: new ol.View({
                        center: ol.proj.transform([127.123294, 37.385117], 'EPSG:4326', 'EPSG:3857'),
                        zoom: 12
                    })
                });
            });

            function onclick_preview_layer(name){
                layer.setSource(new ol.source.TileWMS({
                    url: '[[${serviceURL}]]/service',
                    params: {
                        'REQUEST' : 'getMap',
                        'LAYERS' : name
                    }
                }));
            }
        </script>
    </div>

    <!-- Modal (1) 시작 -->
    <div class="modal fade" id="layerSelect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Map Proxy 기반 레이어 선택</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Data List Table - LAYER START -->
                    <table id="list_table_layer" class="table basic my-1">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center">이름</th>
                            <th scope="col" class="text-center">제목</th>
                            <th scope="col" class="text-center">레이어 조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="layer : ${ proxyLayers }">
                            <td class="text-center align-middle" th:text="${ layer.name }"></td>
                            <td class="text-center align-middle" th:text="${ layer.title }"></td>
                            <td class="text-center align-middle">
                                <button class="btn btn-info btn-sm btn-circle" th:onclick="onclick_preview_layer([[${layer.name}]])" data-dismiss="modal">
                                    <i class="fas fa-search"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // Modal (1) 종료 -->

    <!-- Modal (2) 시작 -->
    <div class="modal fade" id="yamlPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Map Proxy YAML 파일 조회</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <textarea class="form-control" readonly rows="20">
[[${proxyYAML}]]
                        </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // Modal (2) 종료 -->

</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/gis/openlayers-4.6.4/ol.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/gis/openlayers-4.6.4/ol.js}"></script>
</th:block>
</html>