<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">캐시 SEED 관리</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/map/list}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">캐시 SEED 관리</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-xl-6">
            <div id="cache_seed_list_view">
                <table id="list_table" class="table table-sm table-striped">
                    <thead class="table-info">
                    <tr>
                        <th scope="col" class="text-center">SEED 이름</th>
                        <th scope="col" class="text-center">SEED 그리드</th>
                        <th scope="col" class="text-center">제공 포맷</th>
                        <th scope="col" class="text-center">설정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">SEED 01</td>
                        <td class="text-center">GRID 1</td>
                        <td class="text-center">PNG, JPEG</td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm" onclick="onclick_update()">
                                <i class="fas fa-cog"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function() {
                        $('#list_table').DataTable({
                            "language" : {
                                "lengthMenu" : "자료 길이 _MENU_",
                                "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                                "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                                "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                                "infoFiltered" : "(총 _TOTAL_ 건)",
                                "search" : "검색 키워드",
                                "paginate": {
                                    "first" : "<<",
                                    "last" : ">>",
                                    "next" : ">",
                                    "previous" : "<"
                                }
                            }
                        });
                    });

                    function onclick_update(){
                        $("#seed_name").val("SEED 01");
                        $("#seed_url").val("http://127.0.0.1:8000/mapProxy/service?");
                        $("#seed_layers").val(['1']);
                        $("#seed_grid").val('1');
                        $("#seed_format").val(['0', '1']);
                    }
                </script>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="form-group">
                <label for="seed_name">SEED 이름</label>
                <input type="text" class="form-control" id="seed_name" />
            </div>
            <div class="form-group">
                <label for="seed_url">SEED URL</label>
                <input type="text" class="form-control" id="seed_url" />
            </div>
            <div class="form-group">
                <label for="seed_layers">SEED 레이어</label>
                <select id="seed_layers" class="form-control" multiple>
                    <option value="0">LAYER 0</option>
                    <option value="1">LAYER 1</option>
                    <option value="2">LAYER 2</option>
                    <option value="3">LAYER 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="seed_grid">SEED 그리드</label>
                <select id="seed_grid" class="form-control">
                    <option value="0">GRID 0</option>
                    <option value="1">GRID 1</option>
                    <option value="2">GRID 2</option>
                    <option value="3">GRID 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="seed_format">포맷 설정</label>
                <select id="seed_format" class="form-control" multiple>
                    <option value="0">Image/PNG</option>
                    <option value="1">Image/JPEG</option>
                    <option value="2">Image/TIFF</option>
                </select>
            </div>

            <hr/>
            <div class="text-right">
                <button class="btn btn-primary">
                    <i class="fas fa-save"></i> 저장
                </button>
            </div>
        </div>
    </div>
</th:block>
</html>