<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<head>
    <link rel="stylesheet" th:href="@{/gis/openlayers-4.6.4/ol.css}">
    <script th:src="@{/gis/openlayers-4.6.4/ol.js}"></script>
    <link rel="stylesheet" th:src="@{/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css}">
    <script th:src="@{/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
    <link rel="stylesheet" th:src="@{/vendor/bootstrap-tagsinput/tagsinput.css}">
    <script th:src="@{/vendor/bootstrap-tagsinput/tagsinput.js}"></script>
</head>

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">캐시 리소스 관리 - 설정</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/manage/map-manage?pg=1&sz=9&lType=ALL}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">캐시 리소스 관리 - 설정</li>
        </ol>
</th:block>
</nav>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-xl-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="layer-tab" data-toggle="tab" href="#layer" role="tab" aria-controls="layer" aria-selected="true">Layer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="source" aria-selected="false">Source</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cache-tab" data-toggle="tab" href="#cache" role="tab" aria-controls="cache" aria-selected="false">Cache</a>
                </li>
            </ul>
            <div class="tab-content" id="tab_context_view">
                <div class="tab-pane fade show active" id="layer" role="tabpanel" aria-labelledby="layer-tab">
                    <div class="py-1">
                        <h3 class="my-1">레이어 관리</h3>
                        <div class="text-right my-1">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#layerDataInsert" onclick="">
                                <i class="fas fa-plus"></i> 데이터 추가
                            </button>
                        </div>

                        <!-- Data Inserting Modal - LAYER START -->
                        <div class="modal fade" id="layerDataInsert" tabindex="-1" role="dialog" aria-labelledby="insertModalCenterTitle1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <form id="add-proxy-layer" th:action="@{/view/cache/add-proxy-layer}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)" th:object="${addProxyLayer}">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="insertModalCenterTitle1">데이터 추가 - Layer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_close('proxyLayerName', 'layer')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" th:if="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <label for="proxyLayerName">레이어 이름 <span style="color: red;">(*)</span></label>
                                                </div>
                                                <div class="col-12 input-group">
                                                    <input type="text" class="form-control" th:field="*{proxyLayerName}">
                                                    <div class="input-group-append">
                                                        <span class="input-group-btn btn btn-primary" onclick="jiCommon.duplicateCheck('PROXYLAYER','#proxyLayerName','#duplicate-check-message-proxy-layer')" style="cursor: pointer;">중복확인</span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <small class="form-text text-muted" id="duplicate-check-message-proxy-layer">중복확인을 해주세요.</small>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="proxyLayerTitle">레이어 제목 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{proxyLayerTitle}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxySources">레이어 연계 소스 <span style="color: red;">(*)</span></label>
                                                <select class="form-control" th:field="*{proxySources}" multiple>
                                                    <option th:each="source : ${proxySources}" th:text="${ source.name }" th:value="${ source.name }"></option>
                                                </select>
                                            </div>

                                            <div class="form-group" th:if="${ #lists.size(proxyCaches) > 0}">
                                                <label for="proxyCaches">레이어 연계 캐시</label>
                                                <select class="form-control" id="proxyCaches" name="proxyCaches" multiple>
                                                    <option th:each="cache : ${proxyCaches}" th:text="${ cache.name }" th:value="${ cache.name }"></option>
                                                </select>
                                            </div>

                                            <div class="alert alert-warning py-1" th:unless="${ #lists.size(proxyCaches) > 0}">
                                                <h1 class="display-4">
                                                    <i class="fas fa-times-circle"></i> No Cache Datas
                                                </h1>
                                                <p class="lead">추가 된 캐시 (Cache) 데이터가 없습니다. 캐시 데이터를 추가하고 다시 시도 바랍니다.</p>
                                            </div>
                                        </div>

                                        <div class="modal-body" th:unless="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="jumbotron">
                                                <h1 class="display-4">
                                                    <i class="fas fa-times-circle"></i> Error
                                                </h1>
                                                <p class="lead">추가 된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 추가하고 다시 시도 바랍니다.</p>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_close('proxyLayerName', 'layer')">
                                                <i class="fas fa-times"></i> 취소
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-save"></i> 저장
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Data Inserting Modal - LAYER END -->

                        <!-- Data Updating Modal - LAYER START -->
                        <div class="modal fade" id="layerDataUpdate" tabindex="-1" role="dialog" aria-labelledby="updateModalCenterTitle1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <form id="update-proxy-layer" th:action="@{/view/cache/update-proxy-layer}" method="post" accept-charset="utf-8" onsubmit="return layerRelationValidation('UPDATE')">
                                        <input type="hidden" id="proxyLayerId_u" name="id" />
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateModalCenterTitle1">데이터 수정 - Layer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" th:if="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <label for="proxyLayerName_u">레이어 이름 <span style="color: red;">(*)</span></label>
                                                </div>
                                                <div class="col-12 input-group">
                                                    <input type="text" class="form-control" id="proxyLayerName_u" name="proxyLayerName" readonly />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="proxyLayerTitle_u">레이어 제목 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="proxyLayerTitle_u" name="proxyLayerTitle" />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxySources_u">레이어 연계 소스 <span style="color: red;">(*)</span></label>
                                                <select class="form-control" id="proxySources_u" name="proxySources" multiple>
                                                    <option th:each="source : ${proxySources}" th:text="${ source.name }" th:value="${ source.name }"></option>
                                                </select>
                                            </div>

                                            <div class="form-group" th:if="${ #lists.size(proxyCaches) > 0}">
                                                <label for="proxyCaches_u">레이어 연계 캐시</label>
                                                <select class="form-control" id="proxyCaches_u" name="proxyCaches" multiple>
                                                    <option th:each="cache : ${proxyCaches}" th:text="${ cache.name }" th:value="${ cache.name }"></option>
                                                </select>
                                            </div>

                                            <div class="alert alert-warning py-1" th:unless="${ #lists.size(proxyCaches) > 0}">
                                                <h1 class="display-4">
                                                    <i class="fas fa-times-circle"></i> No Cache Datas
                                                </h1>
                                                <p class="lead">추가 된 캐시 (Cache) 데이터가 없습니다. 캐시 데이터를 추가하고 다시 시도 바랍니다.</p>
                                            </div>
                                        </div>

                                        <div class="modal-body" th:unless="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="jumbotron">
                                                <h1 class="display-4">
                                                    <i class="fas fa-times-circle"></i> Error
                                                </h1>
                                                <p class="lead">추가 된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 추가하고 다시 시도 바랍니다.</p>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                <i class="fas fa-times"></i> 취소
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-save"></i> 저장
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Data Updating Modal - LAYER END -->

                        <!-- Data List Table - LAYER START -->
                        <table id="list_table_layer" class="table table-sm table-striped my-1">
                            <thead class="table-info">
                            <tr>
                                <th scope="col" class="text-center">이름</th>
                                <th scope="col" class="text-center">제목</th>
                                <th scope="col" class="text-center">수정 및 삭제</th>
                                <th scope="col" class="text-center">설정 적용</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="layer : ${ layerMap.data }">
                                <td class="text-center" th:text="${ layer.name }"></td>
                                <td class="text-center" th:text="${ layer.title }"></td>
                                <td class="text-center">
                                    <button th:id="${ 'layerUpdate' + layer.id }" class="btn btn-info btn-circle btn-sm mx-1" type="button" data-toggle="modal" data-target="#layerDataUpdate">
                                        <i class="fas fa-cog"></i>
                                    </button>
                                    <script th:inline="javascript">
                                        var l_json[[${layer.id}]] = /*[[${ layer }]]*/ {};
                                        document.getElementById('layerUpdate' + [[${layer.id}]]).onclick = function() {
                                            onclick_update_layer(l_json[[${layer.id}]]);
                                        };
                                    </script>
                                    <a class="btn btn-danger btn-circle btn-sm mx-1" th:href="@{ '/view/cache/delete-proxy-layer/' + ${layer.id} }" onclick="return confirm('삭제를 진행 하시겠습니까?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm btn-circle" th:onclick="onclick_add_button('selectedLayers', [[${layer.name}]])">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function() {
                                $('#list_table_layer').DataTable({
                                    "language" : {
                                        "lengthMenu" : "자료 길이 _MENU_",
                                        "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                                        "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                                        "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                                        "infoFiltered" : "(총 _TOTAL_ 건)",
                                        "search" : "검색 키워드",
                                        "paginate": {
                                            "first" : "<<",
                                            "last" : ">>",
                                            "next" : ">",
                                            "previous" : "<"
                                        }
                                    }
                                });
                            });

                            function onclick_update_layer(obj){
                                document.getElementById('proxyLayerId_u').value = obj.id;
                                document.getElementById('proxyLayerName_u').value = obj.name;
                                document.getElementById('proxyLayerTitle_u').value = obj.title;
                                $('#proxySources_u').val(obj.sources.map(s => s.source && s.source.name));
                                $('#proxyCaches_u').val(obj.caches.map(c => c.cache && c.cache.name));
                            }
                        </script>
                        <!-- Data List Table - LAYER END -->
                    </div>
                </div>


                <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
                    <div class="py-1">
                        <h3 class="my-1">소스 관리</h3>
                        <div class="text-right my-1">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#sourceDataInsert">
                                <i class="fas fa-plus"></i> 데이터 추가
                            </button>
                        </div>

                        <!-- Data Inserting Modal - SOURCE START -->
                        <div class="modal fade" id="sourceDataInsert" tabindex="-1" role="dialog" aria-labelledby="insertModalCenterTitle2" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <form id="add-proxy-source" th:action="@{/view/cache/add-proxy-source}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)" th:object="${addProxySource}">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="insertModalCenterTitle2">데이터 추가 - Source</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_close('proxySourceName', 'source')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <label for="proxySourceName">리소스 이름 <span style="color: red;">(*)</span></label>
                                                    <div class="col-12 input-group">
                                                        <input type="text" class="form-control" th:field="*{proxySourceName}">
                                                        <div class="input-group-append">
                                                            <span class="input-group-btn btn btn-primary" onclick="jiCommon.duplicateCheck('PROXYSOURCE','#proxySourceName','#duplicate-check-message-proxy-source')" style="cursor: pointer;">중복확인</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <small class="form-text text-muted" id="duplicate-check-message-proxy-source">중복확인을 해주세요.</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-info btn-block mb-1" data-toggle="modal" data-target="#searchMap">
                                                <i class="fas fa-search"></i> MapServer 리소스 : Map 파일 선택
                                            </button>

                                            <div class="form-group">
                                                <label for="proxySourceType">리소스 종류 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{proxySourceType}" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="requestMap">Map 파일 주소 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{requestMap}" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="requestLayers">요청 Layer <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{requestLayers}" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="mapServerBinary">MapServer 바이러리 주소 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{mapServerBinary}" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="mapServerWorkDir">MapServer 작업 주소 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{mapServerWorkDir}" readonly />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_close('proxySourceName', 'source')">
                                                <i class="fas fa-times"></i> 취소
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-save"></i> 저장
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Data Inserting Modal - SOURCE END -->

                        <!-- Data Updating Modal - SOURCE START -->
                        <div class="modal fade" id="sourceDataUpdate" tabindex="-1" role="dialog" aria-labelledby="updateModalCenterTitle2" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <form id="update-proxy-source" th:action="@{/view/cache/update-proxy-source}" method="post" accept-charset="utf-8" onsubmit="return requestValidation('UPDATE')">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateModalCenterTitle2">데이터 수정 - Source</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="proxySourceId_u" name="id" />
                                            <div class="form-group">
                                                <label for="proxySourceName_u">리소스 이름 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="proxySourceName_u" name="proxySourceName" readonly />
                                            </div>

                                            <button type="button" class="btn btn-info btn-block mb-1" data-toggle="modal" data-target="#searchMap">
                                                <i class="fas fa-search"></i> MapServer 리소스 : Map 파일 선택
                                            </button>

                                            <div class="form-group">
                                                <label for="proxySourceType_u">리소스 종류 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="proxySourceType_u" name="proxySourceType" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="requestMap_u">Map 파일 주소 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="requestMap_u" name="requestMap" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="requestLayers_u">요청 Layer <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="requestLayers_u" name="requestLayers" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="mapServerBinary_u">MapServer 바이러리 주소 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="mapServerBinary_u" name="mapServerBinary" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="mapServerWorkDir_u">MapServer 작동 주소 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" id="mapServerWorkDir_u" name="mapServerWorkDir" readonly />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                <i class="fas fa-times"></i> 취소
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-save"></i> 저장
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Data Updating Modal - SOURCE END -->

                        <!-- Data Search Modal - MAP START -->
                        <div class="modal fade" id="searchMap" tabindex="-2" role="dialog" aria-labelledby="searchMapLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="searchMapLabel">Map Server : Map 파일 선택</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="mapFile">Map 파일</label>
                                            <select class="form-control" id="mapFile" onchange="onchange_mapFile_value()">
                                                <option value='{ "requestMap" : "[none]", "mapId" : -1 }'>-- Map 파일 선택 --</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="mapLayer">레이어 선택</label>
                                            <input type="text" data-role="tagsinput" id="mapLayer_multiple" onchange="onchange_mapLayer_multiple_value()" />
                                            <select class="form-control" id="mapLayer" onchange="onchange_mapLayer_value()">
                                                <option value="[none]">-- 레이어 선택 --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Data Search Modal - MAP END -->

                        <!-- Data List Table - SOURCE START -->
                        <table id="list_table_source" class="table table-sm table-striped my-1">
                            <thead class="table-info">
                            <tr>
                                <th scope="col" class="text-center">이름</th>
                                <th scope="col" class="text-center">종류</th>
                                <th scope="col" class="text-center">수정 및 삭제</th>
                                <th scope="col" class="text-center">설정 적용</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="source : ${ sourceMap.data }">
                                <td class="text-center" th:text="${ source.name }"></td>
                                <td class="text-center" th:text="${ source.type }"></td>
                                <td class="text-center">
                                    <button th:id="${ 'sourceUpdate' + source.id }" class="btn btn-info btn-circle btn-sm mx-1" type="button" data-toggle="modal" data-target="#sourceDataUpdate">
                                        <i class="fas fa-cog"></i>
                                    </button>
                                    <script th:inline="javascript">
                                        var s_json[[${source.id}]] = /*[[${ source }]]*/ {};
                                        document.getElementById('sourceUpdate' + [[${source.id}]]).onclick = function() {
                                            onclick_update_source(s_json[[${source.id}]]);
                                        };
                                    </script>
                                    <a class="btn btn-danger btn-circle btn-sm mx-1" th:href="@{ '/view/cache/delete-proxy-source/' + ${source.id} }" onclick="return confirm('삭제를 진행 하시겠습니까?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm btn-circle" th:onclick="onclick_add_button('selectedSources', [[${source.name}]])">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function() {
                                $('#list_table_source').DataTable({
                                    "language" : {
                                        "lengthMenu" : "자료 길이 _MENU_",
                                        "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                                        "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                                        "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                                        "infoFiltered" : "(총 _TOTAL_ 건)",
                                        "search" : "검색 키워드",
                                        "paginate": {
                                            "first" : "<<",
                                            "last" : ">>",
                                            "next" : ">",
                                            "previous" : "<"
                                        }
                                    }
                                });
                            });

                            function onclick_update_source(obj){
                                document.getElementById('proxySourceId_u').value = obj.id;
                                document.getElementById('proxySourceName_u').value = obj.name;
                                document.getElementById('proxySourceType_u').value = obj.type;
                                document.getElementById('requestMap_u').value = obj.requestMap;
                                document.getElementById('requestLayers_u').value = obj.requestLayers;
                                document.getElementById('mapServerBinary_u').value = obj.mapServerBinary;
                                document.getElementById('mapServerWorkDir_u').value = obj.mapServerWorkDir;

                                $('#mapLayer_multiple').tagsinput('add', obj.requestLayers);
                            }
                        </script>
                        <!-- Data List Table - SOURCE END -->
                    </div>
                </div>

                <div class="tab-pane fade" id="cache" role="tabpanel" aria-labelledby="cache-tab">
                    <div class="py-1">
                        <h3 class="my-1">캐시 관리</h3>
                        <div class="text-right my-1">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#cacheDataInsert">
                                <i class="fas fa-plus"></i> 데이터 추가
                            </button>
                        </div>

                        <!-- Data Inserting Modal - CACHE START -->
                        <div class="modal fade" id="cacheDataInsert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <form id="add-proxy-cache" th:action="@{/view/cache/add-proxy-cache}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)" th:object="${addProxyCache}">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle3">데이터 추가 - Cache</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_close('proxyCacheName', 'cache')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" th:if="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <label for="proxyCacheName">캐시 이름 <span style="color: red;">(*)</span></label>
                                                </div>
                                                <div class="col-12 input-group">
                                                    <input type="text" class="form-control" th:field="*{proxyCacheName}">
                                                    <div class="input-group-append">
                                                        <span class="input-group-btn btn btn-primary" style="cursor: pointer;" onclick="jiCommon.duplicateCheck('PROXYCACHE','#proxyCacheName','#duplicate-check-message-proxy-cache')">중복확인</span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <small class="form-text text-muted" id="duplicate-check-message-proxy-cache">중복확인을 해주세요.</small>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="proxyCacheType">캐시 종류 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{proxyCacheType}" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxyCacheDirectory">캐시 디렉토리 <span style="color: red;">(*)</span></label>
                                                <input type="text" class="form-control" th:field="*{proxyCacheDirectory}" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="metaSizeX">타일 가로 크기 <span style="color: red;">(*)</span></label>
                                                <input type="number" class="form-control" th:field="*{metaSizeX}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="metaSizeY">타일 세로 크기 <span style="color: red;">(*)</span></label>
                                                <input type="number" class="form-control" th:field="*{metaSizeY}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="metaBuffer">타일 버퍼 크기 <span style="color: red;">(*)</span></label>
                                                <input type="number" class="form-control" th:field="*{metaBuffer}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxySourcesWithCaches">캐시 연계 소스 <span style="color: red;">(*)</span></label>
                                                <select class="form-control" th:field="*{proxySourcesWithCaches}" multiple>
                                                    <option th:each="source : ${proxySources}" th:text="${ source.name }" th:value="${ source.name }"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="modal-body" th:unless="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="jumbotron">
                                                <h1 class="display-4">
                                                    <i class="fas fa-times-circle"></i> Error
                                                </h1>
                                                <p class="lead">추가 된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 추가하고 다시 시도 바랍니다.</p>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_close('proxyCacheName', 'cache')">
                                                <i class="fas fa-times"></i> 취소
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-save"></i> 저장
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Data Inserting Modal - CACHE END -->

                        <!-- Data Updating Modal - CACHE START -->
                        <div class="modal fade" id="cacheDataUpdate" tabindex="-1" role="dialog" aria-labelledby="updateModalCenterTitle3" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <form id="update-proxy-cache" th:action="@{/view/cache/update-proxy-cache}" method="post" accept-charset="utf-8">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateModalCenterTitle3">데이터 수정 - Cache</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" th:if="${ #lists.size(sourceMap.data) > 0 }">
                                            <input type="hidden" id="proxyCacheId_u" name="id" />
                                            <div class="form-group">
                                                <label for="proxyCacheName_u">캐시 이름</label>
                                                <input type="text" class="form-control" id="proxyCacheName_u" name="proxyCacheName" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxyCacheType_u">캐시 종류</label>
                                                <input type="text" class="form-control" id="proxyCacheType_u" name="proxyCacheType" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxyCacheDirectory_u">캐시 디렉토리</label>
                                                <input type="text" class="form-control" id="proxyCacheDirectory_u" name="proxyCacheDirectory" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label for="metaSizeX_u">타일 가로 크기</label>
                                                <input type="number" class="form-control" id="metaSizeX_u" name="metaSizeX" />
                                            </div>

                                            <div class="form-group">
                                                <label for="metaSizeY_u">타일 세로 크기</label>
                                                <input type="number" class="form-control" id="metaSizeY_u" name="metaSizeY" />
                                            </div>

                                            <div class="form-group">
                                                <label for="metaBuffer_u">타일 버퍼 크기</label>
                                                <input type="number" class="form-control" id="metaBuffer_u" name="metaBuffer" />
                                            </div>

                                            <div class="form-group">
                                                <label for="proxySourcesWithCaches_u">캐시 연계 소스</label>
                                                <select class="form-control" id="proxySourcesWithCaches_u" name="proxySourcesWithCaches" multiple>
                                                    <option th:each="source : ${proxySources}" th:text="${ source.name }" th:value="${ source.name }"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="modal-body" th:unless="${ #lists.size(sourceMap.data) > 0 }">
                                            <div class="jumbotron">
                                                <h1 class="display-4">
                                                    <i class="fas fa-times-circle"></i> Error
                                                </h1>
                                                <p class="lead">추가 된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 추가하고 다시 시도 바랍니다.</p>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                <i class="fas fa-times"></i> 취소
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-save"></i> 저장
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Data Updating Modal - CACHE END -->

                        <!-- Data List Table - CACHE START -->
                        <table id="list_table_cache" class="table table-sm table-striped my-1">
                            <thead class="table-info">
                            <tr>
                                <th scope="col" class="text-center">이름</th>
                                <th scope="col" class="text-center">종류</th>
                                <th scope="col" class="text-center">수정 및 삭제</th>
                                <th scope="col" class="text-center">설정 적용</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cache : ${ cacheMap.data }">
                                <td class="text-center" th:text="${ cache.name }"></td>
                                <td class="text-center" th:text="${ cache.cacheType }"></td>
                                <td class="text-center">
                                    <button th:id="${ 'cacheUpdate' + cache.id }" class="btn btn-info btn-circle btn-sm mx-1" type="button" data-toggle="modal" data-target="#cacheDataUpdate">
                                        <i class="fas fa-cog"></i>
                                    </button>
                                    <script th:inline="javascript">
                                        var c_json[[${cache.id}]] = /*[[${ cache }]]*/ {};
                                        document.getElementById('cacheUpdate' + [[${cache.id}]]).onclick = function() {
                                            onclick_update_cache(c_json[[${cache.id}]]);
                                        };
                                    </script>
                                    <a class="btn btn-danger btn-circle btn-sm mx-1" th:href="@{ '/view/cache/delete-proxy-cache/' + ${cache.id} }" onclick="return confirm('삭제를 진행 하시겠습니까?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm btn-circle" th:onclick="onclick_add_button('selectedCaches', [[${cache.name}]])">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function() {
                                $('#list_table_cache').DataTable({
                                    "language" : {
                                        "lengthMenu" : "자료 길이 _MENU_",
                                        "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                                        "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                                        "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                                        "infoFiltered" : "(총 _TOTAL_ 건)",
                                        "search" : "검색 키워드",
                                        "paginate": {
                                            "first" : "<<",
                                            "last" : ">>",
                                            "next" : ">",
                                            "previous" : "<"
                                        }
                                    }
                                });
                            });

                            function onclick_update_cache(obj){
                                document.getElementById('proxyCacheId_u').value = obj.id;
                                document.getElementById('proxyCacheName_u').value = obj.name;
                                document.getElementById('proxyCacheType_u').value = obj.cacheType;
                                document.getElementById('proxyCacheDirectory_u').value = obj.cacheDirectory;
                                document.getElementById('metaSizeX_u').value = obj.metaSizeX;
                                document.getElementById('metaSizeY_u').value = obj.metaSizeY;
                                document.getElementById('metaBuffer_u').value = obj.metaBuffer;
                                $('#proxySourcesWithCaches_u').val(obj.sources.map(s => s.source && s.source.name));
                            }

                            var cacheDirectoryPath = '[[${proxyCacheDirectory}]]';
                            var dataDirPath = '[[${dataDirectory}]]';
                        </script>
                        <!-- Data List Table - CACHE END -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div id="layer_select" class="my-2">
                <p>레이어 선택 <span style="color: red;">(*)</span></p>

                <ul class="list-group" id="selectedLayers">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        데이터 로딩 중
                        <span class="badge badge-info badge-pill">
                            <i class="fas fa-sync"></i>
                        </span>
                    </li>
                </ul>
            </div>

            <div id="source_select" class="my-2">
                <p>소스 선택 <span style="color: red;">(*)</span></p>

                <ul class="list-group" id="selectedSources">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        데이터 로딩 중
                        <span class="badge badge-info badge-pill">
                            <i class="fas fa-sync"></i>
                        </span>
                    </li>
                </ul>
            </div>

            <div id="cache_select" class="my-2">
                <p>캐시 선택</p>

                <ul class="list-group" id="selectedCaches">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        데이터 로딩 중
                        <span class="badge badge-info badge-pill">
                            <i class="fas fa-sync"></i>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="text-right">
                <button type="button" class="btn btn-secondary btn-sm" onclick="initialize_selected_data()">
                    <i class="fas fa-sync"></i> 초기화
                </button>

                <button type="button" class="btn btn-primary btn-sm" onclick="submit_selected_data()">
                    <i class="fas fa-save"></i> 저장
                </button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/page/proxy-select.js}"></script>
</th:block>
</html>