<h3 class="section_tit">CACHE 생성</h3>
<form id="seed-init" accept-charset="utf-8">
    <div class="form-group row">
        <div class="col-12">
            <label>CACHE 처리 인덱스(진행 현황 ID)</label>
        </div>
        <div class="col-12 input-group">
            <input type="text" class="form-control" disabled th:value="${ seedName + '-자동생성(인덱스)'} ">
        </div>
        <div class="col-12">
            <small class="form-text text-muted">자동생성 됩니다.</small>
        </div>
    </div>

    <div class="form-row my-2">
        <div class="col-6">
            <label>처리할 CACHE 데이터 선택</label>
            <div class="input-group">
                <input id="cache-select" type="text" class="form-control" name="cache" value="world_cache" readonly />
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#searchProxyCache">
                        <i class="fas fa-search" data-toggle="tooltip" title="CACHE 선택"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <label>기준 범위 이름</label>
            <input type="text" class="form-control" name="coverage" value="korea">
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
            <label>ZOOM 레벨 시작</label>
            <select class="form-control" name="levelFrom">
                <option th:each="v : ${ #numbers.sequence(1, 19) }" th:value="${v}" th:text="${v}" th:selected="${ v == 11 }" />
            </select>
        </div>
        <div class="col-6">
            <label>ZOOM 레벨 종료</label>
            <select class="form-control" name="levelTo">
                <option th:each="v : ${ #numbers.sequence(1, 19) }" th:value="${v}" th:text="${v}" th:selected="${ v == 14 }" />
            </select>
        </div>
    </div>

    <div class="input-group my-2">
        <div class="input-group-prepend">
            <span class="input-group-text">타일 갱신 기준</span>
        </div>
        <input style="height: 38px;" type="text" class="form-control text-right" name="refreshBefore" value="1" />
        <select class="form-control" name="refreshBeforeType">
            <option value="weeks">주 (WEEKS)</option>
            <option value="days">일 (DAYS)</option>
            <option value="hours" selected="selected">시간 (HOURS)</option>
            <option value="minutes">분 (MINUTES)</option>
        </select>
    </div>

    <div class="form-row my-2">
        <div class="col-12">
            <label>투영</label>
            <select class="form-control" name="projection" onchange="onchange_seed_srs(this)">
                <option value="epsg:4326" selected="selected">EPSG:4326</option>
                <option value="epsg:3857">EPSG:3857</option>
            </select>
        </div>
    </div>

    <div class="form-row my-2">
        <label class="col-12">영역(위/경도)</label>
        <div class="col-3">
            <label>Min X.</label>
            <input type="text" class="form-control" id="minx" name="xmin" value="115">
        </div>
        <div class="col-3">
            <label>Min Y.</label>
            <input type="text" class="form-control" id="miny" name="ymin" value="30">
        </div>
        <div class="col-3">
            <label>Max X.</label>
            <input type="text" class="form-control" id="maxx" name="xmax" value="135">
        </div>
        <div class="col-3">
            <label>Max Y.</label>
            <input type="text" class="form-control" id="maxy" name="ymax" value="45">
        </div>
    </div>

    <hr/>

    <div class="text-right">
        <button type="button" class="btn btn-secondary btn-sm" onclick="fn_initialize_seed_param()">
            <i class="fas fa-sync"></i> 초기화
        </button>

        <button type="button" class="btn btn-primary btn-sm" onclick="fn_seed_create()">
            <i class="fas fa-save"></i> 추가생성
        </button>
    </div>
</form>