<h3 class="section_tit">CACHE 생성 주기 설정</h3>
<form id="seed-cycle-setting" accept-charset="utf-8" onsubmit="return preSubmit(this);">
    <label>CACHE 데이터 선택</label>
    <div class="input-group">
        <input id="cache-select" type="text" class="form-control" name="cache" value="world_cache" readonly />
        <div class="input-group-append">
            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#searchProxyCache">
                <i class="fas fa-search" data-toggle="tooltip" title="CACHE 선택"></i>
            </button>
        </div>
    </div>

    <div class="input-group my-2">
        <label>SEED 주기 시각</label>
        <div class="row my-2">
            <div class="col-6">
                <div class="input-group mb-3">
                    <select class="form-control" name="month">
                        <option th:each="v : ${ #numbers.sequence(-1, 12) }" th:value="${v}" th:text="${ v == -1 ? '비활성' : (v == 0) ? '매월' : v }" th:selected="${ v == 11 }" />
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" id="month">월(Months)</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <select class="form-control" name="day">
                        <option th:each="v : ${ #numbers.sequence(-1, 31) }" th:value="${v}" th:text="${ v == -1 ? '비활성' : (v == 0) ? '매일' : v }" th:selected="${ v == 11 }" />
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" id="day">일(Days)</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <select class="form-control" name="hour">
                        <option th:each="v : ${ #numbers.sequence(-1, 23) }" th:value="${v}" th:text="${ v == -1 ? '비활성' : (v == 0) ? '자정' : v }" th:selected="${ v == 11 }" />
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" id="hour">시(Hours)</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <select class="form-control" name="minute">
                        <option th:each="v : ${ #numbers.sequence(-1, 59) }" th:value="${v}" th:text="${ v == -1 ? '비활성' : (v == 0) ? '정각' : v }" th:selected="${ v == 11 }" />
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" id="minute">분(Minutes)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="text-right">
        <button type="button" class="btn btn-secondary btn-sm" onclick="fn_initialize_seed_param()">
            <i class="fas fa-sync"></i> 초기화
        </button>

        <button type="button" class="btn btn-primary btn-sm" onclick="fn_seed_cycle_setting()">
            <i class="fas fa-save"></i> 설정
        </button>
    </div>
</form>