<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Based CSS Importing 시작 -->
    <th:block th:replace="fragments/html-page-link" />
    <!-- // Based CSS Importing 끝 -->

    <!-- Custom CSS Importing 시작 -->
    <th:block layout:fragment="custom-html-link" />
    <!-- // Custom CSS Importing 끝 -->

    <!-- Based JS Importing 시작 -->
    <th:block th:replace="fragments/html-page-script" />
    <!-- Based JS Importing 끝 -->

    <!-- Custom JS Importing 시작 -->
    <th:block layout:fragment="custom-html-script" />
    <!-- Custom JS Importing 끝 -->

    <title>JIMap GIS Solution Ver 3.4</title>
</head>
<body>

    <!-- Loading Modal 시작 -->
    <div id="loader-wrapper">
        <div class="loading"></div>
    </div>
    <!-- // Loading Modal 종료 -->

    <!-- Wrapper 시작 -->
    <div id="wrapper" class="skin_dark">

        <!-- Side Bar 시작 -->
        <th:block th:replace="fragments/html-side" />
        <!-- // Side Bar 종료 -->

        <!-- Page Wrapper 시작 -->
        <div id="page-wrapper" class="gray-bg" style="overflow: hidden;">

            <!-- Top Bar 시작 -->
            <div class="row border-bottom">
                <th:block th:replace="fragments/html-header-bar" />
            </div>
            <!-- // Top Bar 종료 -->

            <!-- Breadcrumb 시작 -->
            <div class="content-header">
                <div class="row wrapper border-bottom white-bg page-heading">
                    <th:block layout:fragment="content-breadcrumb-fragment" />
                </div>
            </div>
            <!-- // Breadcrumb 종료 -->

            <!-- // Content 상단 종료 -->

            <!-- Content 내용 시작 -->
            <div class="wrapper wrapper-content animated fadeInRight">
                <!-- Page Content -->
                <th:block layout:fragment="content-body-fragment" />
                <!-- End of Page Content -->
            </div>
            <!-- // Content 내용 종료 -->

            <!-- Footer 시작 -->
            <div class="footer">
                <th:block th:replace="fragments/html-footer" />
            </div>
            <!-- // Footer 종료 -->

        </div>
        <!-- // Page Wrapper 종료 -->

    </div>
    <!-- // Wrapper 종료 -->
</body>
</html>