<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <th:block th:replace="fragments/html-head"></th:block>
    <title>JIMap GIS Solution Ver 3.4</title>
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">JiMap Solution 로그인</h1>
                        </div>
                        <form class="user" method="post" action="login_process">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="회원 아이디 입력">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="회원 비밀번호 입력">
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                <i class="fas fa-sign-in-alt fa-fw"></i> 로그인
                            </button>
                            <a href="/view/guest/home" class="btn btn-warning btn-user btn-block">
                                <i class="fas fa-arrow-left fa-fw"></i> 이전으로
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/view/auth/sign">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Top Link -->
<th:block th:replace="fragments/html-top"></th:block>

<!-- Modal Box -->

<!-- JavaScript Importing -->
<th:block th:replace="fragments/html-js-import"></th:block>

</body>

</html>
