<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">조회</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">조회</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/proxy/setting}">서비스 캐시 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">조회</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">

    <div id="map_block" class="map_top" th:if="${ #lists.size(proxyLayers) > 0 }">
        <!-- 기능 확장 버튼 시작 -->
        <div id="buttons" class="d-flex justify-content-between">
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layerSelect">
                <i class="fas fa-layer-group"></i> Map Proxy 기반 레이어 선택
            </button>

            <!-- FORMAT TEST -->
            <div class="form-group">
                <select class="form-control form-control-sm" onchange="onchange_format(this)">
                    <option value="image/png">image/png</option>
                    <option value="image/jpeg">image/jpeg</option>
                </select>
            </div>

            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#yamlPreview">
                <i class="fas fa-file"></i> Map Proxy YAML 파일 조회
            </button>
        </div>
        <!-- // 기능 확장 버튼 종료 -->
    </div>

    <div class="map_area" th:if="${ #lists.size(proxyLayers) > 0 }">
        <!-- Mapbox 시작 -->
        <div id="map2d" class="mb-2" style="width: 100%; height: calc(100vh - 188px);">
        </div>
        <!-- // Mapbox 종료 -->

        <script th:inline="javascript">
            var localMain = /*[[ ${local} ]]*/ null;
            var port = /*[[ ${port} ]]*/ 0;
            var firstLayer = /*[[ ${#lists.size(proxyLayers) > 0 ? proxyLayers[0].name : 'default-layer'} ]]*/ null;
        </script>

        <script>
            const serviceURL = `http://${localMain && localMain.ip}:${port}/service`;

            var layer = firstLayer;
            // Mapbox 는 BBOX 체계를 3857 를 기준으로 제공한다.
            var projection = 'EPSG:3857';
            var format = 'image/png';

            var map = new mapboxgl.Map({
                container: 'map2d',
                zoom: 10,
                center: [127, 37],
                style: '',
            });

            map.addSource('wms-source', {
                'type': 'raster',
                'tiles': [
                    serviceURL + `?REQUEST=getMap&LAYERS=${firstLayer}&version=1.3.0&crs=${projection}&srs=${projection}&format=${format}&bbox={bbox-epsg-3857}&width=256&height=256&styles=`
                ],
                'tileSize': 256
            });
            map.addLayer(
                {
                    'id': 'wms-layer',
                    'type': 'raster',
                    'source': 'wms-source',
                    'paint': {}
                }
            );

            $(document).ready(function() {
                initialize_dataTable('list_table_layer');
            });

            function onclick_preview_layer(name){
                layer = name;

                map.removeLayer('wms-layer');
                map.removeSource('wms-source');

                map.addSource('wms-source', {
                    'type': 'raster',
                    'tiles': [
                        serviceURL + `?REQUEST=getMap&LAYERS=${layer}&version=1.3.0&crs=${projection}&srs=${projection}&format=${format}&bbox={bbox-epsg-3857}&width=256&height=256&styles=`
                    ],
                    'tileSize': 256
                });
                map.addLayer(
                    {
                        'id': 'wms-layer',
                        'type': 'raster',
                        'source': 'wms-source',
                        'paint': {}
                    }
                );
            }

            function onchange_format(dom){
                format = dom.value;
                onclick_preview_layer(layer);
            }
        </script>
    </div>

    <div class="map_area" th:unless="${ #lists.size(proxyLayers) > 0 }">
        <div class="text-center">
            <h1 class="display-4">
                <i class="fas fa-times-circle"></i> No Data.
            </h1>
            <p class="lead">캐시 설정에 등록된 LAYER 가 없습니다. 등록 이후 다시 시도 하시길 바랍니다.</p>
        </div>

        <script>
            $(document).ready(function() {
                toastr.info('캐시 LAYER 등록은 서비스 캐시 관리 > 설정 메뉴에서 설정하실 수 있습니다.');
            });
        </script>
    </div>

    <!-- Modal (1) 시작 -->
    <div class="modal fade" id="layerSelect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Map Proxy 기반 레이어 선택</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Data List Table - LAYER START -->
                    <table id="list_table_layer" class="table basic my-1">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center">이름</th>
                            <th scope="col" class="text-center">제목</th>
                            <th scope="col" class="text-center">레이어 조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="layer : ${ proxyLayers }">
                            <td class="text-center align-middle" th:text="${ layer.name }"></td>
                            <td class="text-center align-middle" th:text="${ layer.title }"></td>
                            <td class="text-center align-middle">
                                <button class="btn btn-info btn-sm btn-circle" th:onclick="onclick_preview_layer([[${layer.name}]])" data-dismiss="modal">
                                    <i class="fas fa-search"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // Modal (1) 종료 -->

    <!-- Modal (2) 시작 -->
    <div class="modal fade" id="yamlPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Map Proxy YAML 파일 조회</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <textarea class="form-control" readonly rows="20">
[[${proxyYAML}]]
                        </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // Modal (2) 종료 -->

</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">

    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.12.0/mapbox-gl.css}">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.12.0/mapbox-gl-draw.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>

    <script th:src="@{/gis/mapboxgl-1.12.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/gis/mapboxgl-1.12.0/mapbox-gl-draw-unminified.js}"></script>
    <script th:src="@{/js/jiin/jimap_mapbox_map.js}"></script>
</th:block>
</html>