<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">
        SEED 설정</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">SEED 설정</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/proxy/setting}">서비스 캐시 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">SEED 설정</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-xl-4">
            <h3 class="section_tit">Seed 생성</h3>
            <form id="layer-create" accept-charset="utf-8" onsubmit="return preSubmit(this);" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="layer-name">SEED 인덱스(Dokcer 이름)</label>
                    </div>
                    <div class="col-12 input-group">
                        <input type="text" class="form-control" name="name" id="layer-name">
                    </div>
                    <div class="col-12">
                        <small class="form-text text-muted">미입력시 자동생성 됩니다.</small>
                        <small class="form-text text-muted">Docker 이름 중복시 교체됩니다.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label>Cache</label>
                        <input type="text" class="form-control" name="cache" value="basic">
                    </div>
                    <div class="col-6">
                        <label>Coverage</label>
                        <input type="text" class="form-control" name="coverage" value="korea">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label>Level From</label>
                        <input type="text" class="form-control" name="levelFrom" value="11">
                    </div>
                    <div class="col-6">
                        <label>Level To</label>
                        <input type="text" class="form-control" name="levelTo" value="14">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label>타일갱신기준시간(hour)</label>
                        <input type="text" class="form-control" name="refreshBefore" value="1">
                        <small class="form-text text-muted">미입력시 존재하는 타일은 갱신되지 않습니다.</small>
                    </div>
                    <div class="col-6">
                        <label>투영</label>
                        <select class="form-control" name="projection">
                            <option value="epsg:4326" selected="selected">EPSG:4326</option>
                            <option value="epsg:3857">EPSG:3857</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12">영역(위경도)</label>
                    <div class="col-3">
                        <label>xmin</label>
                        <input type="text" class="form-control" name="xmin" value="100">
                    </div>
                    <div class="col-3">
                        <label>ymin</label>
                        <input type="text" class="form-control" name="ymin" value="0">
                    </div>
                    <div class="col-3">
                        <label>xmax</label>
                        <input type="text" class="form-control" name="xmax" value="160">
                    </div>
                    <div class="col-3">
                        <label>ymax</label>
                        <input type="text" class="form-control" name="ymax" value="70">
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="initialize_selected_data()">
                        <i class="fas fa-sync"></i> 초기화
                    </button>

                    <button type="button" class="btn btn-primary btn-sm" onclick="submit_selected_data()">
                        <i class="fas fa-save"></i> 생성
                    </button>
                </div>
            </form>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-12">
                    <h3 class="section_tit">Seed 컨테이너 목록</h3>
                    <table id="list_table" class="table table-sm basic">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center nowrap">NAMES</th>
                            <th scope="col" class="text-center nowrap">CONTAINER ID</th>
                            <th scope="col" class="text-center nowrap">IMAGE</th>
                            <th scope="col" class="text-center nowrap">PORTS</th>
                            <th scope="col" class="text-center nowrap">STATUS</th>
                            <th scope="col" class="text-center nowrap">CREATED</th>
                            <th scope="col" class="text-center nowrap">STOP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="seed : ${ seedContainers }">
                            <td class="text-center align-middle" th:text="${ seed.Names }"></td>
                            <td class="text-center align-middle" th:text="${ seed.ID }"></td>
                            <td class="text-center align-middle" th:text="${ seed.Image }"></td>
                            <td class="text-center align-middle" th:text="${ seed.Ports }"></td>
                            <td class="text-center align-middle" th:text="${ seed.Status }"></td>
                            <td class="text-center align-middle" th:text="${ seed.CreatedAt }"></td>
                            <td class="text-center align-middle">
                                <button class="btn btn-danger btn-sm btn-circle mx-1" type="button" onclick="alert('종료')">
                                    <i class="fas fa-stop"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr style="width: 100%;"/>
                <div class="col-xl-12">
                    <h3 class="section_tit">Seed 진행 내역</h3>
                    <div>
                        <div class="form-group">
                            <label for="layer_name">맵 이름</label>
                            <input class="form-control form-control-sm" id="layer_name" name="layer_name" value="world_k2_lay" readonly />
                        </div>
                        <div class="form-group">
                            <label for="layer_name">캐시 Dir</label>
                            <input class="form-control form-control-sm" id="cache_dir" name="cache_dir" value="/data/jiapp/data_dir/cache/world_k2_cache/" readonly />
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-4">
                                <label for="layer_name">경과시간</label>
                                <input class="form-control form-control-sm text-right"  value="100" readonly />
                            </div>
                            <div class="col-xl-4">
                                <label for="layer_name">퍼센트(%)</label>
                                <input class="form-control form-control-sm text-right"  value="76.25" readonly />
                            </div>
                            <div class="col-xl-4">
                                <label for="layer_name">처리타일수</label>
                                <input class="form-control form-control-sm text-right"  value="132112" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#list_table').each(function () {
                initialize_dataTable(this.id);
            })
        });
    </script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
</th:block>
</html>
