<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">CACHE 설정</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">CACHE 설정</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/proxy/setting}">서비스 캐시 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">CACHE 설정</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-xl-4">
            <div class="form-group">
                <select class="form-control" onchange="onchange_menu_tab(this)">
                    <option value="SEED_SET" th:selected="${ #strings.equals((param.menu == null ? 'SEED_SET' : param.menu), 'SEED_SET') }">CACHE 처리 생성</option>
                    <option value="CLEAN_UP" th:selected="${ #strings.equals((param.menu == null ? 'SEED_SET' : param.menu), 'CLEAN_UP') }">CACHE 소멸 설정</option>
                </select>
            </div>
            <hr/>
            <div th:if="${ #strings.equals(param.menu, 'SEED_SET') }">
                <th:block th:replace="fragments/seed/html-seed-setting"></th:block>
            </div>
            <div th:if="${ #strings.equals(param.menu, 'CLEAN_UP') }">
                <th:block  th:replace="fragments/seed/html-cleanup-setting"></th:block>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-12">
                    <h3 class="section_tit">CACHE 처리 진행 현황 목록</h3>
                    <table id="list_table" class="table table-sm basic">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center nowrap">진행 현황 ID</th>
                            <th scope="col" class="text-center nowrap">이름</th>
                            <th scope="col" class="text-center nowrap">이미지</th>
                            <th scope="col" class="text-center nowrap">상태 정보</th>
                            <th scope="col" class="text-center nowrap">생성 기간</th>
                            <th scope="col" class="text-center nowrap">버튼</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="seed : ${ seedContainers }">
                            <td class="text-center align-center"
                                th:text="${ seed.id.substring(0, 15) + '...' }"
                                th:title="${ seed.id }"
                            ></td>
                            <td class="text-center align-center" th:text="${ seed.name }"></td>
                            <td class="text-center align-center" th:text="${ seed.image }"></td>
                            <td class="text-center align-center" th:text="${ #strings.toUpperCase(seed.status) }"></td>
                            <td class="text-center align-center" th:text="${ #dates.format(seed.createdAt, 'yyyy-MM-dd HH:mm')  }"></td>
                            <td>
                                <button class="btn btn-warning btn-sm btn-circle mx-1" type="button" th:onclick="fn_seed_view([[${seed.name}]])" title="진행 현황 보기" data-toggle="tooltip">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button th:if="${ seed.isDefault() }" class="btn btn-success btn-sm btn-circle mx-1" type="button" th:onclick="fn_default_seed_reload()" title="기본 CACHE 호출" data-toggle="tooltip">
                                    <i class="fas fa-server"></i>
                                </button>
                                <button th:unless="${ seed.isDefault() }" class="btn btn-danger btn-sm btn-circle mx-1" type="button" th:onclick="fn_seed_remove([[${seed.name}]])" title="진행 중단" data-toggle="tooltip">
                                    <i class="fas fa-stop"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr style="width: 100%;"/>
                <form class="col-xl-12" id="detail-form">
                    <h3 class="section_tit">개별 CACHE 진행 현황 정보</h3>
                    <div>
                        <div class="form-group">
                            <label>처리 중인 CACHE 이름</label>
                            <input class="form-control form-control-sm seed-preview" name="seed_name" readonly />
                        </div>
                        <div class="form-group mt-2">
                            <label>진행 중인 영역</label>
                            <div class="row">
                                <div class="col-3">
                                    <label>Min X.</label>
                                    <input class="form-control form-control-sm text-right seed-preview" name="xmin" readonly />
                                </div>
                                <div class="col-3">
                                    <label>Min Y.</label>
                                    <input class="form-control form-control-sm text-right seed-preview" name="ymin" readonly />
                                </div>
                                <div class="col-3">
                                    <label>Max X.</label>
                                    <input class="form-control form-control-sm text-right seed-preview" name="xmax" readonly />
                                </div>
                                <div class="col-3">
                                    <label>Max Y.</label>
                                    <input class="form-control form-control-sm text-right seed-preview" name="ymax" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                <label>경과 시간</label>
                                <input class="form-control form-control-sm text-right seed-preview" name="time" readonly />
                            </div>
                            <div class="col-3">
                                <label>진행 중인 ZOOM 레벨</label>
                                <input class="form-control form-control-sm text-right seed-preview" name="level" readonly />
                            </div>
                            <div class="col-3">
                                <label>진행도 (%)</label>
                                <input class="form-control form-control-sm text-right seed-preview" name="per" readonly />
                            </div>
                            <div class="col-3">
                                <label>처리된 타일 수</label>
                                <input class="form-control form-control-sm text-right seed-preview" name="tile_count" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchProxyCache" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CACHE 데이터 선택</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="list_table_caches" class="table table-sm basic my-1">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center">선택</th>
                            <th scope="col" class="text-center">이름</th>
                            <th scope="col" class="text-center">종류</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cache : ${proxyCaches}">
                            <td class="text-center">
                                <button th:class="${ cache.name == 'world_cache' ? 'btn btn-sm btn-primary btn-circle' : 'btn btn-sm btn-secondary btn-circle' }"
                                        type="button"
                                        title="CACHE 설정"
                                        th:onclick="onclick_set_cache_data([[${cache.name}]])"
                                >
                                    <i th:class="${ cache.name == 'world_cache' ? 'fas fa-check-circle' : 'fas fa-circle' }"></i>
                                </button>
                            </td>
                            <td class="text-center align-middle" th:text="${ cache.name }"></td>
                            <td class="text-center align-middle" th:text="${ 'file' }"></td>
                        </tr>
                        </tbody>
                    </table>

                    <p><span class="text-info">(*)</span> : 선택 가능한 CACHE 데이터는 <a th:href="@{/view/proxy/setting}">서비스 조회 - 설정</a> 에 등록한 CACHE 데이터에 한해 가능합니다.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#list_table').each(function () {
                initialize_dataTable(this.id, {columnDefs: [
                    { targets: 0, className: "text-center" },
                    { targets: 1, className: "text-center" },
                    { targets: 2, className: "text-center" },
                    { targets: 3, className: "text-center" },
                    { targets: 4, className: "text-center" },
                    { targets: 5, className: "text-center text-nowrap" },
                ]});
            })

            initialize_small_dataTable('list_table_caches');
        });

        // Map Proxy YAML 파일에 저장된 내용들을 불러온다.
        function fn_initialize_seed_param(){
            // 선택된 캐시 이름
            $('#cache-select').val('world_cache');

            // 범위 이름
            $('input[name="coverage"]').val('korea');

            // 확대 레벨
            $('select[name="levelFrom"]').val('11');
            $('select[name="levelTo"]').val('14');

            // 생성
            $('input[name="refreshBefore"]').val(1);
            $('select[name="refreshBeforeType"]').val('hours');
            $('input[name="removeBefore"]').val(1);
            $('select[name="removeBeforeType"]').val('day');

            // 좌표 초기화
            $('select[name="projection"]').val('epsg:4326');
            $('#minx').val(115);
            $('#miny').val(30);
            $('#maxx').val(135);
            $('#maxy').val(45);
        }

        function fn_seed_create(){
            if(confirm("새로운 CACHE 처리를 진행하시겠습니까?")){
                $.ajax({
                    url: CONTEXT + '/view/proxy/seeding-create',
                    type: 'get',
                    data: jQuery("#seed-create").serialize(),
                    success: function(data){
                        if(!data.RESULT){
                            toastr.error(data.MESSAGE);
                        } else {
                            var seed = data.RESULT;
                            var table = $('#list_table').DataTable();
                            table.row.add([
                                seed.id.substring(0, 15) + "...",
                                seed.name,
                                seed.image,
                                seed.status,
                                getTimeStamp(),
                                '<button class="btn btn-success btn-sm btn-circle mx-1" type="button" onclick="fn_seed_view(\''+seed.name+'\')" title="진행 현황 보기"><i class="fas fa-eye"></i></button>' +
                                '<button class="btn btn-danger btn-sm btn-circle mx-1" type="button" onclick="fn_seed_remove(\''+seed.name+'\')" title="진행 중단"><i class="fas fa-stop"></i></button>'
                            ]).draw( false );

                            var message = data.MESSAGE;
                            toastr.success(message);
                        }
                    },
                    error: function(e){
                        toastr.error("CACHE 처리 진행에 실패하였습니다.");
                        console.error(e);
                    }
                });
            }
        }

        function fn_cleanup_setting() {
            if(confirm("CACHE 소멸을 설정 하시겠습니까?")){
                $.ajax({
                    url: CONTEXT + '/view/proxy/cleanup-setting',
                    type: 'get',
                    data: jQuery("#cleanup-setting").serialize(),
                    success: function(data){
                        var count = data.SUCCESS;
                        if(count == 0){
                            toastr.error("CACHE 소멸 작업이 진행되지 않았습니다.");
                        } else {
                            toastr.success("CACHE 소멸 작업이 " + count + " 개 설정 되었습니다.");
                        }
                        location.reload();
                    },
                    error: function(e){
                        toastr.error("CACHE 소멸 작업에 실패하였습니다.");
                        console.error(e);
                    }
                });
            }
        }

        function fn_seed_remove(seedName){
            if(confirm("CACHE 처리를 중단 하시겠습니까?")){
                $.ajax({
                    url: CONTEXT + '/view/proxy/seeding-stop',
                    type: 'get',
                    data: { SEEDNAME : seedName },
                    success: function(data){
                        if(data.RESULT === 'FAILURE'){
                            toastr.error("CACHE 처리 중단 실패하였습니다.")
                        } else {
                            var table = $('#list_table').DataTable();
                            var datas = table.data()
                            jQuery.each(datas, function(idx, item){
                                if(seedName == new String(item[1])){
                                    table.row(idx).remove().draw( false )
                                }
                            });
                            toastr.success("CACHE 처리 중단에 성공하였습니다.");
                            $('.seed-preview').val('');
                        }
                    },
                    error: function(e){
                        console.error(e)
                        toastr.error("CACHE 처리 중단에 실패하였습니다.");
                    }
                });
            }
        }

        function fn_default_seed_reload(){
            if(confirm("기본 CACHE 처리 를 재시작 하시겠습니까?")){
                $.ajax({
                    url: CONTEXT + '/view/proxy/default-seeding-reload',
                    type: 'get',
                    success: function(data){
                        if (data.RESULT == '') {
                            toastr.error("CACHE 처리 재시작에 실패하였습니다.");
                        } else {
                            toastr.success("CACHE 처리 재시작에 성공하였습니다.");
                        }
                    },
                    error: function(e){
                        console.error(e);
                        toastr.error("CACHE 처리 재시작에 실패하였습니다.");
                    }
                });
            }
        }

        function fn_seed_view(seedName){
            $.ajax({
                url: CONTEXT + '/view/proxy/seeding-info',
                type: 'get',
                data: { SEEDNAME : seedName },
                success: function(data){
                    var form = document.getElementById("detail-form");
                    form.seed_name.value = seedName
                    form.xmin.value = data.LOGS.XMIN.replace(",","")
                    form.ymin.value = data.LOGS.YMIN.replace(",","")
                    form.xmax.value = data.LOGS.XMAX.replace(",","")
                    form.ymax.value = data.LOGS.YMAX.replace(",","")
                    form.level.value = data.LOGS.LEVEL
                    form.time.value = data.RunningFor
                    form.per.value = data.LOGS.PER
                    form.tile_count.value = data.LOGS.TILES_CNT.replace("(","")
                },
                error: function(e){
                    console.error(e)
                }
            });
        }

        function getTimeStamp() {
            var d = new Date();
            var s =
                leadingZeros(d.getFullYear(), 4) + '-' +
                leadingZeros(d.getMonth() + 1, 2) + '-' +
                leadingZeros(d.getDate(), 2) + ' ' +

                leadingZeros(d.getHours(), 2) + ':' +
                leadingZeros(d.getMinutes(), 2);

            return s;
        }

        function leadingZeros(n, digits) {
            var zero = '';
            n = n.toString();

            if (n.length < digits) {
                for (i = 0; i < digits - n.length; i++) {
                    zero += '0';
                }
            }
            return zero + n;
        }

        function onchange_seed_srs(dom) {
            var srs = dom.value;
            var minx = $('#minx').val();
            var miny = $('#miny').val();
            var maxx = $('#maxx').val();
            var maxy = $('#maxy').val();

            var p1 = [0, 0], p2 = [0, 0];
            if (srs === 'epsg:3857') {
                p1 = [-20026376.39, -20048966.10];
                p2 = [20026376.39, 20048966.10];
                if (!isNaN(minx) && !isNaN(miny) && !isNaN(maxx) && !isNaN(maxy)) {
                    p1 = jiCommon.convert.wgs84ToMercator(minx, miny);
                    p2 = jiCommon.convert.wgs84ToMercator(maxx, maxy);
                }
            }
            if (srs === 'epsg:4326') {
                p1 = [-180, -90];
                p2 = [180, 90];
                if (!isNaN(minx) && !isNaN(miny) && !isNaN(maxx) && !isNaN(maxy)) {
                    p1 = jiCommon.convert.mercatorToWgs84(minx, miny);
                    p2 = jiCommon.convert.mercatorToWgs84(maxx, maxy);
                }
            }

            $('#minx').val(Math.round(p1[0]));
            $('#miny').val(Math.round(p1[1]));
            $('#maxx').val(Math.round(p2[0]));
            $('#maxy').val(Math.round(p2[1]));
        }

        function onclick_set_cache_data(cache) {
            var table = $('#list_table_caches').DataTable();
            var datas = table.data();
            var beforeData = $('#cache-select').val();

            var beforeIdx = -1;
            var afterIdx = -1;
            for (var i = 0; i < datas.length; i++) {
                if (beforeData === datas[i][1]) {
                    beforeIdx = i;
                }
                if (cache === datas[i][1]) {
                    afterIdx = i;
                }
            }

            table.cell({row:beforeIdx, column:0}).data(
                `<button class="btn btn-sm btn-circle btn-secondary"
                        type="button"=
                        title="CACHE 설정"
                        onclick="onclick_set_cache_data('${beforeData}')"
                >
                    <i class="fas fa-circle"></i>
                </button>`
            );

            table.cell({row:afterIdx, column:0}).data(
                `<button class="btn btn-sm btn-circle btn-primary"
                        type="button"
                        title="CACHE 설정"
                        onclick="onclick_set_cache_data('${cache}')"
                >
                    <i class="fas fa-check-circle"></i>
                </button>`
            );

            $('#cache-select').val(cache);
            $('#searchProxyCache').modal('toggle');
        }

        function onchange_menu_tab(dom) {
            var value = dom.value;
            window.location.href = CONTEXT + '/view/proxy/seeding?menu=' + value;
        }
    </script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/js/plugins/jquery-ui/jquery-ui.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
</th:block>
</html>
