<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">설정</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">설정</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/cache/setting}">서비스 캐시 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">설정</li>
        </ol>
    </nav>
</th:block>
</nav>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-xl-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="layer-tab" data-toggle="tab" href="#layer" role="tab" aria-controls="layer" aria-selected="true">Layer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="source" aria-selected="false">Source</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cache-tab" data-toggle="tab" href="#cache" role="tab" aria-controls="cache" aria-selected="false">Cache</a>
                </li>
            </ul>
            <div class="tab-content" id="tab_context_view">
                <div class="tab-pane fade show active" id="layer" role="tabpanel" aria-labelledby="layer-tab">
                    <th:block th:replace="fragments/proxy/html-proxy-layer"></th:block>
                </div>

                <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
                    <th:block th:replace="fragments/proxy/html-proxy-source"></th:block>

                </div>

                <div class="tab-pane fade" id="cache" role="tabpanel" aria-labelledby="cache-tab">
                    <th:block th:replace="fragments/proxy/html-proxy-cache"></th:block>
                </div>
            </div>
        </div>

        <!-- 선택 목록 View 시작 -->
        <div class="col-xl-6">

            <!-- 선택된 레이어 목록 View 시작 -->
            <div id="layer_select" class="my-2">
                <p>레이어 선택 <span style="color: red;">(*)</span></p>

                <ul class="list-group" id="selectedLayers">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        데이터 로딩 중
                        <span class="badge badge-info badge-pill">
                            <i class="fas fa-sync"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- // 선택된 레이어 목록 View 종료 -->

            <!-- 선택된 소스 목록 View 시작 -->
            <div id="source_select" class="my-2">
                <p>소스 선택 <span style="color: red;">(*)</span></p>

                <ul class="list-group" id="selectedSources">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        데이터 로딩 중
                        <span class="badge badge-info badge-pill">
                            <i class="fas fa-sync"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- // 선택된 소스 목록 View 종료 -->

            <!-- 선택된 캐시 목록 View 시작 -->
            <div id="cache_select" class="my-2">
                <p>캐시 선택</p>

                <ul class="list-group" id="selectedCaches">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        데이터 로딩 중
                        <span class="badge badge-info badge-pill">
                            <i class="fas fa-sync"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- // 선택된 캐시 목록 View 종료 -->

            <div class="text-right">
                <button type="button" class="btn btn-secondary btn-sm" onclick="initialize_selected_data()">
                    <i class="fas fa-sync"></i> 초기화
                </button>

                <button type="button" class="btn btn-primary btn-sm" onclick="submit_selected_data()">
                    <i class="fas fa-save"></i> 저장
                </button>
            </div>
        </div>
    </div>
    <!-- // 선택 목록 View 종료 -->

    <script>
        var cacheDirectoryPath = '[[${proxyCacheDirectory}]]';
        var dataDirPath = '[[${dataDirectory}]]';
        var mapServerBinary = '[[${mapServerBinary}]]';
    </script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
    <script th:src="@{/js/page/proxy-setting-page.js}"></script>
</th:block>
</html>