<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<!-- https://www.pgpool.net/docs/pgpoolAdmin/en/config.html : PGPool 2 설정 파일 Ref. -->
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">LOG 관리</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">LOG 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/server/log-manage}">서버</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">LOG 관리</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div>
        <h1>LOG 관리 페이지 (Logback 기반 UI 구성 필요)</h1>
        <h2>이에 관련된 설정을 위해 사용될 예정. (삭제하지 마세요.)</h2>
    </div>
</th:block>
</html>