<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">서비스 주소 관리</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">서비스 주소 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/server/service-info}">서버</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">서비스 주소 관리</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div id="service-address-view-exist" th:if="${ local != null }">
        <div class="row">
            <!-- 서버 주소 선택 시작 -->
            <div class="col-md-6">
                <h3 class="section-tit my-2">서버 주소 선택</h3>
                <div class="text-right mb-2">
                    <button type="button" class="btn btn-primary" onclick="onclick_initialize_button('INSERT')">
                        <i class="fas fa-plus"></i> 서버 생성
                    </button>
                </div>

                <table id="list_table" class="table table-sm basic my-1">
                    <thead class="table-info">
                    <tr>
                        <th scope="col" class="text-center">IP 주소</th>
                        <th scope="col" class="text-center">호스트 이름</th>
                        <th scope="col" class="text-center">서버 ZONE</th>
                        <th scope="col" class="text-center">서버 종류</th>
                        <th scope="col" class="text-center">수정 및 삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="connection : ${ connections }">
                        <td class="text-center align-middle" th:text="${connection.ip}" th:id="${ 'remove-ip-' + connection.key }">[IP 주소]</td>
                        <td class="text-center align-middle" th:text="${connection.name}">[호스트 이름]</td>
                        <td class="text-center align-middle">
                            <span th:text="${ connection.zone == 'GOC' ? '지작사' : connection.zone }" th:id="${ 'remove-zone-' + connection.key }"></span>
                        </td>
                        <td class="text-center align-middle">
                            <span th:text="${ connection.kind == 'NSI' ? 'N-SI' : connection.kind }" th:id="${ 'remove-kind-' + connection.key }"></span>
                        </td>
                        <td class="text-center align-middle">
                            <button th:id="${ 'connectUpdate_' + connection.key }" class="btn btn-info btn-circle btn-sm mx-1" type="button"
                                    th:onclick="onclick_server_address_edit([[${connection.key}]])"
                                    th:data-name="${connection.name}"
                                    th:data-zone="${connection.zone}"
                                    th:data-kind="${connection.kind}"
                                    th:data-ip="${connection.ip}"
                                    th:data-description="${connection.description}"
                                    th:data-key="${connection.key}"
                            >
                                <i class="fas fa-cog" data-toggle="tooltip" data-placement="top" title="수정"></i>
                            </button>
                            <a class="btn btn-danger btn-circle btn-sm mx-1" type="button" th:href="@{ '/view/server/remove-server?key=' + ${connection.key} }" th:onclick="return onclick_remove_server([[${connection.key}]])">
                                <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="삭제"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- // 서버 주소 선택 종료 -->

            <!-- 서버 주소 편집 시작 -->
            <div class="col-md-6">
                <form id="svr-local-form" method="post" accept-charset="utf-8" action="local-save" onsubmit="return onsubmit_duplex('local')">
                    <h3 class="section-tit my-2">로컬 서버 설정</h3>
                    <div class="form-row mb-1">
                        <input type="hidden" id="local-key" name="key" th:value="${local.key}" />

                        <div class="col-6 mb-1">
                            <label for="local-name">호스트 이름</label>
                            <input type="text" class="form-control" id="local-name" name="name" th:value="${local.name}" readonly  />
                        </div>

                        <div class="col-6 mb-1">
                            <label for="local-zone">서버 ZONE</label>
                            <select class="form-control" id="local-zone" name="zone" th:value="${local.zone}" disabled>
                                <option th:each="zone : ${ zones }" th:value="${zone}" th:text="${zone == 'GOC' ? '지작사' : zone}" />
                            </select>
                        </div>

                        <div class="col-6 mb-1">
                            <label for="local-kind">서버 종류</label>
                            <select class="form-control" id="local-kind" name="kind" th:value="${local.kind}" disabled>
                                <option th:each="kind : ${ kinds }" th:value="${kind}" th:text="${kind == 'NSI' ? 'N-SI' : kind}" />
                            </select>
                        </div>

                        <div class="col-6 mb-1">
                            <label for="local-ip">IP 주소</label>
                            <input type="text" class="form-control" id="local-ip" name="ip" th:value="${local.ip}" readonly />
                        </div>

                        <div class="col-12 mb-1">
                            <label for="local-description">서버 부가 설명</label>
                            <input type="text" class="form-control" id="local-description" name="description" th:value="${local.description}" readonly />
                        </div>
                    </div>

                    <div class="text-right mt-1">
                        <button id="setting-btn-local" type="button" class="btn btn-info" onclick="onclick_local_edit_button()">
                            <i class="fas fa-cog"></i> 설정
                        </button>

                        <button id="save-btn-local" type="submit" class="btn btn-primary" disabled>
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>

                <hr/>

                <form id="svr-remote-form" method="post" accept-charset="utf-8" action="remote-save" onsubmit="return onsubmit_duplex('remote')">
                    <h3 class="section-tit my-2">연동 서버 관리<span id="remote-method"></span></h3>
                    <input type="hidden" id="svr-method" name="method" />
                    <input type="hidden" id="remote-key" name="key" />
                    <div class="form-row mb-1">
                        <div class="col-6 mb-1">
                            <label for="remote-name">호스트 이름</label>
                            <input type="text" class="form-control" id="remote-name" name="name" readonly />
                        </div>

                        <div class="col-6 mb-1">
                            <label for="remote-zone">서버 ZONE</label>
                            <select class="form-control" id="remote-zone" name="zone" disabled>
                                <option th:each="zone : ${ zones }" th:value="${zone}" th:text="${zone == 'GOC' ? '지작사' : zone}" />
                            </select>
                        </div>

                        <div class="col-6 mb-1">
                            <label for="remote-kind">서버 종류</label>
                            <select class="form-control" id="remote-kind" name="kind" disabled>
                                <option th:each="kind : ${ kinds }" th:value="${kind}" th:text="${kind == 'NSI' ? 'N-SI' : kind}" />
                            </select>
                        </div>

                        <div class="col-6 mb-1">
                            <label for="remote-ip">IP 주소 이름</label>
                            <input type="text" class="form-control" id="remote-ip" name="ip" readonly />
                        </div>

                        <div class="col-12 mb-1">
                            <label for="remote-description">서버 부가 설명</label>
                            <input type="text" class="form-control" id="remote-description" name="description" readonly />
                        </div>
                    </div>

                    <div class="text-right mt-1">
                        <button id="cancel-btn-remote" type="button" class="btn btn-secondary" onclick="return onclick_initialize_button('cancel')" disabled>
                            <i class="fas fa-times"></i> 취소
                        </button>

                        <button id="save-btn-remote" type="submit" class="btn btn-primary" disabled>
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
            <!-- // 서버 주소 편집 종료 -->

        </div>

        <script th:inline="javascript">
            var message = /*[[ ${message} ]]*/ null;
            var localMain = /*[[ ${local} ]]*/ null;
            var connections = /*[[ ${connections} ]]*/ [];
            var localEditable = false;
        </script>
        <script>
            $(document).ready(function() {
                if (!$.isEmptyObject(message)) {
                    toastr.info(message);
                }

                if(sessionStorage.hasOwnProperty("duplex")){
                    toastr.info(sessionStorage.getItem("duplex"));
                    sessionStorage.removeItem("duplex");
                }

                $('#local-zone').val(localMain.zone);
                $('#local-kind').val(localMain.kind);

                initialize_dataTable('list_table');
            });

            // 로컬 서버 주소 편집 버튼 클릭 시 실행되는 함수
            function onclick_local_edit_button(){
                localEditable = !localEditable;

                document.getElementById('save-btn-local').disabled = !localEditable;

                if(localEditable){
                    document.getElementById('setting-btn-local').className = "btn btn-secondary";
                    document.getElementById('setting-btn-local').innerHTML = '<i class="fas fa-times"></i> 취소';
                } else {
                    document.getElementById('setting-btn-local').className = "btn btn-info";
                    document.getElementById('setting-btn-local').innerHTML = '<i class="fas fa-cog"></i> 설정';
                }

                var serverZone = document.getElementById('local-zone');
                var serverKind = document.getElementById('local-kind');
                serverZone.disabled = !localEditable;
                serverKind.disabled = !localEditable;

                for(var dom of $('[id^=local]')){
                    var i = dom.id;
                    if (!i.endsWith('zone') && !i.endsWith('kind') && !i.endsWith('key')) {
                        if (!localEditable) {
                            dom.value = localMain[i.replace('local-', '')];
                        }
                        dom.readOnly = !localEditable;
                    }
                }

                if(!localEditable){
                    document.getElementById('local-zone').value = localMain && localMain.zone;
                    document.getElementById('local-kind').value = localMain && localMain.kind;
                }
            }

            // 연동 서버 주소 편집 버튼 클릭 시 실행되는 함수
            function onclick_server_address_edit(key){
                $('#svr-method').val('UPDATE');
                document.getElementById('remote-method').innerText = '- 수정';

                document.getElementById('cancel-btn-remote').disabled = false;
                document.getElementById('save-btn-remote').disabled = false;

                var btn = $("#connectUpdate_" + key);
                document.getElementById('remote-ip').value = btn.data('ip');
                document.getElementById('remote-name').value = btn.data('name');
                document.getElementById('remote-zone').value = btn.data('zone');
                document.getElementById('remote-kind').value = btn.data('kind');
                document.getElementById('remote-description').value = btn.data('description');
                document.getElementById('remote-key').value = btn.data('key');

                var serverZone = document.getElementById('remote-zone');
                var serverKind = document.getElementById('remote-kind');
                serverZone.disabled = false;
                serverKind.disabled = false;

                // 서버 관련 Field Read Only 해제
                for(var dom of $('[id^=remote]')){
                    var i = dom.id;
                    if(!i.endsWith('zone') && !i.endsWith('kind') && !i.endsWith('key')){
                        dom.readOnly = false;
                    }
                }
            }

            // 상황에 따른 버튼 상태 초기화
            function onclick_initialize_button(type){
                $('#svr-method').val((type === 'cancel') ? 'NONE' : 'INSERT');

                document.getElementById('remote-method').innerText = (type === 'cancel') ? '' : '- 생성';
                document.getElementById('cancel-btn-remote').disabled = (type === 'cancel');
                document.getElementById('save-btn-remote').disabled = (type === 'cancel');

                var serverZone = document.getElementById('remote-zone');
                var serverKind = document.getElementById('remote-kind');

                serverZone.value = localMain && localMain.zone;
                serverKind.value = localMain && localMain.kind;

                serverZone.disabled = (type === 'cancel');
                serverKind.disabled = (type === 'cancel');

                for(var dom of $('[id^=remote]')){
                    var i = dom.id;
                    if(!i.endsWith('zone') && !i.endsWith('kind')){
                        dom.value = '';
                        dom.readOnly = (type === 'cancel');
                    }
                }
            }

            function onsubmit_duplex(area){
                var key;
                if(area === 'local'){
                    key = `${document.getElementById('local-zone').value}-${document.getElementById('local-kind').value}-${document.getElementById('local-name').value}`;
                    if (contains_key_validate(key)) {
                        toastr.warning('연동되어 있는 서버 목록 중에 같은 타입, 종류, 호스트 이름이 있습니다. 다시 작성하시길 바랍니다.');
                        return false;
                    }
                } else {
                    var method = document.getElementById('svr-method').value;
                    switch(method) {
                        case 'INSERT' :
                            var newKey = `${document.getElementById('remote-zone').value}-${document.getElementById('remote-kind').value}-${document.getElementById('remote-name').value}`;
                            if (contains_key_validate(newKey)) {
                                toastr.warning('연동되어 있는 서버 목록 중에 같은 타입, 종류, 호스트 이름이 있습니다. 다시 작성하시길 바랍니다.');
                                return false;
                            }
                            return true;
                        case 'UPDATE' :
                            var key = document.getElementById('remote-key').value;
                            if (!contains_key_validate(key)) {
                                toastr.warning('연동되어 있는 서버 목록 중에 같은 타입, 종류, 호스트 이름이 존재하지 않습니다. 다시 작성하시길 바랍니다.');
                                return false;
                            }
                            return true;
                        default :
                            return false;
                    }
                }
            }

            function onclick_remove_server(key){
                if(confirm('서버 [' + key + '] 삭제를 진행 하시겠습니까?')){
                    return true;
                } else return false;
            }

            // 현재 연동된 연결 리스트 중에 해당 key 가 포함되어 있는지 확인한다.
            function contains_key_validate(key){
                for(var server of connections){
                    if (server.key === key) {
                        return true;
                    }
                }
                return false;
            }
        </script>
    </div>
    <div class="jumbotron jumbotron-fluid" th:unless="${ local != null }">
        <div class="container">
            <h1 class="display-4">
                <i class="fas fa-times-circle"></i> Not Working...
            </h1>
            <p class="lead">YAML 파일에 설정된 LOCAL 데이터가 작성되지 않았습니다. 다시 시도 바랍니다.</p>
        </div>
    </div>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/js/plugins/jquery-ui/jquery-ui.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
</th:block>
</html>