<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">서버 관리 - 서비스 정보</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/server/service-info}">서버 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">서비스 정보</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <p>서비스 정보 기능</p>
</th:block>
</html>