<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">서비스 관리</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">서비스 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/server/service-info}">서버</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">서비스 관리</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- 서버 상태 조회 시작 -->
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <h3 class="text-center section_tit">
                서비스 상태 조회 및 관리
            </h3>
            <div id="carousel">
                <div th:each="service : ${serviceMap.keySet()}">
                    <div class="ibox-content mx-1">
                        <div class="text-sm font-weight-bold mb-1 text-center">
                            <i class="h1 fas fa-question" th:id="${ 'service-status-icon-' + serviceMap.get(service).name }"></i>
                        </div>
                        <div class="text-sm font-weight-bold mb-1 text-center">
                            <p><b th:text="${service}" th:id="${ 'service-status-title-' + serviceMap.get(service).name }"></b></p>
                            <p th:text="${serviceMap.get(service).status}" th:id="${ 'service-status-text-' + serviceMap.get(service).name }"></p>
                        </div>
                        <div class="text-center">
                            <button th:id="${ 'service-refresh-' + serviceMap.get(service).name }" class="btn btn-primary btn-sm px-1" th:onclick="onclick_status_refresh([[${serviceMap.get(service).name}]],[[${local.ip}]],[[${serviceMap.get(service).port}]])">
                                <i class="fas fa-sync"></i>
                            </button>

                            <!-- docker container 전용 버튼 -->
                            <block th:remove="tag" th:if="${ serviceMap.get(service).port == 0 }">
                                <button
                                    th:id="${ 'service-start-' + serviceMap.get(service).name }"
                                    class="btn btn-info btn-sm px-1"
                                    th:data-service="${ service }"
                                    th:data-link="${ '/view/server/service-execute?method=START&name=' + serviceMap.get(service).name  }"
                                    data-method="START"
                                    onclick="onclick_service_execute(this)"
                                >
                                    <i class="fas fa-play-circle"></i>
                                </button>
                                <button
                                    th:id="${ 'service-stop-' + serviceMap.get(service).name }"
                                    class="btn btn-danger btn-sm px-1"
                                    th:data-service="${ service }"
                                    th:data-link="${ '/view/server/service-execute?method=STOP&name=' + serviceMap.get(service).name }"
                                    data-method="STOP"
                                    onclick="onclick_service_execute(this)"
                                >
                                    <i class="fas fa-stop-circle"></i>
                                </button>
                                <button
                                    th:id="${ 'service-restart-' + serviceMap.get(service).name }"
                                    class="btn btn-warning btn-sm px-1"
                                    th:data-service="${ service }"
                                    th:data-link="${ '/view/server/service-execute?method=RESTART&name=' + serviceMap.get(service).name }"
                                    data-method="RESTART"
                                    onclick="onclick_service_execute(this)"
                                >
                                    <i class="fas fa-reply"></i>
                                </button>
                            </block>

                            <!-- 나머지 전용 버튼 -->
                            <block th:remove="tag" th:unless="${ serviceMap.get(service).port == 0 }">
                                <button
                                    th:id="${ 'service-restart-' + serviceMap.get(service).name }"
                                    class="btn btn-warning btn-sm px-1"
                                    th:data-service="${ service }"
                                    th:data-link="${ '/view/server/service-execute?method=RESTART&name=' + serviceMap.get(service).name }"
                                    th:data-method="RESTART"
                                    onclick="onclick_service_execute(this)"
                                >
                                    <i class="fas fa-reply"></i>
                                </button>
                            </block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // 서버 상태 조회 종료 -->

    <!-- 서버 작동 내역 조회 시작 -->
    <div class="py-1">
        <h2 class="section_tit">서비스 작동 내역 조회</h2>
        <div class="text-right my-1">
            <button class="btn btn-sm btn-danger" type="button" onclick="onclick_remove_all_history()">
                <i class="fas fa-trash"></i> 전체 삭제
            </button>
        </div>
        <table id="list_table_shutdown" class="table table-sm basic">
            <thead class="table-info">
            <tr>
                <th scope="col" class="text-center">서비스 이름</th>
                <th scope="col" class="text-center">서비스 명령어</th>
                <th scope="col" class="text-center">성공 여부</th>
                <th scope="col" class="text-center">작동자</th>
                <th scope="col" class="text-center">작동 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${ histories }">
                <td class="text-center align-middle" th:text="${history.name}"></td>
                <td class="text-center align-middle" th:text="${history.command}"></td>
                <td class="text-center align-middle">
                    <i class="fas fa-check-circle text-info" th:if="${history.succeed}"></i>
                    <i class="fas fa-times-circle text-danger" th:unless="${history.succeed}"></i>
                </td>
                <td class="text-center align-middle" th:text="${history.workedUser}"></td>
                <td class="text-center align-middle" th:text="${#dates.format(history.workedDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        var localMain = /*[[ ${local} ]]*/ null;
        var message = /*[[ ${message} ]]*/ null;
    </script>

    <script>
        $(document).ready(function() {
            if (!jQuery.isEmptyObject(message)) {
                toastr.info(message);
            }

            $('#list_table_shutdown,#list_table_restart').each(function () {
                initialize_dataTable(this.id);
            });

            $('#carousel').slick({
                infinite: true,
                slidesToShow: 6,
                slidesToScroll: 6,
                responsive: [
                    {
                        breakpoint: 1440,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    }
                ]
            });

            for(var dom of $('[id^=service-refresh-]')){
                dom.click();
            }
        });

        function display_initialize(service, type){
            var dom_icon = document.getElementById('service-status-icon-' + service);
            var dom_text = document.getElementById('service-status-text-' + service);
            var dom_title = document.getElementById('service-status-title-' + service);

            dom_text.innerText = type;
            dom_text.className = (type === 'LOADING') ? '' : 'text-danger';
            dom_title.className = (type === 'LOADING') ? '' : 'text-danger';
            dom_icon.className = (type === 'LOADING') ? 'h1 fas fa-spin fa-spinner' : 'h1 fas fa-exclamation-triangle text-danger';

            if(type === 'ERROR') {
                $(`#service-refresh-${service}`).prop('disabled', true);
                $(`#service-start-${service}`).prop('disabled', true);
                $(`#service-stop-${service}`).prop('disabled', true);
                $(`#service-restart-${service}`).prop('disabled', true);
            }
        }

        function onclick_status_refresh(service, ip, port){
            var successFunc = function(status){
                var dom_icon = document.getElementById('service-status-icon-' + service);
                var dom_text = document.getElementById('service-status-text-' + service);
                var dom_title = document.getElementById('service-status-title-' + service);

                var res = status.result && status.result.toUpperCase();
                dom_text.innerText = res ? res : 'UNKNOWN';

                var res = status.result.toUpperCase();
                switch(res){
                    case 'CREATED':
                    case 'RUNNING':
                    case 'RESTARTING':
                        dom_icon.className = (res === 'CREATED') ? 'h1 fas fa-plus-square text-info' : (res === 'RUNNING') ? 'h1 fas fa-check text-info' : 'h1 fas fa-sync text-warning';
                        dom_text.className = 'text-info';
                        dom_title.className = 'text-info';
                        $(`#service-start-${service}`).prop('disabled', true);
                        $(`#service-stop-${service}`).prop('disabled', false);
                        break;
                    case 'PAUSED':
                        dom_icon.className = 'h1 fas fa-pause text-warning';
                        dom_text.className = 'text-warning';
                        dom_title.className = 'text-warning';
                        $(`#service-start-${service}`).prop('disabled', true);
                        $(`#service-stop-${service}`).prop('disabled', false);
                        break;
                    case 'REMOVING':
                    case 'EXITED':
                    case 'DEAD':
                        dom_icon.className = 'h1 fas fa-times-circle text-danger';
                        dom_text.className = 'text-danger';
                        dom_title.className = 'text-danger';
                        $(`#service-start-${service}`).prop('disabled', false);
                        $(`#service-stop-${service}`).prop('disabled', true);
                        break;
                    default :
                        dom_icon.className = 'h1 fas fa-question';
                        dom_text.innerText = 'UNKNOWN';
                        dom_text.className = '';
                        dom_title.className = '';
                        $(`#service-start-${service}`).prop('disabled', true);
                        $(`#service-stop-${service}`).prop('disabled', true);
                        $(`#service-restart-${service}`).prop('disabled', true);
                        break;
                }
            };

            if(port === 0) {
                $.ajax({
                    url: `${CONTEXT}/server/api/service/docker-check?name=${service}`,
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (status) {
                        successFunc(status)
                    },
                    error: function (e) {
                        display_initialize(service, 'ERROR');
                    },
                    beforeSend: function () {
                        display_initialize(service, 'LOADING');
                    }
                });
            } else {
                $.ajax({
                    url: `${CONTEXT}/server/api/service/extension-check`,
                    type: 'POST',
                    data: JSON.stringify({
                        ip: ip,
                        port: port
                    }),
                    contentType: 'application/json',
                    success: function (status) {
                        successFunc(status)
                    },
                    error: function (e) {
                        display_initialize(service, 'ERROR');
                    },
                    beforeSend: function () {
                        display_initialize(service, 'LOADING');
                    }
                });
            }
        }

        function onclick_service_execute(btn){
            var method = $(btn).data('method');
            var link = CONTEXT + $(btn).data('link');
            var service = $(btn).data('service');

            var question = service + " 서비스를 " + (method === 'START' ? '가동' : method === 'RESTART' ? '재가동' : '정지') + '합니다. 계속 하시겠습니까?';
            if(confirm(question)){
                window.location.href = link;
            }
        }

        function onclick_remove_all_history(){
            if ( confirm('현재까지 생성된 작동 내역들을 전부 삭제합니다. 계속 하시겠습니까?')) {
                window.location.href = CONTEXT + '/view/server/history-clean';
            }
        }
    </script>
    <!-- // 서버 작동 내역 조회 종료 -->
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/slick/slick-theme.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/slick/slick.min.js}"></script>
</th:block>
</html>