<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">서비스 정보</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">서비스 정보</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/server/service-info}">서버</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">서비스 정보</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">
    <ul class="col_list col_xl_4">
        <!-- 서버 별 데이터 카운트 -->
        <li>
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="section_tit">서버 별 데이터 정보</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">BO 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">O3 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">OO사 센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="card-body">
                        <canvas id="graph_DATA"></canvas>
                    </div>
                </div>
            </div>
        </li>

        <!-- 서버 별 캐시 카운트 -->
        <li>
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="section_tit">서버 별 캐시 정보</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">BO 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">O3 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">OO사 센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <canvas id="graph_CACHE"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="section_tit">서버 별 동기화 진행 정보</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">BO 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">O3 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">OO사 센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <canvas id="graph_SYNC_CNT"></canvas>
                </div>
            </div>
        </li>
    </ul>

    <ul class="col_list col_xl_6">
        <li>
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="section_tit">서버 별 동기화 파일 정보</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">BO 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">O3 센터</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">OO사 센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="card-body">
                        <canvas id="graph_SYNC_FILES"></canvas>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="section_tit">JIMAP Admin 서버 등록 정보</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="card-body">
                        <div class="text-left">
                            <p>
                                서비스 버전 정보 : <span>3.4</span><br/>
                                연동 센터 : OOO 센터<br/>
                                연동된 SI 센터 IP : <span>192.168.1.2 / 192.168.1.3 / 192.168.2.3</span><br/>
                                연동된 N-SI 센터 IP : <span>192.168.1.2 / 192.168.1.3 / 192.168.2.3</span><br/>
                            </p>
                            <hr/>
                            <p>
                                Map Server 서비스 정보 : <span>WMS (1.0.1)</span><br/>
                                Map Proxy 서비스 정보 : <span>WMS (1.0.1), TMS (1.0.1)</span><br/>
                                Tegola 버전 정보 : <span>1.1.1</span><br/>
                                Mapnik 버전 정보 : <span>1.1.1</span><br/>
                                Terrain Server 버전 정보 : <span>1.1.1</span><br/>
                                PostgreSQL 버전 정보 : <span>1.1.1</span><br/>
                                Syncthing 버전 정보 : <span>1.1.1</span><br/>
                                Docker 연동 정보 : <span>A Container -> OK (자세히)</span><br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <script>
        var chartColors = {
            red: 'rgb(255, 99, 132)',
            pink: 'rgb(255, 194, 218)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            skyblue: 'rgb(122, 213, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var color = Chart.helpers.color;
        var barChartData_DATA = {
            labels: ['MAP', 'LAYER', 'SYMBOL'],
            datasets: [{
                label: '서버 1',
                backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
                borderColor: chartColors.red,
                borderWidth: 1,
                data: [
                    10, 20, 30
                ]
            }, {
                label: '서버 2',
                backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                borderColor: chartColors.blue,
                borderWidth: 1,
                data: [
                    10, 8, 23
                ]
            }, {
                label: 'CDS',
                backgroundColor: color(chartColors.green).alpha(0.5).rgbString(),
                borderColor: chartColors.green,
                borderWidth: 1,
                data: [
                    50, 46, 40
                ]
            }]
        };

        var barChartData_CACHE = {
            labels: ['LAYERS', 'CACHES', 'SEEDS'],
            datasets: [{
                label: '서버 1',
                backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
                borderColor: chartColors.red,
                borderWidth: 1,
                data: [
                    10, 20, 15
                ]
            }, {
                label: '서버 2',
                backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                borderColor: chartColors.blue,
                borderWidth: 1,
                data: [
                    10, 11, 13
                ]
            }, {
                label: 'CDS',
                backgroundColor: color(chartColors.green).alpha(0.5).rgbString(),
                borderColor: chartColors.green,
                borderWidth: 1,
                data: [
                    12, 13, 14
                ]
            }]
        };

        var barChartData_SYNC_CNT = {
            labels: ['데이터베이스', '파일'],
            datasets: [{
                label: '서버 1',
                backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
                borderColor: chartColors.red,
                borderWidth: 1,
                data: [
                    8, 9
                ]
            }, {
                label: '서버 2',
                backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                borderColor: chartColors.blue,
                borderWidth: 1,
                data: [
                    6, 7
                ]
            }, {
                label: 'CDS',
                backgroundColor: color(chartColors.green).alpha(0.5).rgbString(),
                borderColor: chartColors.green,
                borderWidth: 1,
                data: [
                    7, 8
                ]
            }]
        };

        var barChartData_SYNC_FILES = {
            labels: ['서버 1', '서버 2', '서버 3'],
            datasets: [{
                label: '데이터베이스 - 업로드',
                backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
                borderColor: chartColors.red,
                borderWidth: 1,
                data: [
                    5, 4, 3
                ]
            }, {
                label: '데이터베이스 - 다운로드',
                backgroundColor: color(chartColors.pink).alpha(0.5).rgbString(),
                borderColor: chartColors.pink,
                borderWidth: 1,
                data: [
                    -7, -3, -4
                ]
            }, {
                label: '파일 - 업로드',
                backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                borderColor: chartColors.blue,
                borderWidth: 1,
                data: [
                    9, 5, 8
                ]
            }, {
                label: '파일 - 다운로드',
                backgroundColor: color(chartColors.skyblue).alpha(0.5).rgbString(),
                borderColor: chartColors.skyblue,
                borderWidth: 1,
                data: [
                    -9, -5, -8
                ]
            }]
        };

        window.onload = function() {
            new Chart(document.getElementById('graph_DATA').getContext('2d'), {
                type: 'bar',
                data: barChartData_DATA,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'BO 파일 보유 현황'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 50
                            }
                        }]
                    }
                }
            });

            new Chart(document.getElementById('graph_CACHE').getContext('2d'), {
                type: 'bar',
                data: barChartData_CACHE,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'BO 캐시 파일 보유 현황'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 50
                            }
                        }]
                    }
                }
            });

            new Chart(document.getElementById('graph_SYNC_CNT').getContext('2d'), {
                type: 'bar',
                data: barChartData_SYNC_CNT,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'BO 동기화 진행 빈도 현황'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 50
                            }
                        }]
                    }
                }
            });

            new Chart(document.getElementById('graph_SYNC_FILES').getContext('2d'), {
                type: 'horizontalBar',
                data: barChartData_SYNC_FILES,
                options: {
                    responsive: true,
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'BO 동기화 파일 개수 현황'
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                suggestedMin: -30,
                                suggestedMax: 30
                            }
                        }]
                    }
                }
            });
        };
    </script>
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/chartJs/Chart.min.js}"></script>
</th:block>
</html>