<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<!-- https://www.pgpool.net/docs/pgpoolAdmin/en/config.html : PGPool 2 설정 파일 Ref. -->
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">동기화 - 데이터베이스</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">서버 - 서비스 주소 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/server/service-info}">시스템</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">서버 - 서비스 주소 관리</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <!-- 서버 주소 선택 시작 -->
        <div class="col-md-6">
            <h3 class="section-tit my-1">서버 주소 선택</h3>
            <table id="list_table" class="table table-sm basic my-1">
                <thead class="table-info">
                <tr>
                    <th scope="col" class="text-center">IP 주소</th>
                    <th scope="col" class="text-center">서비스 이름</th>
                    <th scope="col" class="text-center">서버 타입</th>
                    <th scope="col" class="text-center">수정</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="connection : ${ connections }">
                    <td class="text-center align-middle" th:text="${connection.ipAddress}">[IP 주소]</td>
                    <td class="text-center align-middle" th:text="${connection.title}">[서비스 제목]</td>
                    <td class="text-center align-middle" th:switch="${connection.type.name()}">
                        <span th:text="${'SI'}" th:case="SI"></span>
                        <span th:text="${'N-SI'}" th:case="N_SI"></span>
                        <span th:text="${'CDS'}" th:case="CDS"></span>
                    </td>
                    <td class="text-center align-middle">
                        <button id="connectUpdate" class="btn btn-info btn-circle btn-sm mx-1" type="button" data-toggle="modal" data-target="#addressDataUpdate">
                            <i class="fas fa-cog"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <script>
                $(document).ready(function() {
                    initialize_dataTable('list_table');
                });
            </script>
        </div>
        <!-- // 서버 주소 선택 종료 -->

        <!-- 서버 주소 편집 시작 -->
        <div class="col-md-6">
            <h3 class="section-tit my-1">서버 주소 편집</h3>

            <form id="update-role" th:action="@{/view/role/update-role}" method="post" accept-charset="utf-8">
                <div class="form-group">
                    <label for="serviceName">서비스 이름 <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="serviceName" name="serviceName" readonly />
                </div>

                <div class="form-group">
                    <label for="serviceIP">서버 IP <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="serviceIP" name="serviceIP" readonly />
                </div>

                <div class="form-group">
                    <label for="serviceIP">서버 포트 <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="servicePort" name="servicePort" readonly />
                </div>

                <div class="form-group">
                    <label for="serviceDir">접속 주소 <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="serviceDir" name="serviceDir" readonly />
                </div>

                <hr/>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times"></i> 취소
                </button>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> 저장
                </button>
            </form>
        </div>
        <!-- // 서버 주소 편집 종료 -->

    </div>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
</th:block>
</html>