<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/gis/cesium-1.65/Widgets/widgets.css}">
    <script th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/gis/cesium-1.65/Cesium.js}"></script>
    <script th:src="@{/js/commons/cfsiStmp3DMap.js}"></script>
</head>
<body>
    <div id="map3d" style="height: 100%; width: 100%;"></div>
    <script>
        stmp.mapObject = new ji3DMap({
            container : 'map3d'
        });
    </script>
</body>
</html>