<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.6.0/mapbox-gl.css}">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.6.0/mapbox-gl-draw.css}">
    <script th:src="@{/gis/mapboxgl-1.6.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/gis/mapboxgl-1.6.0/mapbox-gl-draw-unminified.js}"></script>
    <!--<link rel="stylesheet" th:href="@{/gis/mapboxgl-1.8.0/mapbox-gl.css}">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.8.0/mapbox-gl-draw.css}">
    <script th:src="@{/gis/mapboxgl-1.8.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/gis/mapboxgl-1.8.0/mapbox-gl-draw.js}"></script>-->
    <!--<link rel="stylesheet" th:href="@{/gis/mapboxgl-1.12.0/mapbox-gl.css}">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.12.0/mapbox-gl-draw.css}">
    <script th:src="@{/gis/mapboxgl-1.12.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/gis/mapboxgl-1.12.0/mapbox-gl-draw-unminified.js}"></script>-->
    <script th:src="@{/js/jiin/jimap_mapbox_map.js}"></script>
    <!--<script th:src="@{/js/commons/cfsiStmp2DMap.js}"></script>-->
</head>
<body>
    <div id="map2d" style="height : 100%; width: 100%;"></div>
    <script th:inline="javascript">
        jiCommon.map = new JimapMapbox({
            container : 'map2d',
            center : [127, 37],
            zoom : 10,
        });

        if (jiCommon.map !== undefined) {
            jiCommon.overlay = new JimapOverlay({
                canvas : jiCommon.map.getCanvasContainer()
            });
        }

        /*stmp.mapObject = new jiMap({
            container : 'map2d',
            center : [127, 37],
            zoom : 10,
            initFn : loadInit
        });

        function loadInit() {
            if (stmp.getGlobalFeatures().size() > 0) {
                // 2D -> 3D or 3D -> 2D 객체 draw
                stmp.changeMapDrawFeatures();
            }
            setTestData();
            // featureRemove();
        }

        function setTestData() {
            let feature1 = {
                id : 'test1',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature1);

            let feature2 = {
                id : 'test2',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [126, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature2);

            let feature3 = {
                id : 'test3',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [125, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature3);

            let feature4 = {
                id : 'test4',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 36]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature4);

            let feature5 = {
                id : 'test5',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 35]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature5);
        }

        function featureRemove() {
            stmp.removeFeature(stmp.getGlobalFeatures().get('TestLayer_test2'));
        }*/

        function inactive_graph_extension() {
            var map = jiCommon.map._map;

            map.removeLayer('clusters');
            map.removeLayer('cluster-count');
            map.removeLayer('unclustered-point');
            map.removeSource('earthquakes');
        }

        function active_graph_extension() {
            var map = jiCommon.map._map;

            // Add a new source from our GeoJSON data and
            // set the 'cluster' option to true. GL-JS will
            // add the point_count property to your source data.
            map.addSource('earthquakes', {
                type: 'geojson',
                // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                data: CONTEXT + '/json/mapbox_gl/earthquakes.geojson',
                cluster: true,
                clusterMaxZoom: 14, // Max zoom to cluster points on
                clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
            });

            map.addLayer({
                id: 'clusters',
                type: 'circle',
                source: 'earthquakes',
                filter: ['has', 'point_count'],
                paint: {
                    // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                    // with three steps to implement three types of circles:
                    //   * Blue, 20px circles when point count is less than 100
                    //   * Yellow, 30px circles when point count is between 100 and 750
                    //   * Pink, 40px circles when point count is greater than or equal to 750
                    'circle-color': [
                        'step',
                        ['get', 'point_count'],
                        '#51bbd6',
                        100,
                        '#f1f075',
                        750,
                        '#f28cb1'
                    ],
                    'circle-radius': [
                        'step',
                        ['get', 'point_count'],
                        20,
                        100,
                        30,
                        750,
                        40
                    ]
                }
            });

            map.addLayer({
                id: 'cluster-count',
                type: 'symbol',
                source: 'earthquakes',
                filter: ['has', 'point_count'],
                layout: {
                    'text-field': '{point_count_abbreviated}',
                    'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                    'text-size': 12
                }
            });

            map.addLayer({
                id: 'unclustered-point',
                type: 'circle',
                source: 'earthquakes',
                filter: ['!', ['has', 'point_count']],
                paint: {
                    'circle-color': '#11b4da',
                    'circle-radius': 4,
                    'circle-stroke-width': 1,
                    'circle-stroke-color': '#fff'
                }
            });

            // inspect a cluster on click
            map.on('click', 'clusters', function(e) {
                var features = map.queryRenderedFeatures(e.point, {
                    layers: ['clusters']
                });
                var clusterId = features[0].properties.cluster_id;
                map.getSource('earthquakes').getClusterExpansionZoom(
                    clusterId,
                    function(err, zoom) {
                        if (err) return;

                        map.easeTo({
                            center: features[0].geometry.coordinates,
                            zoom: zoom
                        });
                    }
                );
            });

            // When a click event occurs on a feature in
            // the unclustered-point layer, open a popup at
            // the location of the feature, with
            // description HTML from its properties.
            map.on('click', 'unclustered-point', function(e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                var mag = e.features[0].properties.mag;
                var tsunami;

                if (e.features[0].properties.tsunami === 1) {
                    tsunami = 'yes';
                } else {
                    tsunami = 'no';
                }

                // Ensure that if the map is zoomed out such that
                // multiple copies of the feature are visible, the
                // popup appears over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }

                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(
                        'magnitude: ' + mag + '<br>Was there a tsunami?: ' + tsunami
                    )
                    .addTo(map);
            });

            map.on('mouseenter', 'clusters', function() {
                map.getCanvas().style.cursor = 'pointer';
            });
            map.on('mouseleave', 'clusters', function() {
                map.getCanvas().style.cursor = '';
            });
        }
    </script>
</body>
</html>
