<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" th:href="@{/gis/mapboxgl-1.8.0/mapbox-gl.css}">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.8.0/mapbox-gl-draw.css}">
    <script th:src="@{/gis/mapboxgl-1.8.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/gis/mapboxgl-1.8.0/mapbox-gl-draw.js}"></script>-->
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.12.0/mapbox-gl.css}">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.12.0/mapbox-gl-draw.css}">
    <script th:src="@{/gis/mapboxgl-1.12.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/gis/mapboxgl-1.12.0/mapbox-gl-draw-unminified.js}"></script>
    <script th:src="@{/js/jiin/jimap_mapbox_map.js}"></script>
</head>
<body>
    <div id="map2d" style="height : 100%; width: 100%;"></div>
    <script>

        jiCommon.map = new JimapMapbox({
            container : 'map2d',
            center : [127, 37],
            zoom : 10,
        });

        /*stmp.mapObject = new jiMap({
            container : 'map2d',
            center : [127, 37],
            zoom : 10,
            initFn : loadInit
        });

        function loadInit() {
            if (stmp.getGlobalFeatures().size() > 0) {
                // 2D -> 3D or 3D -> 2D 객체 draw
                stmp.changeMapDrawFeatures();
            }
            setTestData();
            // featureRemove();
        }

        function setTestData() {
            let feature1 = {
                id : 'test1',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature1);

            let feature2 = {
                id : 'test2',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [126, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature2);

            let feature3 = {
                id : 'test3',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [125, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature3);

            let feature4 = {
                id : 'test4',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 36]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature4);

            let feature5 = {
                id : 'test5',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 35]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature5);
        }

        function featureRemove() {
            stmp.removeFeature(stmp.getGlobalFeatures().get('TestLayer_test2'));
        }*/
    </script>
</body>
</html>
