<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/gis/mapboxgl-1.8.0/mapbox-gl.css}">
    <script th:src="@{/gis/mapboxgl-1.8.0/mapbox-gl-unminified.js}"></script>
    <script th:src="@{/js/commons/cfsiStmp2DMap.js}"></script>
</head>
<body>
    <div id="map2d" style="height : 100%; width: 100%;"></div>
    <script>
        stmp.mapObject = new jiMap({
            container : 'map2d',
            center : [127, 37],
            zoom : 10,
            initFn : loadInit
        });

        function loadInit() {
            setTestData();
        }

        function setTestData() {
            var feature1 = {
                id : 'test1',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature1);

            var feature2 = {
                id : 'test2',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [126, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature2);

            var feature3 = {
                id : 'test3',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [125, 37]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature3);

            var feature4 = {
                id : 'test4',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 36]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature4);

            var feature5 = {
                id : 'test5',
                layerId : 'TestLayer',
                type : stmp.DRAW_TYPE_KIND.BASE_MILSYMBOL,
                coordInfo : {
                    type : stmp.COORDINATE_SYSTEM.WGS84,
                    coords : [127, 35]
                },
                styleInfo : {
                    milsymbol : {
                        sdic : 'SHG-UCIL---D',
                        options : {}
                    },
                    style : {
                        size : 1
                    }
                }
            };

            stmp.addFeature(feature5);
        }
    </script>
</body>
</html>