<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/gis/openlayers-4.6.4/ol.css}">
    <script th:src="@{/gis/openlayers-4.6.4/ol.js}"></script>
</head>
<body>
    <div id="map2d" style="height : 90vh; width: 100%;">
        <!-- Right CLICK EVENT DIV -->
        <div id="click_coord" style="position: absolute; z-index: 999; display: none; background-color: white; border: 1px solid #aaa; ">
            <ul class="list-unstyled">
                <!-- <li id="click_coord_btn" class="rightClickBtn milSymEvent">군대 부호 적용</li> -->
                <!-- <li id="general_shape_btn" class="rightClickBtn milSymEvent">일반 도형 적용</li> -->
                <!-- <li class="rightClickBtn hidden" onclick="removeAllMarker();">레이어 전체 도형 삭제</li> -->

                <li id="click_coord_btn_mod" class="rightClickBtn milSymEvent">부호 수정</li>
                <li id="click_coord_btn_del" class="rightClickBtn milSymEvent">부호 삭제</li>
                <li id="click_cancel_modify" class="rightClickBtn hidden" onclick="modifyCancel();">수정 중단</li>
            </ul>
        </div>
        <div id="mouse-position" style="position: absolute; padding: 3px; font-weight: bold; left: 0; bottom: 0; background-color: white; z-index: 999;">

        </div>
    </div>
    <script>
        // 지도 타일 레이어
        var osmLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        // [경도(북위이면 양수), 위도(동경이면 양수)] EPSG 는 WGS84 체계로 사용하는 경도와 위도의 상수.
        var seohyeon_stn = ol.proj.transform([127.123294, 37.385117], 'EPSG:4326', 'EPSG:3857');

        // view 는 보여지게 될 도시와 확대 여부를 설정함.
        var view = new ol.View({
            center: seohyeon_stn,
            zoom: 16
        });

        // 화면에 보여지는 Map 개체 생성.
        var map = new ol.Map({
            target: 'map2d'
        });

        // 지도 타일 레이어 추가.
        map.addLayer(osmLayer);

        // 보여지게 될 설정을 추가.
        map.setView(view);
    </script>
</body>
</html>