<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/gis/openlayers-6.4.3/ol.css}">
    <link rel="stylesheet" th:href="@{/gis/ol-ext-3.1.14/ol-ext.css}">

    <script th:src="@{/gis/openlayers-6.4.3/ol.js}"></script>
    <script th:src="@{/gis/ol-ext-3.1.14/ol-ext.js}"></script>
    <script th:src="@{/js/jiin/jimap_ol_map.js}"></script>
</head>
<body>
    <div id="map2d" style="height : 100%; width: 100%;"></div>

    <script th:inline="javascript">
        jiCommon.map = new JimapOl({
            container : 'map2d',
            center : [127, 37],
            zoom : 10
        });
    </script>
</body>
</html>