<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">상황도</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">상황도</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/display/symbol-map}">지도 서비스</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">상황도</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="map_top">
        <div class="map_stlye">
            <div class="btn-group">
                <button class="btn btn-info" type="button" title="레이어" data-toggle="modal" data-target="#layer_modal" data-backdrop="false">
                    <i class="fas fa-layer-group"></i>
                </button>
                <button class="btn btn-info" type="button" title="투명도" id="general_shape_btn">
                    <i class="fas fa-vector-square"></i>
                </button>
                <button class="btn btn-info" type="button" title="군대부호" id="click_coord_btn">
                    <i class="fas fa-fighter-jet"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="map_area">
        <div id="map" class="map2d" style="width: 100%; height: calc(100vh - 188px);">
            <!-- Right CLICK EVENT DIV -->
            <div id="click_coord" style="position: absolute; z-index: 999; display: none; background-color: white; border: 1px solid #aaa; ">
                <ul class="list-unstyled">
                    <!-- <li id="click_coord_btn" class="rightClickBtn milSymEvent">군대 부호 적용</li> -->
                    <!-- <li id="general_shape_btn" class="rightClickBtn milSymEvent">일반 도형 적용</li> -->
                    <!-- <li class="rightClickBtn hidden" onclick="removeAllMarker();">레이어 전체 도형 삭제</li> -->

                    <li id="click_coord_btn_mod" class="rightClickBtn milSymEvent">부호 수정</li>
                    <li id="click_coord_btn_del" class="rightClickBtn milSymEvent">부호 삭제</li>
                    <li id="click_cancel_modify" class="rightClickBtn hidden" onclick="modifyCancel();">수정 중단</li>
                </ul>
            </div>

            <div id="mouse-position" style="position: absolute; padding: 3px; font-weight: bold; left: 0; bottom: 0; background-color: white; z-index: 999;">

            </div>
        </div>
    </div>

    <div class="modal fade" id="layer_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">레이어 목록</h4>
                </div>
                <div class="modal-body">
                    <div class="pt-1 pb-1">
                        <table id="list_table" class="table table-sm basic">
                            <thead class="table-info">
                            <tr>
                                <th scope="col" class="text-center">레이어 이름</th>
                                <th scope="col" class="text-center">레이어 투명 조절 / 보이기</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center align-middle">
                                    레이어 A
                                </td>
                                <td class="text-center align-middle">
                                    <fieldset id="layer0">
                                        <input class="opacity form-control-range" type="range" min="0" max="1" step="0.01" />
                                        <input type="checkbox" class="visible" id="visible0" />
                                        <label for="visible0"> 보이기</label>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center align-middle">
                                    레이어 B
                                </td>
                                <td class="text-center align-middle">
                                    <fieldset id="layer1">
                                        <input class="opacity form-control-range" type="range" min="0" max="1" step="0.01" />
                                        <input type="checkbox" class="visible" id="visible1" />
                                        <label for="visible1"> 보이기</label>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center align-middle">
                                    레이어 C
                                </td>
                                <td class="text-center align-middle">
                                    <fieldset id="layer2">
                                        <input class="opacity form-control-range" type="range" min="0" max="1" step="0.01" />
                                        <input type="checkbox" class="visible" id="visible2" />
                                        <label for="visible2"> 보이기</label>
                                    </fieldset>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <!-- 투명도 -->
    <div class="modal fade" id="shape_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">투명도 추가</h4>
                </div>
                <div class="modal-body">
                    <th:block th:replace="fragments/overlay/html-overlay-main"></th:block>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 투명도 -->
    <th:block th:replace="fragments/generalShape/html-general-shape-main"></th:block>
    <th:block th:replace="fragments/generalShape/html-general-shape-prop"></th:block>

    <!-- 군머부호 -->
    <th:block th:replace="fragments/military/html-military-prop"></th:block>
    <th:block th:replace="fragments/military/html-military-main"></th:block>

    <script>
        $(document).ready(function() {
            initialize_dataTable('list_table');
        });
    </script>

    <!-- -->
    <script th:src="@{/js/map/mapCommonJs.js}"></script>
    <script th:src="@{/js/map/mapJs.js}"></script>

    <script th:src="@{/js/military/ol-milSymbol.js}"></script>

    <script th:src="@{/js/military/milSymbol.js}"></script>

    <script th:src="@{/js/generalShape/generalShape.js}"></script>
    <script th:src="@{/js/generalShape/generalShapeInfo.js}"></script>

    <script th:src="@{/js/map/mapFunction/transparentMap.js}"></script>
    <script th:src="@{/js/map/mapFunction/dataCommon.js}"></script>
    <script th:src="@{/js/map/mapFunction/dataReader.js}"></script>

    <script th:src="@{/js/commons/cfsiStmpCommon.js}"></script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <!-- <link rel="stylesheet" th:href="@{/css/symbol/symbol-bootstrap.css}"> -->
    <link rel="stylesheet" th:href="@{/css/symbol/symbol.css}">
    <link rel="stylesheet" th:href="@{/gis/openlayers-4.6.4/ol.css}">
    <link rel="stylesheet" th:href="@{/gis/ol-ext-3.1.9/ol-ext.min.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/gis/openlayers-4.6.4/ol.js}"></script>
    <script th:src="@{/gis/ol-ext-3.1.9/ol-ext.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/jquery/jquery-ui.min.js}"></script>
</th:block>
</html>