<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="autoMappingBehavior" value="FULL" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="logImpl" value="SLF4J" />
	</settings>
 
	<typeAliases>
		<typeAlias alias="map" type="java.util.Map" />
  		<typeAlias alias="string" type="java.lang.String" />
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="long" type="java.lang.Long" />
		<typeAlias alias="list" type="java.util.List" />

		<!-- Map Based DTO -->
		<typeAlias alias="MapDTO" type="com.jiin.admin.dto.MapDTO" />
		<typeAlias alias="LayerDTO" type="com.jiin.admin.dto.LayerDTO" />
		<typeAlias alias="MLRelationDTO" type="com.jiin.admin.dto.MapLayerRelationDTO" />
		<typeAlias alias="MapVersionDTO" type="com.jiin.admin.dto.MapVersionDTO" />
		<typeAlias alias="VersionDTO" type="com.jiin.admin.dto.VersionDTO" />

		<!-- Vector Tiles Based DTO -->
		<typeAlias alias="SymbolPositionDTO" type="com.jiin.admin.dto.SymbolPositionDTO" />

		<!-- MapProxy Based DTO -->
		<typeAlias alias="ProxyLayerDTO" type="com.jiin.admin.dto.ProxyLayerDTO" />
		<typeAlias alias="ProxySourceDTO" type="com.jiin.admin.dto.ProxySourceDTO" />
		<typeAlias alias="ProxySourceMapServerDTO" type="com.jiin.admin.dto.ProxySourceMapServerDTO" />
		<typeAlias alias="ProxySourceWMSDTO" type="com.jiin.admin.dto.ProxySourceWMSDTO" />
		<typeAlias alias="ProxyCacheDTO" type="com.jiin.admin.dto.ProxyCacheDTO" />
		<typeAlias alias="ProxyGlobalDTO" type="com.jiin.admin.dto.ProxyGlobalDTO" />
		<typeAlias alias="PLSRelationDTO" type="com.jiin.admin.dto.ProxyLayerSourceRelationDTO" />
		<typeAlias alias="PLCRelationDTO" type="com.jiin.admin.dto.ProxyLayerCacheRelationDTO" />
		<typeAlias alias="PCSRelationDTO" type="com.jiin.admin.dto.ProxyCacheSourceRelationDTO" />

		<!-- Account Based DTO -->
 		<typeAlias alias="AccountDTO" type="com.jiin.admin.dto.AccountDTO" />
		<typeAlias alias="RoleDTO" type="com.jiin.admin.dto.RoleDTO" />
	</typeAliases>
</configuration>