<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">지도 목록</h1>
    <div id="map_config_button">
        <a th:href="@{/view/map/create}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> 지도 추가
        </a>
        <a th:href="@{/view/map/layers}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-layer-group fa-sm text-white-50"></i> 레이어 관리
        </a>
    </div>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/map/list}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">지도 목록</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- 지도 검색 목록 -->
    <div class="row">
        <!-- Search Box -->
        <div class="col-xl-3">
            <div class="form-group">
                <label for="keyword">키워드 검색</label>
                <input id="keyword" type="text" class="form-control" placeholder="검색어" />
            </div>

            <div class="form-group">
                <label>업로드 일자</label>
                <input id="start_date" type="date" class="form-control mb-1" />
                <input id="end_date" type="date" class="form-control mt-1" />
            </div>

            <div class="form-group">
                <label>날짜 선택</label>
                <div class="form-check">
                    <input id="day1" name="day" type="radio" class="form-check-input" value="1" />
                    <label class="form-check-label" for="day1">1일</label>
                </div>
                <div class="form-check">
                    <input id="day3" name="day" type="radio" class="form-check-input" value="3" />
                    <label class="form-check-label" for="day3">3일</label>
                </div>
                <div class="form-check">
                    <input id="day7" name="day" type="radio" class="form-check-input" value="7" />
                    <label class="form-check-label" for="day7">7일</label>
                </div>
                <div class="form-check">
                    <input id="day30" name="day" type="radio" class="form-check-input" value="30" />
                    <label class="form-check-label" for="day30">30일</label>
                </div>
            </div>

            <div class="form-group">
                <label>데이터 유형</label>
                <div class="form-check">
                    <input id="raster" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="raster">레스터</label>
                </div>
                <div class="form-check">
                    <input id="vector" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="vector">벡터</label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary">
                    <i class="fas fa-search"></i> 검색
                </button>
            </div>
        </div>

        <!-- Layer List View -->
        <div class="col-xl-9">
            <h4 class="mt-1">검색 결과 : 총 <span th:text="${ maps.size() }"></span> 건</h4>

            <!-- Pagination -->
            <div id="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <div class="col-md-4 mb-2" th:each="map : ${ maps }">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/map-example.png}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ map.name }"></h5>
                            <p class="card-text">
                                <i class="fas fa-calendar"></i> 2020-02-26 11:11:11 <br/>
                                <i class="fas fa-user"></i> UPLOADER <br/>
                                <i class="fas fa-atlas"></i> <span th:text="${ map.projection }"></span>
                            </p>
                            <div class="text-right">
                                <a th:href="${ '/view/map/edit?name=' + map.name }" class="btn btn-primary">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>