<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a title="홈으로" th:href="@{/view/home/guest}" sec:authorize="!isAuthenticated()">
                        <h1>
                            <i class="h1 fas fa-globe-asia text-white"></i> JIMAP
                        </h1>
                        <span class="text-muted text-xs block">
                            Release Version : <span>3.4</span>
                        </span>
                    </a>

                    <a title="홈으로" th:href="@{/view/home/user}" sec:authorize="isAuthenticated()">
                        <h1>
                            <i class="h1 fas fa-globe-asia text-white"></i> JIMAP
                        </h1>
                        <span class="text-muted text-xs block">
                            Release Version : <span>3.4</span>
                        </span>
                    </a>
                </div>

                <div class="logo-element">
                    JIMAP
                </div>
            </li>

            <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/manage') or #httpServletRequest.getRequestURI().contains('/view/symbol') ? 'active' : '' }">
                <a href="#" aria-expanded="true"><i class="fa fa-caret-right"></i> <span class="nav-label">지도관리</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/manage/map') ? 'active' : '' }">
                        <a class="nav-link" th:href="@{/view/manage/map-list?pg=1&sz=8&iType=ALL&units=ALL}">
                            <i class="fas fa-fw fa-map"></i>
                            <span class="nav-label">MAP 관리</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/manage/layer') ? 'active' : '' }">
                        <a class="nav-link" th:href="@{/view/manage/layer-list?pg=1&sz=10&lType=ALL}">
                            <i class="fas fa-fw fa-layer-group"></i>
                            <span class="nav-label">LAYER 관리</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/symbol/list') ? 'active' : '' }">
                        <a class="nav-link" th:href="@{/view/symbol/list?pg=1&sz=8}">
                            <i class="fas fa-fw fa-map-pin"></i>
                            <span class="nav-label">SYMBOL 관리</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/display') ? 'active' : '' }">
                <a href="#" aria-expanded="true"><i class="fa fa-caret-right"></i> <span class="nav-label">지도 서비스</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/display/symbol-map') ? 'active' : '' }">
                        <a th:href="@{/view/display/symbol-map}">
                            <i class="fas fa-fw fa-map"></i>
                            <span class="nav-label">상황도</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/display/common-map') ? 'active' : '' }">
                        <a th:href="@{/view/display/common-map}">
                            <i class="fas fa-fw fa-map-marked-alt"></i>
                            <span class="nav-label">공통 지도</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/display/ext-map') ? 'active' : '' }">
                        <a th:href="@{/view/display/ext-map}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span class="nav-label">그래프 지도</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/proxy') ? 'active' : '' }">
                <a href="#" aria-expanded="true"><i class="fa fa-caret-right"></i> <span class="nav-label">서비스 캐시 관리</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/proxy/preview') ? 'active' : '' }">
                        <a th:href="@{/view/proxy/preview}">
                            <i class="fas fa-fw fa-search"></i>
                            <span class="nav-label">조회</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/proxy/setting') ? 'active' : '' }">
                        <a th:href="@{/view/proxy/setting}">
                            <i class="fas fa-fw fa-cogs"></i>
                            <span class="nav-label">설정</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/proxy/seeding') ? 'active' : '' }">
                        <a th:href="@{/view/proxy/seeding}">
                            <i class="fas fa-fw fa-calendar"></i>
                            <span class="nav-label">SEED 설정</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/sync') ? 'active' : '' }">
                <a href="#" aria-expanded="true"><i class="fa fa-caret-right"></i> <span class="nav-label">동기화 모니터링</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/sync/database') ? 'active' : '' }">
                        <a th:href="@{/view/sync/database}">
                            <i class="fas fa-fw fa-database"></i>
                            <span class="nav-label">데이터베이스</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/sync/file') ? 'active' : '' }">
                        <a th:href="@{/view/sync/file}">
                            <i class="fas fa-fw fa-folder"></i>
                            <span class="nav-label">파일</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/server') ? 'active' : '' }">
                <a href="#" aria-expanded="true"><i class="fa fa-caret-right"></i> <span class="nav-label">서버</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/server/service-info') ? 'active' : '' }">
                        <a th:href="@{/view/server/service-info}">
                            <i class="fas fa-fw fa-info"></i>
                            <span class="nav-label">서비스 정보</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/server/service-manage') ? 'active' : '' }">
                        <a th:href="@{/view/server/service-manage}">
                            <i class="fas fa-fw fa-power-off"></i>
                            <span class="nav-label">서비스 관리</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/server/service-address') ? 'active' : '' }">
                        <a th:href="@{/view/server/service-address}">
                            <i class="fas fa-fw fa-map-signs"></i>
                            <span class="nav-label">서비스 주소 관리</span>
                        </a>
                    </li>
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/server/log-manage') ? 'active' : '' }">
                        <a th:href="@{/view/server/log-manage}">
                            <i class="fas fa-fw fa-sticky-note"></i>
                            <span class="nav-label">LOG 관리</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/account') or #httpServletRequest.getRequestURI().contains('/view/role') ? 'active' : '' }">
                <a href="#" aria-expanded="false"><i class="fa fa-caret-right"></i> <span class="nav-label">사용자</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/account') ? 'active' : '' }">
                        <a class="nav-link" th:href="@{/view/account/list}">
                            <i class="fas fa-fw fa-users"></i>
                            <span class="nav-label">계정</span>
                        </a>
                    </li>

                    <li class="" th:classappend="${ #httpServletRequest.getRequestURI().contains('/view/role') ? 'active' : '' }">
                        <a class="nav-link" th:href="@{/view/role/list}">
                            <i class="fas fa-fw fa-users-cog"></i>
                            <span class="nav-label">권한</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>