<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body th:fragment="html-side">
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/view/home/user}" sec:authorize="isAuthenticated()">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-globe-asia"></i>
        </div>
        <div class="sidebar-brand-text mx-3">JIMap Server 3.4</div>
    </a>

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/view/home/guest}" sec:authorize="isAuthenticated() == false">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-globe-asia"></i>
        </div>
        <div class="sidebar-brand-text mx-3">JIMap Server 3.4</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        홈
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/home') ? 'active' : '' }" sec:authorize="isAuthenticated() == false">
        <a class="nav-link" th:href="@{/view/home/guest}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span>
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/home') ? 'active' : '' }" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/view/home/user}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        심볼 관리
    </div>

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/symbol') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/symbol/list}">
            <i class="fas fa-fw fa-map-pin"></i>
            <span>심볼 목록</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        지도 관리
    </div>

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/manage/map-manage') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/manage/map-manage}">
            <i class="fas fa-fw fa-layer-group"></i>
            <span>Map 관리</span>
        </a>
    </li>

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/manage/layer-manage') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/manage/layer-manage}">
            <i class="fas fa-fw fa-layer-group"></i>
            <span>Layer 관리</span>
        </a>
    </li>

    <!--<li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/map') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/map/list}">
            <i class="fas fa-fw fa-layer-group"></i>
            <span>지도 데이터</span>
        </a>
    </li>-->

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/cache/layers') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/cache/layers}">
            <i class="fas fa-fw fa-database"></i>
            <span>캐시 데이터 관리 - 레이어</span>
        </a>
    </li>

    <!--<li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/cache/grids') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/cache/grids}">
            <i class="fas fa-fw fa-database"></i>
            <span>캐시 데이터 관리 - 그리드</span>
        </a>
    </li>-->

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/cache/seeds') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/cache/seeds}">
            <i class="fas fa-fw fa-memory"></i>
            <span>캐시 SEED 관리</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        지도 도시
    </div>

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/display/2d-map') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/display/2d-map}">
            <i class="fas fa-fw fa-map-marked"></i>
            <span>상황도</span>
        </a>
    </li>

    <!--
    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/display/3d-map') ? 'active' : '' }">
        <a class="nav-link" href="/view/display/3d-map">
            <i class="fas fa-fw fa-cube"></i>
            <span>3차원</span>
        </a>
    </li>
    -->

    <!--<li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/display/los-virtual') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/display/los-virtual}">
            <i class="fas fa-fw fa-map-pin"></i>
            <span>LOS 가시화</span>
        </a>
    </li>-->

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/display/common-map') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/display/common-map}">
            <i class="fas fa-fw fa-map-marked"></i>
            <span>공통 지도</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        시스템 관리
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <i class="fas fa-fw fa-sync"></i>
            <span>동기화</span>
        </a>
        <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:href="@{/view/server/sync-database}">데이터베이스</a>
                <a class="collapse-item" th:href="@{/view/server/sync-file}">파일</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        사용자 관리
    </div>

    <li class="nav-item" th:classappend="${ #httpServletRequest.getRequestURI().startsWith('/view/account') ? 'active' : '' }">
        <a class="nav-link" th:href="@{/view/account/list}">
            <i class="fas fa-fw fa-users"></i>
            <span>사용자</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</body>
</html>