<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="html-js-import">
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

    <!-- Custom Scripts For All Pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Chart JS : Graph 기능 -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Data Tables : Grid 기능 -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- toastr JS : Toast 알림 기능 -->
    <script th:src="@{/static/vendor/toastr-lib/toastr.min.js}"></script>
</body>
</html>