    <!-- Mainly Scripts Importing -->
    <script th:src="@{/design-park/resource/library/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/popper.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/bootstrap.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/design-park/resource/library/js/inspinia.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/pace/pace.min.js}"></script>

    <script th:src="@{/design-park/resource/library/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- toastr JS Importing -->
    <script th:src="@{/design-park/resource/library/js/plugins/toastr/toastr.min.js}"></script>

    <!-- utility JS -->
    <script th:src="@{/vendor/lodash/lodash.js}"></script>

    <!-- JIMAP js (공통함수 관리) -->
    <script th:src="@{/js/jiin/jimap_constant.js}"></script>
    <script th:src="@{/js/jiin/jimap_common.js}"></script>
    <script th:src="@{/js/jiin/jimap_ui.js}"></script>