<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout" lang="ko">
<th:block layout:fragment="content-title-fragment">
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">LAYER 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/manage/map-list?pg=1&sz=8&lType=ALL&units=ALL}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">LAYER 관리</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- search area #START -->
    <div class="search_area">
        <div class="ibox">
            <div class="ibox-content">
                <form onsubmit="return onsubmit_check()">
                    <input type="hidden" name="pg" value="1" />
                    <input type="hidden" name="sz" value="10" />

                    <div class="row justify-content-md-center">
                        <div class="col-xl-3 col-lg-5 col-sm-12 mb-sm-1 mb-0">
                            <select id="sb" name="sb" class="form-control form-control-sm">
                                <option th:each="sb : ${ sbList }" th:text="${ sb.label }" th:value="${ sb.value }" th:selected="${ #strings.equals(param.sb, #strings.toString(sb.value)) }"></option>
                            </select>
                        </div>

                        <div class="col-md-3 col-lg-5 col-sm-12">
                            <div class="input-group">
                                <input placeholder="검색어를 입력하세요." id="st" name="st" type="text" th:value="${param.st}" class="form-control form-control-sm" />
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-sm btn-primary" title="검색">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                                <button type="button" class="btn btn-sm btn-white m-l-xs searchMore" title="상세검색">
                                    <i class="fas fa-angle-down"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-warning m-l-xs" onclick="onclick_refresh_search()">
                                    <i class="fas fa-sync"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="searchDetail">
                        <!-- 검색 방식 선택 -->
                        <div class="hr-line-dashed">
                        </div>

                        <div class="row justify-content-md-center">
                            <!-- 검색 방식 선택 -->
                            <div class="col-12 col-lg-6 col-xl-3">
                                <div class="form-group">
                                    <label for="ob">정렬 방식</label>
                                    <select id="ob" name="ob" class="form-control form-control-sm">
                                        <option th:each="ob : ${ obList }" th:text="${ ob.label }" th:value="${ ob.value }" th:selected="${ #strings.equals(param.ob, #strings.toString(ob.value)) }"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 col-xl-5">
                                <div class="form-group">
                                    <fieldset>
                                        <legend class="bold">업로드 일자</legend>
                                        <div class="input-daterange input-group input-group-sm" id="datepicker">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control-sm form-control" id="sDate" name="sDate" th:value="${param.sDate}" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    ~
                                                </span>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control-sm form-control" id="eDate" name="eDate" th:value="${param.eDate}" />
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 col-xl-4">
                                <div id="iType_box">
                                    <div class="form-group">
                                        <label class="mr-1">데이터 유형</label>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="all" name="lType" value="ALL" class="form-check-input" th:checked="${ #strings.equals(param.lType, 'ALL') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="vector">모두</label>
                                        </div>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="raster" name="lType" value="RASTER" class="form-check-input" th:checked="${ #strings.equals(param.lType, 'RASTER') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="raster">레스터</label>
                                        </div>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="vector" name="lType" value="VECTOR" class="form-check-input" th:checked="${ #strings.equals(param.lType, 'VECTOR') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="vector">벡터</label>
                                        </div>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="cadrg" name="lType" value="CADRG" class="form-check-input" th:checked="${ #strings.equals(param.lType, 'CADRG') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="cadrg">CADRG</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="date_box">
                                    <label class="mr-1">일정 구간</label>
                                    <div class="btn-group my-1">
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(1)">1 일</button>
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(3)">3 일</button>
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(7)">7 일</button>
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(30)">30 일</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="button_area mb-3">
        <div class="d-flex justify-content-between">
            <!-- 총 결과 카운트 -->
            <h3 class="session_tit">검색 결과 : 총 <span th:text="${ resMap.count }" id="total"></span> 건</h3>

            <div id="map_config_button">
                <!-- LAYER 추가 버튼 -->
                <button data-toggle="modal" data-target="#layer-create-modal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> LAYER 추가
                </button>

                <!-- LAYER EXCEL 업로드 버튼 -->
                <button data-toggle="modal" data-target="#excel-upload-modal" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                    <i class="fas fa-file-excel fa-sm text-white-50"></i> LAYER EXCEL 업로드
                </button>
            </div>
        </div>
    </div>

    <!-- pannal List #START -->
    <div class="result_area" id="list-view">
        <table class="table table-sm table-striped" th:if="${ resMap.count > 0 }">
            <thead>
                <tr>
                    <th class="text-center align-middle">LAYER 이름</th>
                    <th class="text-center align-middle">업로드 일자</th>
                    <th class="text-center align-middle">올린 사람</th>
                    <th class="text-center align-middle">좌표계</th>
                    <th class="text-center align-middle">버전</th>
                    <th class="text-center align-middle">버튼</th>
                </tr>
            </thead>
            <tbody>
                <tr class="layer-item" th:each="layer : ${ resMap.data }">
                    <td class="text-center align-middle" th:text="${ layer.name }"></td>
                    <td class="text-center align-middle" th:text="${ layer.registTime }"></td>
                    <td class="text-center align-middle" th:text="${ layer.registorName }"></td>
                    <td class="text-center align-middle" th:text="${ layer.projection }"></td>
                    <td class="text-center align-middle" th:text="${ layer.version == null ? 'NONE' : layer.version }"></td>
                    <td class="text-center align-middle">
                        <block th:remove="tag" th:if="${ layer.isDefault() }">
                            <a class="btn btn-sm btn-circle btn-secondary" href="#" data-toggle="tooltip" data-placement="top" title="수정 및 삭제 불가.">
                                <i class="fas fa-map-pin text-white"></i>
                            </a>
                        </block>
                        <block th:remove="tag" th:unless="${ layer.isDefault() }">
                            <a class="btn btn-sm btn-circle btn-info mx-1" data-toggle="modal" href="#layer-update-modal" data-target="#layer-update-modal"
                               th:data-id="${ layer.id }"
                               th:data-version="${ layer.version }"
                               th:data-name="${ layer.name }"
                               th:data-description="${ layer.description }"
                               th:data-projection="${ layer.projection }"
                               th:data-middlefolder="${ layer.middleFolder }"
                               th:data-layertype="${ layer.type }"
                               th:data-filepath="${ layer.dataFilePath }"
                               title="수정"
                            >
                                <i class="fas fa-cog"></i>
                            </a>
                            <a class="btn btn-sm btn-circle btn-danger mx-1" th:onclick="delLayer(this,[[${layer.name}]],[[${layer.id}]])" title="삭제">
                                <i class="fas fa-trash text-white"></i>
                            </a>
                        </block>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="jumbotron jumbotron-fluid" th:unless="${ resMap.count > 0 }">
            <div class="container">
                <h1 class="display-4">
                    <i class="fas fa-times-circle"></i> No Results.
                </h1>
                <p class="lead">해당하는 데이터가 존재하지 않습니다. 다른 방법으로 검색 시도 바랍니다.</p>
            </div>
        </div>
        <!-- pannal List #END -->

        <!-- pageNavigation #START -->
        <th:block th:replace="fragments/html-pagination-bar :: html-pagination-bar('/manage/layer-list')" />
        <!-- pageNavigation #END -->

    </div>

    <!-- LAYER 추가 Modal -->
    <div class="modal fade" id="layer-create-modal" tabindex="-1" role="dialog" aria-labelledby="insert-layer" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="layer-create" accept-charset="utf-8" onsubmit="return preSubmit(this);" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insert-layer">LAYER 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="layer-name">LAYER 이름</label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" name="name" id="layer-name">
                                <div class="input-group-append">
                                    <span class="input-group-btn btn btn-primary" onclick="jiCommon.valid.duplicateCheck('LAYER','#layer-name','#duplicate-check-message')">중복확인</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message">중복확인을 해주세요.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="layer-description">설명</label>
                            <input type="text" class="form-control" name="description" id="layer-description">
                        </div>
                        <div class="form-group">
                            <label for="layer-projection">투영</label>
                            <select class="form-control" id="layer-projection" name="projection">
                                <option value="epsg:4326">EPSG:4326</option>
                                <option value="epsg:3857">EPSG:3857</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="layer-middle_folder">폴더명</label>
                            <input type="text" class="form-control" name="middleFolder" id="layer-middle_folder">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="layer-type">레이어 종류</label>
                            <select class="form-control" name="type" id="layer-type">
                                <option value="RASTER">Raster</option>
                                <option value="VECTOR">Vector</option>
                                <option value="CADRG">CADRG</option>
                            </select>
                        </div>
                        <div id="map_data_file">
                            <label class="col-form-label" for="___customFile">지도 파일</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="___customFileAddon" style="height: 33.5px;">
                                        첨부 파일
                                    </span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="___customFile"
                                           aria-describedby="___customFileAddon" name="data_file">
                                    <label class="custom-file-label" for="___customFile">파일 선택</label>
                                </div>
                            </div>
                            <small>RASTER 데이터는 *.tif, CADRG 데이터는 /RPF/A.TOC 파일을 포함한 *.zip 파일, VECTOR 데이터는 *.shp, *.shx, *.dbf 를 포함한 *.zip 파일을 업로드 하시길 바랍니다.</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- LAYER 수정 Modal -->
    <div class="modal fade" id="layer-update-modal" tabindex="-1" role="dialog" aria-labelledby="update-layer-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="layer-update" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this);" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update-layer">LAYER 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" />
                        <input type="hidden" name="version" />
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="layer-name-u">LAYER 이름</label>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" name="name" id="layer-name-u" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="layer-description-u">설명</label>
                            <input type="text" class="form-control" name="description" id="layer-description-u">
                        </div>
                        <div class="form-group">
                            <label for="layer-projection-u">투영</label>
                            <select class="form-control" id="layer-projection-u" name="projection">
                                <option value="epsg:4326">EPSG:4326</option>
                                <option value="epsg:3857">EPSG:3857</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="layer-middle_folder-u">폴더명</label>
                            <input type="text" class="form-control" name="middleFolder" id="layer-middle_folder-u">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="layer-type-u">레이어 종류</label>
                            <select class="form-control" name="type" id="layer-type-u">
                                <option value="RASTER">Raster</option>
                                <option value="VECTOR">Vector</option>
                                <option value="CADRG">CADRG</option>
                            </select>
                        </div>
                        <div id="map_data_file_u">
                            <label class="col-form-label" for="___customFile_u">지도 파일 <span style="color: blue;">(*)</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="___customFileAddon_u" style="height: 33.5px;">
                                        첨부 파일
                                    </span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="___customFile_u"
                                           aria-describedby="___customFileAddon" name="data_file">
                                    <label class="custom-file-label" for="___customFile">파일 선택</label>
                                </div>
                            </div>
                            <small>RASTER 데이터는 *.tif, CADRG 데이터는 /RPF/A.TOC 파일을 포함한 *.zip 파일, VECTOR 데이터는 *.shp, *.shx, *.dbf 를 포함한 *.zip 파일을 업로드 하시길 바랍니다.</small>
                        </div>
                        <p class="mt-3"><span style="color: blue;">(*)</span> : 데이터 수정을 진행할 때, 이를 올리지 않으면 아래 파일은 그대로 저장됩니다.</p>
                        <p id="data_file_path"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>
        .ui-progressbar-value {
            background-color: #18a689;
        }
        .ui-progressbar {
            height: 1em;
        }
    </style>

    <!-- File Upload Loading Modal -->
    <div class="modal fade" id="file-upload-modal" tabindex="-1" role="dialog" aria-labelledby="file-upload-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">업로드 진행률</h4>
                </div>
                <div class="modal-body">
                    <h3 class="section-tit" id="progress-label">0 % 진행 중...</h3>
                    <div id="progressbar"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Excel Upload Modal -->
    <div class="modal fade" id="excel-upload-modal" tabindex="-1" role="dialog" aria-labelledby="excel-upload-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">LAYER EXCEL 파일 업로드</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="excel-upload" method="post" action="layer-excel-upload" accept-charset="utf-8" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="___customFileAddonExcel" style="height: 33.5px;">
                                    Excel 파일
                                </span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="___customFileExcel"
                                       aria-describedby="___customFileAddonExcel" name="excelFile">
                                <label class="custom-file-label" for="___customFileExcel">파일 선택</label>
                            </div>
                        </div>
                        <p class="my-1">
                            - 제공하는 Excel 의 확장자는 *.xlsx (2010 버전 이후) 입니다.<br/>
                            - 지도 데이터 타입 및 파일 이름에는 RASTER (TIFF 파일), VECTOR (SHP 파일), CADRG (ZIP 파일) 을 작성하시면 됩니다.<br/>
                            - EXCEL 파일 폴더명 및 지도 파일 데이터 이름은 메뉴얼에 기재된 디렉토리 안에 포함되어 있어야 등록이 가능합니다.<br/>
                            - SAMPLE 파일을 입력할 때, 2번 행에 있는 대괄호 내용들은 지우고 작성하시길 바랍니다.
                        </p>
                        <hr/>
                        <div class="d-flex justify-content-around">
                            <div id="download-btn">
                                <a class="btn btn-info" th:href="@{/view/manage/excel-sample-download}">
                                    <i class="fas fa-file-download"></i> SAMPLE 파일 다운로드
                                </a>
                            </div>
                            <div id="modal-btn">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="fas fa-times"></i> 취소
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> 저장
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        var message = /*[[ ${message} ]]*/ null;
        var table = null;
        $(document).ready(function() {
            if (!jQuery.isEmptyObject(message)) {
                toastr.info(message);
            } else {
                var tmpMessage = sessionStorage.getItem('message');
                if(tmpMessage){
                    toastr.info(tmpMessage);
                    sessionStorage.removeItem('message');
                }
            }

            $('#layer-name').change(function() {
                $('#layer-name').data("check-duplicate",false);
                $('#duplicate-check-message').text("중복확인을 해주세요.");
            });

            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            // Datepicker
            $("#sDate").datepicker({
                format:'yyyy-mm-dd'
            });
            $("#eDate").datepicker({
                format:'yyyy-mm-dd'
            });

            var progressBar = $("#progressbar");
            var progressLabel = $("#progress-label");

            progressBar.progressbar({
                value: false,
                change: function() {
                    progressLabel.text(progressBar.progressbar("value") + "%");
                },
                complete: function() {
                    progressLabel.text("LAYER 파일 생성 작업이 완료 되었습니다.");
                }
            });


            $('#layer-create').ajaxForm({
                url: `${CONTEXT}/view/manage/layer-create`,
                type: 'POST',
                beforeSubmit: function(arr, $form, options) {
                    $('#file-upload-modal').modal('show');
                    progressBar.progressbar( "value", 0 );
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    progressBar.progressbar( "value", percentComplete );
                },
                success: function(text, status, xhr, element) {
                    sessionStorage.setItem('message', `LAYER [${ document.getElementById('layer-name').value }] 추가 ${ (status === 'success') ? '성공' : '실패' } 하였습니다.`);
                    window.location.href = CONTEXT + '/view/manage/layer-list' + window.location.search;
                }
            });

            $('#layer-update').ajaxForm({
                url: `${CONTEXT}/view/manage/layer-update`,
                type: 'POST',
                beforeSubmit: function(arr, $form, options) {
                    $('#file-upload-modal').modal('show');
                    progressBar.progressbar( "value", 0 );
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    progressBar.progressbar( "value", percentComplete );
                },
                success: function(text, status, xhr, element) {
                    sessionStorage.setItem('message', `LAYER [${ document.getElementById('layer-name-u').value }] 수정 ${ (status === 'success') ? '성공' : '실패' } 하였습니다.`);
                    window.location.href = CONTEXT + '/view/manage/layer-list' + window.location.search;
                }
            });
        });

        function validateMiddleFolder(form){
            if(form['middleFolder'].value === '') {
                toastr.warning("중간 폴더를 입력하시길 바랍니다.");
                return false;
            } else {
                var middleFolder = form['middleFolder'].value;
                if(middleFolder.startsWith('/') || middleFolder.endsWith('/')){
                    toastr.warning('중간 폴더 경로 맨 앞이나 맨 뒤에 "/" 문자를 넣지 마시길 바랍니다.');
                    return false;
                } else return true;
            }
        }

        function validateFile(form){
            var file = form['data_file'].value;
            if(file) {
                var fileArr = file.split('\\');
                var fileName = fileArr[fileArr.length - 1];
                var fileType = form['type'].value;
                if(fileName.endsWith('zip') || fileName.endsWith('ZIP')){
                    if(fileType === 'RASTER'){
                        toastr.warning('ZIP 파일은 VECTOR 및 CADRG 타입만 업로드 가능합니다.');
                        return false;
                    } else if(fileType === 'VECTOR') {
                        handleFile(form, $(form).attr('id') === "layer-create" > -1 ? 'INSERT' : 'UPDATE');
                        return true;
                    } else if(fileType === 'CADRG') {
                        handleFile(form, $(form).attr('id') === "layer-create" > -1 ? 'INSERT' : 'UPDATE');
                        return true;
                    } else return false;
                } else if (fileName.endsWith('tif') || fileName.endsWith('TIF')){
                    if(fileType !== 'RASTER'){
                        toastr.warning('TIFF 파일은 RASTER 타입만 업로드 가능합니다.');
                        return false;
                    } else return true;
                } else {
                    toastr.warning('*.zip, *.tif 파일만 업로드 가능합니다.');
                    return false;
                }
            } else return true;
        }

        function handleFile(form, type) {
            var file = document.getElementsByName('data_file')[type === 'INSERT' ? 0 : 1].files[0];
            if(file) {
                var type = $('#layer-type' + (type === 'INSERT') ? "" : "-u").val();
                var zipMain = new JSZip();
                if (type === 'VECTOR') {
                    zipMain.loadAsync(file)
                        .then(function (zip) {
                            var arr = ['shp', 'shx', 'dbf'];
                            zip.forEach(function (rPath) {
                                var split = rPath.split('.');
                                var ext = split[split.length - 1] && split[split.length - 1].toLowerCase();
                                if(arr.includes(ext)){
                                    arr.splice(arr.indexOf(ext), 1);
                                }
                            });
                            if(arr.length > 0){
                                if(arr.includes('shp')) {
                                    toastr.warning('압축 파일 안에 *.shp 파일이 없습니다. 다시 업로드 하시길 바랍니다.')
                                } else {
                                    toastr.warning('SHP 파일 업로드 시, *.shp, *.shx, *.dbf 파일이 포함되어 있어야 합니다.');
                                }
                            } else {
                                form.submit();
                            };
                        }
                    );
                }

                if (type === 'CADRG') {
                    zipMain.loadAsync(file)
                        .then(function (zip) {
                            var inc = false;

                            zip.forEach(function (rPath) {
                                if(rPath === 'RPF/A.TOC') {
                                    inc = true;
                                }
                            });

                            if(inc) form.submit();
                            else {
                                toastr.warning('CADRG ZIP 파일을 올릴 때, 실행 파일 경로가 /RPF/A.TOC 에 저장되어 있는지 확인 부탁 드립니다.');
                            }
                        });
                }
            }
        }

        function addLayer(form) {
            if (jQuery.isEmptyObject(form['name'].value)) {
                form['name'].focus();
                toastr.warning("이름이 입력되지 않았습니다.");
                return false;
            } else if(jQuery(form['name']).data("check-duplicate") === false) {
                toastr.warning("이름 중복확인이 되지 않았습니다.");
                return false;
            } else if(form['data_file'].value === ''){
                toastr.warning("레이어 파일을 업로드 하시길 바랍니다. Raster 파일은 *.tif, Vector 파일은 *.shp 이 포함된 *.zip, CADRG 도 마찬가지로 *.zip 입니다.");
                return false;
            } else {
                return true;
            }
        }

        function preSubmit(form) {
            var id = $(form).attr('id');
            console.log(id)
            switch(id){
                case "layer-create" :
                    return addLayer(form) && validateMiddleFolder(form) && validateFile(form);
                case "layer-update" :
                    return validateMiddleFolder(form) && validateFile(form);
                default :
                    return false;
            }
        }

        function delLayer(ths, layerName, layerId) {
            if (confirm("[ " + layerName + " ] Layer 를 제거 하시겠습니까?")) {
                jQuery.post({
                    url: CONTEXT + "/view/manage/layer-delete",
                    data: {layerId : layerId}
                }).done(function(result) {
                    if (result) {
                        toastr.success("Layer [ " + layerName + " ] 가 제거 되었습니다.");
                        jQuery(ths).parents('.layer-item').remove();
                        if($('.layer-item').length === 9 || $('.layer-item').length === 0) {
                            window.location.href = CONTEXT + '/view/manage/layer-list?pg=1&sz=10&lType=ALL';
                        } else {
                            var total = $('#total');
                            total.html((Number(total.html()) - 1));
                        }
                    } else {
                        toastr.error('Layer 제거 중 오류가 발생하였습니다.');
                    }
                }).fail(function() {
                    toastr.error('Layer 제거에 실패하였습니다.');
                }).always(function() {
                    jQuery("#loader-wrapper").hide();
                });
            }
        }

        function addSource(id) {
            var option;
            if (id) {
                option = jQuery("#___customSelect").find("option[value='"+id+"']");
            } else {
                option = jQuery("#___customSelect").find("option:checked")
            }
            var area = jQuery("#parent-buttons");
            var sources = area.find("[data-source-id]");
            if (sources.length === 0) {
                area.empty();
            }
            area.append("<button data-source-id='"+option.val()+"' type=\"button\" class=\"btn btn-outline-warning mb-1 ml-1 p-1 hidden\" " +
                "               style=\"padding-top: 3px !important;padding-bottom: 3px !important;\"><span>"+option.text()+"</span>\n" +
                "           <i class=\"fa fa-fw fa-times\" onclick=\"removeSource('"+option.val()+"')\"></i>\n" +
                "               <input type=\"hidden\" name=\"sources\" value=\""+option.val()+"\">\n" +
                "       </button>");
            if (id) {
                // nothing
            } else {
                toastr.success("Source[" + option.text() + "]가 연결되었습니다.");
            }
        }

        function removeSource(sourceId) {
            var area = jQuery("#parent-buttons");
            var source = area.find("[data-source-id='"+sourceId+"']");
            source.remove();
            //
            var sources = area.find("[data-source-id]");
            if (sources.length === 0) {
                area.append("<button type=\"button\" class=\"btn btn-warning text-white mb-1 p-1\" style=\"padding-top: 3px !important;padding-bottom: 3px !important;\" id=\"btn-parent-all\">연결된 Source 가 없습니다.</button>");
            }
        }

        jQuery("#layer-create-modal").on("shown.bs.modal", function(e) {
            var btn = e.relatedTarget;
            var target = jQuery(btn).data("target");
            var popup = jQuery(target);

            popup.find("[name='name']").val('');
            popup.find("[name='description']").val('');
            popup.find("[name='projection'] > option").first().attr('selected', 'true');
            popup.find("[name='middle_folder']").val('');
        });

        jQuery("#layer-update-modal").on("shown.bs.modal", function(e) {
            var btn = e.relatedTarget;

            var layerId = jQuery(btn).data('id');
            var layerName = jQuery(btn).data("name");
            var layerDescription = jQuery(btn).data("description");
            var layerProjection = jQuery(btn).data('projection');
            var layerMiddleFolder = $(btn).data('middlefolder');
            var type = $(btn).data('layertype');
            var filePath = $(btn).data('filepath');
            var version = $(btn).data('version');

            var target = jQuery(btn).data("target");
            var popup = jQuery(target);
            if (layerId) {
                popup.find("[name='id']").val(layerId);
                popup.find("[name='name']").val(layerName);
                popup.find("[name='description']").val(layerDescription);
                popup.find("[name='projection']").val(layerProjection);
                popup.find("[name='middleFolder']").val(layerMiddleFolder);
                popup.find("[name='version']").val(version);
                popup.find("[name='type']").val(type === 'RASTER' ? 'RASTER' : type === 'VECTOR' ? 'VECTOR' : 'CADRG');
                document.getElementById('data_file_path').innerText = filePath;
            } else {
                popup.find("[name='id']").val(0);
                popup.find("[name='name']").val('');
                popup.find("[name='description']").val('');
                popup.find("[name='projection'] > option").first().attr('selected', 'true');
                popup.find("[name='middleFolder']").val('');
                popup.find("[name='type']").val('RASTER');
                document.getElementById('data_file_path').innerText = 'HAS NO DATA.';
            }
        });

        function onclick_day_button(day) {
            var sDate = document.getElementById("sDate");
            var eDate = document.getElementById("eDate");
            var minus;
            if (eDate.value === "") {
                minus = new Date();
                minus.setDate(minus.getDate() - day);
                sDate.value = minus.toISOString().slice(0, 10);
                eDate.value = new Date().toISOString().slice(0, 10);
            } else {
                minus = new Date(eDate.value);
                minus.setDate(minus.getDate() - day);
                sDate.value = minus.toISOString().slice(0, 10);
            }
        }

        function onsubmit_check() {
            var sDate = document.getElementById("sDate");
            var eDate = document.getElementById("eDate");

            if (sDate.value === '' && eDate.value === '') {
                return true;
            } else {
                if (sDate.value === '' || eDate.value === '') {
                    toastr.warning('날짜는 둘 다 기입이 되거나 아무 것도 기입이 안 되어 있어야 합니다.');
                    return false;
                } else {
                    if(sDate.value.localeCompare(eDate.value) > 0) {
                        toastr.warning('날짜 순서에 오류가 있습니다.');
                        return false;
                    } else return true;
                }
            }
        }

        function onclick_refresh_search(){
            $("#ob option:eq(0)").prop("selected", true);
            $("#sb option:eq(0)").prop("selected", true);
            document.getElementById('st').value = '';
            document.getElementById('sDate').value = '';
            document.getElementById('eDate').value = '';
            $("input:radio[name='lType'][value='ALL']").prop('checked', true);
            $("input:radio[name='lType'][value='RASTER']").prop('checked', false);
            $("input:radio[name='lType'][value='VECTOR']").prop('checked', false);
        }
    </script>
</th:block>
<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/datapicker/datepicker3.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/daterangepicker/daterangepicker-bs3.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/js/plugins/jquery-ui/jquery-ui.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/jszip/jszip.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/jquery-form/jquery.form.min.js}"></script>
</th:block>
</html>