<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">Layer 관리</h1>
    <div id="map_config_button">
        <button data-toggle="modal" data-target="#layer-create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Layer 추가
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="layer-create" tabindex="-1" role="dialog" aria-labelledby="insert-layer" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form th:action="@{/view/manage/add-layer}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insert-layer">Layer 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="layer-name">Layer Name</label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" name="name" id="layer-name">
                                <div class="input-group-append">
                                    <span class="input-group-btn btn btn-primary" onclick="jiCommon.duplicateCheck('LAYER','#layer-name','#duplicate-check-message')">중복확인</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message">중복확인을 해주세요.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="layer-description">설명</label>
                            <input type="text" class="form-control" name="description" id="layer-description">
                        </div>
                        <!-- TODO select 로 수정 필요함 -->
                        <div class="form-group">
                            <label for="layer-projection">투영</label>
                            <select class="form-control" id="layer-projection" name="projection">
                                <option value="epsg:3857">EPSG:3857</option>
                                <option value="epsg:4326">EPSG:4326</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="layer-middle_folder">폴더명</label>
                            <input type="text" class="form-control" name="middle_folder" id="layer-middle_folder">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label" for="layer-type">Layer Type</label>
                                <select class="form-control" name="type" id="layer-type">
                                    <option value="Raster">Raster</option>
                                    <option value="Vector">Vector</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <label class="col-form-label" for="___customFile">지도 파일</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="___customFileAddon">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="___customFile"
                                               aria-describedby="___customFileAddon" name="data_file">
                                        <label class="custom-file-label" for="___customFile">Choose file</label>
                                    </div>
                                </div>
                                <script>
                                    // Add the following code if you want the name of the file appear on select
                                    $(".custom-file-input").on("change", function() {
                                        var fileName = $(this).val().split("\\").pop();
                                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">지도 관리</li>
            <li class="breadcrumb-item active" aria-current="page">Layer 관리</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content-body-fragment">
    <!-- 지도 검색 목록 -->
    <div class="row">
        <!-- Search Box -->
        <form class="col-lg-3 col-md-4" onsubmit="onsubmit_func()">
            <div class="form-group">
                <label>정렬 방식</label>
                <select id="ob" name="ob" class="form-control">
                    <option value="999">[정렬 방식 선택]</option>
                </select>
            </div>

            <div class="form-group">
                <label>검색 종류</label>
                <select id="sb" name="sb" class="form-control">
                    <option value="999">[검색 종류 선택]</option>
                </select>
            </div>

            <div class="form-group">
                <label>키워드 검색</label>
                <input id="st" name="st" type="text" class="form-control" placeholder="검색어" />
            </div>

            <div class="form-group">
                <label>업로드 일자</label>
                <input id="sDate" name="sDate" type="date" class="form-control mb-1" />
                <input id="eDate" name="eDate" type="date" class="form-control mt-1" />
            </div>

            <div class="form-group">
                <label>날짜 선택</label>
                <div class="form-check">
                    <input id="day1" name="day" type="radio" class="form-check-input" value="1" onclick="onclick_day_radio(this)" />
                    <label class="form-check-label" for="day1">1일</label>
                </div>
                <div class="form-check">
                    <input id="day3" name="day" type="radio" class="form-check-input" value="3" onclick="onclick_day_radio(this)" />
                    <label class="form-check-label" for="day3">3일</label>
                </div>
                <div class="form-check">
                    <input id="day7" name="day" type="radio" class="form-check-input" value="7" onclick="onclick_day_radio(this)" />
                    <label class="form-check-label" for="day7">7일</label>
                </div>
                <div class="form-check">
                    <input id="day30" name="day" type="radio" class="form-check-input" value="30" onclick="onclick_day_radio(this)" />
                    <label class="form-check-label" for="day30">30일</label>
                </div>
            </div>

            <div class="form-group">
                <label>데이터 유형</label>
                <div class="form-check">
                    <input type="radio" id="raster" name="lType" value="RASTER" class="form-check-input" />
                    <label class="form-check-label" for="raster">레스터</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="vector" name="lType" value="VECTOR" class="form-check-input" />
                    <label class="form-check-label" for="vector">벡터</label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fas fa-search"></i> 검색
                </button>
            </div>
        </form>

        <!-- Layer List View -->
        <div class="col-lg-9 col-md-8">
            <h4 id="search_count" class="my-2"></h4>
            <div id="pagination_bar"></div>
            <div class="row" id="search_layers"></div>
        </div>

        <script th:inline="javascript">
            var message = /*[[ ${message} ]]*/ null;
            var table = null;
            $(document).ready(function() {
                if(!jQuery.isEmptyObject(message)) {
                    toastr.info(message);
                }
                $('#layer-name').change(function() {
                    $('#layer-name').data("check-duplicate",false);
                    $('#duplicate-check-message').text("중복확인을 해주세요.");
                });
            });

            function preSubmit(form) {
                var action = form.action;
                if(action.indexOf("add-layer") > -1) {
                    addLayer(form);
                }
                return false;
            }

            function addLayer(form) {
                if(jQuery.isEmptyObject(form['name'].value)) {
                    form['name'].focus();
                    toastr.warning("이름이 입력되지 않았습니다.");
                    return
                }else if(jQuery(form['name']).data("check-duplicate") === false) {
                    toastr.warning("이름 중복확인이 되지 않았습니다.");
                    return
                }
                form.submit();
            }

            function delLayer(ths, layerName, layerId) {
                if(confirm("[ " + layerName + " ] Layer 를 제거 하시겠습니까?")) {
                    jQuery.post({
                        url: CONTEXT + "/view/manage/del-layer",
                        data: {layerId : layerId}
                    }).done(function(result) {
                        if (result) {
                            toastr.success("Layer [ " + layerName + " ] 가 제거 되었습니다.");
                            jQuery(ths).parents('.layer-item').remove();
                            var total = $('#total');
                            total.html((Number(total.html()) - 1));
                        } else {
                            toastr.error('Layer 제거 중 오류가 발생하였습니다.');
                        }
                    }).fail(function() {
                        toastr.error('Layer 제거에 실패하였습니다.');
                    }).always(function() {
                        jQuery("#loader-wrapper").hide();
                    });
                }
            }

            function addSource(id) {
                var option;
                if (id) {
                    option = jQuery("#___customSelect").find("option[value='"+id+"']");
                } else {
                    option = jQuery("#___customSelect").find("option:checked")
                }
                var area = jQuery("#parent-buttons");
                var sources = area.find("[data-source-id]");
                if (sources.length === 0) {
                    area.empty();
                }
                area.append("<button data-source-id='"+option.val()+"' type=\"button\" class=\"btn btn-outline-warning mb-1 ml-1 p-1 hidden\" " +
                    "               style=\"padding-top: 3px !important;padding-bottom: 3px !important;\"><span>"+option.text()+"</span>\n" +
                    "           <i class=\"fa fa-fw fa-times\" onclick=\"removeSource('"+option.val()+"')\"></i>\n" +
                    "               <input type=\"hidden\" name=\"sources\" value=\""+option.val()+"\">\n" +
                    "       </button>");
                if(id) {
                    // nothing
                }else {
                    toastr.success("Source[" + option.text() + "]가 연결되었습니다.");
                }
            }

            function removeSource(sourceId){
                var area = jQuery("#parent-buttons");
                var source = area.find("[data-source-id='"+sourceId+"']");
                source.remove();
                //
                var sources = area.find("[data-source-id]");
                if(sources.length === 0) {
                    area.append("<button type=\"button\" class=\"btn btn-warning text-white mb-1 p-1\" style=\"padding-top: 3px !important;padding-bottom: 3px !important;\" id=\"btn-parent-all\">연결된 Source 가 없습니다.</button>");
                }
            }

            jQuery("#layer-create").on("shown.bs.modal", function(e) {
                var btn = e.relatedTarget;
                var layerId = jQuery(btn).data('id');
                var layerName = jQuery(btn).data("name");
                var layerDescription = jQuery(btn).data("description");
                var layerProjection = jQuery(btn).data('projection');
                var layerMiddleFolder = $(btn).data('middlefolder');
                console.log(layerMiddleFolder);
                var target = jQuery(btn).data("target");
                /*var area = jQuery("#parent-buttons");
                area.empty();*/
                var popup = jQuery(target);
                if(layerId) {
                    //view
                    popup.find("[name='name']").val(layerName);
                    popup.find("[name='description']").val(layerDescription);
                    popup.find("[name='projection']").val(layerProjection);
                    popup.find("[name='middle_folder']").val(layerMiddleFolder);
                    /*jQuery.each(sources,function(idx,id) {
                        addSource(id)
                    });*/
                } else {
                    //new
                    popup.find("[name='name']").val('');
                    popup.find("[name='description']").val('');
                    popup.find("[name='projection'] > option").first().attr('selected', 'true');
                    popup.find("[name='middle_folder']").val('');
                    //popup.find("[name='thumbnail']").val('');
                    //area.append("<button type=\"button\" class=\"btn btn-warning text-white mb-1 p-1\" style=\"padding-top: 3px !important;padding-bottom: 3px !important;\" id=\"btn-parent-all\">연결된 Source 가 없습니다.</button>")
                }
            });
        </script>
        <script th:src="@{/js/page/search.js}"></script>
    </div>
</th:block>
</html>