<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">지도 관리</li>
            <li class="breadcrumb-item active" aria-current="page">Layer 관리</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">Layer 관리</h1>
    <div id="map_config_button">
        <button data-toggle="modal" data-target="#layer-create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Layer 추가
        </button>
        <a href="/view/manage/source-manage" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-layer-group fa-sm text-white-50"></i> Source 관리
        </a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm text-white" onclick="jiCommon.reloadDocker()">
            <i class="fas fa-layer-group fa-sm text-white"></i> Docker 적용
        </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="layer-create" tabindex="-1" role="dialog" aria-labelledby="insert-layer" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/view/manage/add-layer" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insert-layer">Layer 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="layer-name">Layer ID</label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" name="name" id="layer-name">
                                <div class="input-group-append">
                                    <span class="input-group-btn btn btn-primary" onclick="jiCommon.duplicateCheck('LAYER','#layer-name','#duplicate-check-message')">중복확인</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message">중복확인을 해주세요.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>설명</label>
                            <input type="text" class="form-control" name="title" >
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label">Layer Type</label>
                                <select class="form-control" name="type">
                                    <option value="1">Raster</option>
                                    <option value="1">Vector</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <label class="col-form-label" for="___customFile">썸네일 이미지</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="___customFileAddon">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="___customFile"
                                               aria-describedby="___customFileAddon" name="thumbnail">
                                        <label class="custom-file-label" for="___customFile">Choose file</label>
                                    </div>
                                </div>
                                <script>
                                    // Add the following code if you want the name of the file appear on select
                                    $(".custom-file-input").on("change", function() {
                                        var fileName = $(this).val().split("\\").pop();
                                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="___customSelect">Source 연결</label>
                            </div>
                            <div class="col-12 input-group">
                                <select class="form-control custom-select" id="___customSelect">
                                    <option th:each="source : ${ sources }" th:value="${source.id}" th:label="${source.name}" />
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-btn btn btn-primary">추가</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Source 연결 목록</label>
                            <div class="btn-group-sm collapse show" id="parent-buttons">
                                <button type="button" class="btn btn-warning text-white mb-1 p-1" style="padding-top: 3px !important;padding-bottom: 3px !important;" id="btn-parent-all">연결된 Source 가 없습니다.</button>
                                <button type="button" class="btn btn-outline-warning mb-1 p-1" style="padding-top: 3px !important;padding-bottom: 3px !important;" id="0a01ebbb8c1042da89211663d30d04ef"><span>...</span>
                                    <i class="fa fa-fw fa-times" onclick="remove('0a01ebbb8c1042da89211663d30d04ef','...')"></i>
                                    <input type="hidden" name="sources" value="1">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content-body-fragment">
    <!-- 지도 검색 목록 -->
    <div class="row">
        <!-- Search Box -->
        <div class="col-lg-3 col-md-4">
            <div class="form-group">
                <label>키워드 검색</label>
                <input id="keyword" type="text" class="form-control" placeholder="검색어" />
            </div>

            <div class="form-group">
                <label>업로드 일자</label>
                <input id="start_date" type="date" class="form-control mb-1" />
                <input id="end_date" type="date" class="form-control mt-1" />
            </div>

            <div class="form-group">
                <label>날짜 선택</label>
                <div class="form-check">
                    <input id="day1" name="day" type="radio" class="form-check-input" value="1" />
                    <label class="form-check-label" for="day1">1일</label>
                </div>
                <div class="form-check">
                    <input id="day3" name="day" type="radio" class="form-check-input" value="3" />
                    <label class="form-check-label" for="day3">3일</label>
                </div>
                <div class="form-check">
                    <input id="day7" name="day" type="radio" class="form-check-input" value="7" />
                    <label class="form-check-label" for="day7">7일</label>
                </div>
                <div class="form-check">
                    <input id="day30" name="day" type="radio" class="form-check-input" value="30" />
                    <label class="form-check-label" for="day30">30일</label>
                </div>
            </div>

            <div class="form-group">
                <label>데이터 유형</label>
                <div class="form-check">
                    <input id="raster" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="raster">레스터</label>
                </div>
                <div class="form-check">
                    <input id="vector" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="vector">벡터</label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary">
                    <i class="fas fa-search"></i> 검색
                </button>
            </div>
        </div>

        <!-- Layer List View -->
        <div class="col-lg-9 col-md-8">
            <h4 class="mt-1">검색 결과 : 총 <span th:text="${ layers.size() }"></span> 건</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2 layer-item" th:each="layer : ${ layers }">
                    <div class="card">
                        <img class="card-img-top p-2" th:src="'../image/' + ${layer['thumbnail'] + '.thumbnail.img'}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ layer.title }"></h5>
                            <p class="card-text">
                                <i class="fas fa-calendar"></i> 2020-02-26 11:11:11 <br/>
                                <i class="fas fa-user"></i> UPLOADER <br/>
                                <i class="fas fa-atlas"></i> <span th:text="${ layer.name }"></span><br/>
                                <th:block th:if="${layer.is_default}">
                                    <i class="fas fa-layer-group" ></i> <span>기본레이어(편집불가)</span>
                                </th:block>
                            </p>
                            <div class="text-right">
                                <a th:href="${ '/view/map/edit?name=' + layer.name }" class="btn btn-primary" >
                                    <i class="fas fa-cog"></i>
                                </a>
                                <span th:if="${!layer.is_default}" class="btn btn-danger" th:onclick="delLayer(this,[[${layer['name']}]],[[${layer['id']}]])" >
                                    <i class="fas fa-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var message = /*[[ ${message} ]]*/ null;
            var table = null;
            $(document).ready(function() {
                if(!jQuery.isEmptyObject(message)){
                    toastr.info(message)
                }
                $('#layer-name').change(function(){
                    $('#layer-name').data("check-duplicate",false)
                    $('#duplicate-check-message').text("중복확인을 해주세요.")
                })
            });
            function preSubmit(form){
                var action = form.action
                if(action.indexOf("add-layer") > -1){
                    addLayer(form)
                }
                return false
            }
            function addLayer(form) {
                if(jQuery.isEmptyObject(form['name'].value)){
                    form['name'].focus()
                    toastr.warning("이름이 입력되지 않았습니다.")
                    return
                }else if(jQuery(form['name']).data("check-duplicate") === false){
                    toastr.warning("이름 중복확인이 되지 않았습니다.")
                    return
                }
                if(jQuery.isEmptyObject(form['sources'].value)){
                    jQuery("#___customSelect").focus()
                    toastr.warning("소스연결이 되지 않았습니다.")
                    return
                }
                form.submit()
            }
            function delLayer(ths,layerName,layerId) {
                if(confirm("["+layerName+"] Layer 를 제거 하시겠습니까?")){
                    jQuery.post({
                        url: "/view/manage/del-layer",
                        data: {layerId : layerId}
                    }).done(function(result) {
                        if(result){
                            toastr.success("Layer["+layerName+"]가 제거 되었습니다.")
                            jQuery(ths).parents('.layer-item').remove()
                        }else{
                            toastr.error('Layer 제거 중 오류가 발생하였습니다.')
                        }
                    }).fail(function() {
                        toastr.error('Layer 제거에 실패하였습니다.')
                    }).always(function() {
                        jQuery("#loader-wrapper").hide()
                    })
                }
            }
        </script>
    </div>
</th:block>
</html>