<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2>MAP 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/manage/map-manage?pg=1&sz=9&lType=ALL}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">MAP 관리</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-title-fragment">
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- LAYER 추가 버튼 -->
    <div id="map_config_button" class="text-right my-1">
        <a th:href="@{'/view/manage/map-form?' + ${qs}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> MAP 추가
        </a>
        <a th:href="@{/view/manage/layer-manage?pg=1&sz=9&lType=ALL}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-list fa-sm text-white-50"></i> LAYER 관리
        </a>
    </div>

    <div class="row">
        <!-- 검색 방식 선택 -->
        <form class="col-lg-3 col-md-4" onsubmit="return onsubmit_check()">
            <input type="hidden" name="pg" value="1" />
            <input type="hidden" name="sz" value="9" />

            <div class="form-group">
                <label for="ob">정렬 방식</label>
                <select id="ob" name="ob" class="form-control">
                    <option th:each="ob : ${ obList }" th:text="${ ob.label }" th:value="${ ob.value }" th:selected="${ #strings.equals(param.ob, #strings.toString(ob.value)) }"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="sb">검색 종류</label>
                <select id="sb" name="sb" class="form-control">
                    <option th:each="sb : ${ sbList }" th:text="${ sb.label }" th:value="${ sb.value }" th:selected="${ #strings.equals(param.sb, #strings.toString(sb.value)) }"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="st">키워드 검색</label>
                <input id="st" name="st" type="text" class="form-control" placeholder="검색어" th:value="${param.st}" />
            </div>

            <div class="form-group">
                <label>업로드 일자</label>
                <input id="sDate" name="sDate" type="date" class="form-control mb-1" th:value="${param.sDate}" />
                <input id="eDate" name="eDate" type="date" class="form-control mt-1" th:value="${param.eDate}" />

                <div class="btn-group d-flex my-1">
                    <button type="button" class="btn btn-secondary" onclick="onclick_day_button(1)">1 일</button>
                    <button type="button" class="btn btn-secondary" onclick="onclick_day_button(3)">3 일</button>
                    <button type="button" class="btn btn-secondary" onclick="onclick_day_button(7)">7 일</button>
                    <button type="button" class="btn btn-secondary" onclick="onclick_day_button(30)">30 일</button>
                </div>
            </div>

            <div class="form-group">
                <label>이미지 출력 방식</label>
                <div class="form-check">
                    <input type="radio" id="all_iType" name="iType" value="ALL" class="form-check-input" th:checked="${ #strings.equals(param.iType, 'ALL') }" />
                    <label class="form-check-label" for="all_iType">모두</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="jpeg" name="iType" value="jpeg" class="form-check-input" th:checked="${ #strings.equals(param.iType, 'jpeg') }" />
                    <label class="form-check-label" for="jpeg">JPEG</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="png" name="iType" value="png" class="form-check-input" th:checked="${ #strings.equals(param.iType, 'png') }" />
                    <label class="form-check-label" for="png">PNG</label>
                </div>
            </div>

            <div class="form-group">
                <label for="units">지도 측정 단위</label>
                <select class="form-control" name="units" id="units">
                    <option value="ALL" th:selected="${ #strings.equals(param.units, 'ALL') }">-- 모두 --</option>
                    <option value="DD" th:selected="${ #strings.equals(param.units, 'DD') }">DD</option>
                    <option value="FEET" th:selected="${ #strings.equals(param.units, 'FEET') }">FEET</option>
                    <option value="INCHES" th:selected="${ #strings.equals(param.units, 'INCHES') }">INCHES</option>
                    <option value="KILOMETERS" th:selected="${ #strings.equals(param.units, 'KILOMETERS') }">KILOMETERS</option>
                    <option value="METERS" th:selected="${ #strings.equals(param.units, 'METERS') }">METERS</option>
                    <option value="MILES" th:selected="${ #strings.equals(param.units, 'MILES') }">MILES</option>
                    <option value="NAUTICALMILES" th:selected="${ #strings.equals(param.units, 'NAUTICALMILES') }">NAUTICALMILES</option>
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary my-1" type="submit">
                    <i class="fas fa-search"></i> 검색
                </button>
                <button class="btn btn-block btn-warning my-1" type="button" onclick="onclick_refresh_search()">
                    <i class="fas fa-sync"></i> 초기화
                </button>
            </div>
        </form>

        <!-- Map List View -->
        <!-- Data Exists -->
        <div class="col-lg-9 col-md-8" th:if="${ resMap.count > 0 }">
            <h4 class="mt-1">검색 결과 : 총 <span th:text="${ resMap.count }" id="total"></span> 건</h4>

            <th:block th:replace="fragments/html-pagination-bar :: html-pagination-bar('map-manage')" />

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2 map-item" th:each="map : ${ resMap.data }">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${map.name}"></h5>
                            <p class="card-text">
                                <i class="fas fa-calendar"></i> <span th:text="${map.registTime}"></span><br/>
                                <i class="fas fa-user"></i> <span th:text="${map.registorName}"></span><br>
                                <i class="fas fa-atlas"></i> <span th:text="${map.imageType}"></span><br>
                                <th:block th:if="${map.isDefault()}">
                                    <i class="fas fa-layer-group"></i> <span>기본지도(편집불가)</span>
                                </th:block>
                            </p>
                            <div class="text-right">
                                <a th:if="${!map.isDefault()}" class="btn btn-primary" th:href="@{ '/view/manage/map-edit?id=' + ${map.id} + '&' + ${qs} }">
                                    <i class="fas fa-cog"></i>
                                </a>
                                <span th:if="${!map.isDefault()}" class="btn btn-danger" th:onclick="delMap(this,[[${map.name}]],[[${map.id}]])" >
                                    <i class="fas fa-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Data Not Exists -->
        <div class="col-lg-9 col-md-8" th:unless="${ resMap.count > 0 }">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">
                        <i class="fas fa-times-circle"></i> No Results.
                    </h1>
                    <p class="lead">해당하는 데이터가 존재하지 않습니다. 다른 방법으로 검색 시도 바랍니다.</p>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var message = /*[[ ${message} ]]*/ null;
        var table = null;

        $(document).ready(function() {
            if (!jQuery.isEmptyObject(message)) {
                toastr.info(message);
            }

            $('#source-name').change(function() {
                $('#source-name').data("check-duplicate",false);
                $('#duplicate-check-message').text("중복확인을 해주세요.");
            })
        });

        function delMap(ths, mapName, mapId) {
            if (confirm("[ " + mapName + " ] Map 을 제거 하시겠습니까?")) {
                jQuery.post({
                    url: CONTEXT + "/view/manage/del-map",
                    data: {mapId : mapId}
                }).done(function(result) {
                    if(result) {
                        toastr.success("Map [ " + mapName+ " ] 가 제거 되었습니다.");
                        jQuery(ths).parents('.map-item').remove();
                        var total = $('#total');
                        total.html((Number(total.html()) - 1));
                    } else {
                        toastr.error('Map 제거 중 오류가 발생하였습니다.');
                    }
                }).fail(function() {
                    toastr.error('Map 제거에 실패하였습니다.');
                }).always(function() {
                    jQuery("#loader-wrapper").hide();
                })
            }
        }

        function onclick_day_button(day){
            var sDate = document.getElementById("sDate");
            var eDate = document.getElementById("eDate");
            if(eDate.value == ""){
                var minus = new Date();
                minus.setDate(minus.getDate() - day);
                sDate.value = minus.toISOString().slice(0, 10);
                eDate.value = new Date().toISOString().slice(0, 10);
            } else {
                var minus = new Date(eDate.value);
                minus.setDate(minus.getDate() - day);
                sDate.value = minus.toISOString().slice(0, 10);
            }
        }

        function onsubmit_check(){
            var sDate = document.getElementById("sDate");
            var eDate = document.getElementById("eDate");

            if(sDate.value == '' && eDate.value == ''){
                return true;
            } else {
                if(sDate.value == '' || eDate.value == ''){
                    alert('날짜는 둘 다 기입이 되거나 아무 것도 기입이 안 되어 있어야 합니다.');
                    return false;
                } else {
                    if(sDate.value.localeCompare(eDate.value) > 0){
                        alert('날짜 순서에 오류가 있습니다.');
                        return false;
                    } else return true;
                }
            }
        }

        function onclick_refresh_search(){
            $("#ob option:eq(0)").prop("selected", true);
            $("#sb option:eq(0)").prop("selected", true);
            document.getElementById('st').value = '';
            document.getElementById('sDate').value = '';
            document.getElementById('eDate').value = '';
            $("input:radio[name='iType'][value='ALL']").prop('checked', true);
            $("input:radio[name='iType'][value='jpeg']").prop('checked', false);
            $("input:radio[name='iType'][value='png']").prop('checked', false);
            $("#units option:eq(0)").prop("selected", true);
        }
    </script>
</th:block>
</html>