<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2>MAP 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/manage/map-list?pg=1&sz=8&lType=ALL}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">MAP 관리</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-title-fragment">
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- search area #START -->
    <div class="search_area">
        <div class="ibox">
            <div class="ibox-content">
                <form onsubmit="return onsubmit_check()">
                    <input type="hidden" name="pg" value="1" />
                    <input type="hidden" name="sz" value="8" />
                    <div class="row justify-content-md-center">
                        <div class="col-xl-3 col-lg-5 col-sm-12 mb-sm-1 mb-0">
                            <select id="sb" name="sb" class="form-control form-control-sm">
                                <option th:each="sb : ${ sbList }" th:text="${ sb.label }" th:value="${ sb.value }" th:selected="${ #strings.equals(param.sb, #strings.toString(sb.value)) }"></option>
                            </select>
                        </div>

                        <div class="col-md-3 col-lg-5 col-sm-12">
                            <div class="input-group">
                                <input placeholder="검색어를 입력하세요." id="st" name="st" type="text" th:value="${param.st}" class="form-control form-control-sm" />
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-sm btn-primary" title="검색">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                                <button type="button" class="btn btn-sm btn-white m-l-xs searchMore" title="상세검색">
                                    <i class="fas fa-angle-down"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-warning m-l-xs" onclick="onclick_refresh_search()">
                                    <i class="fas fa-sync"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="searchDetail">
                        <!-- 검색 방식 선택 -->
                        <div class="hr-line-dashed">
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-12 col-lg-6 col-xl-2">
                                <div class="form-group">
                                    <label for="ob">정렬 방식</label>
                                    <select id="ob" name="ob" class="form-control form-control-sm">
                                        <option th:each="ob : ${ obList }" th:text="${ ob.label }" th:value="${ ob.value }" th:selected="${ #strings.equals(param.ob, #strings.toString(ob.value)) }"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <fieldset>
                                        <legend class="bold">업로드 일자</legend>
                                        <div class="input-daterange input-group input-group-sm" id="datepicker">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control-sm form-control" id="sDate" name="sDate" th:value="${param.sDate}" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    ~
                                                </span>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control-sm form-control" id="eDate" name="eDate" th:value="${param.eDate}" />
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 col-xl-3">
                                <div class="form-group">
                                    <label for="units">지도 측정 단위</label>
                                    <select class="form-control form-control-sm" name="units" id="units">
                                        <option value="ALL" th:selected="${ #strings.equals(param.units, 'ALL') }">-- 모두 --</option>
                                        <option value="DD" th:selected="${ #strings.equals(param.units, 'DD') }">DD</option>
                                        <option value="FEET" th:selected="${ #strings.equals(param.units, 'FEET') }">FEET</option>
                                        <option value="INCHES" th:selected="${ #strings.equals(param.units, 'INCHES') }">INCHES</option>
                                        <option value="KILOMETERS" th:selected="${ #strings.equals(param.units, 'KILOMETERS') }">KILOMETERS</option>
                                        <option value="METERS" th:selected="${ #strings.equals(param.units, 'METERS') }">METERS</option>
                                        <option value="MILES" th:selected="${ #strings.equals(param.units, 'MILES') }">MILES</option>
                                        <option value="NAUTICALMILES" th:selected="${ #strings.equals(param.units, 'NAUTICALMILES') }">NAUTICALMILES</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 col-xl-3">
                                <div id="iType_box">
                                    <div class="form-group">
                                        <label class="mr-1">이미지 출력 방식</label>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="all_iType" name="iType" value="ALL" class="form-check-input" th:checked="${ #strings.equals(param.iType, 'ALL') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="all_iType">모두</label>
                                        </div>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="jpeg" name="iType" value="jpeg" class="form-check-input" th:checked="${ #strings.equals(param.iType, 'jpeg') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="jpeg">JPEG</label>
                                        </div>
                                        <div class="form-check form-check-inline i-checks">
                                            <input type="radio" id="png" name="iType" value="png" class="form-check-input" th:checked="${ #strings.equals(param.iType, 'png') }" />&nbsp;&nbsp;
                                            <label class="form-check-label" for="png">PNG</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="date_box">
                                    <label class="mr-1">일정 구간</label>
                                    <div class="btn-group my-1">
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(1)">1 일</button>
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(3)">3 일</button>
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(7)">7 일</button>
                                        <button type="button" class="btn btn-secondary" onclick="onclick_day_button(30)">30 일</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- search area #END -->

    <div class="button_area mb-3">
        <div class="d-flex justify-content-between">
            <!-- 총 결과 카운트 -->
            <h3 class="session_tit">검색 결과 : 총 <span th:text="${ resMap.count }" id="total"></span> 건</h3>

            <!-- MAP 추가 및 LAYER 관리 버튼 -->
            <div id="map_config_button">
                <a th:href="@{'/view/manage/map-create?' + ${qs}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1">
                    <i class="fas fa-plus fa-sm text-white-50"></i> MAP 추가
                </a>
            </div>
        </div>
    </div>

    <!-- pannal List #START -->
    <div class="result_area">
        <ul class="col_list col_xxl_3" th:if="${ resMap.count > 0 }">
            <li class="map-item" th:each="map : ${ resMap.data }">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3 class="section_tit" th:text="${map.name}">[MAP 제목]</h3>
                        <div class="ibox-tools">
                            <a th:if="${map.isDefault()}" href="#" data-toggle="tooltip" data-placement="top" title="수정 및 삭제 불가.">
                                <i class="fas fa-map-pin"></i>
                            </a>
                            <a th:if="${!map.isDefault()}" class="" th:href="@{ '/view/manage/map-update?id=' + ${map.id} + '&' + ${qs} }">
                                <i class="fas fa-cog"></i>
                            </a>
                            <a th:if="${!map.isDefault()}" th:onclick="delMap(this,[[${map.name}]],[[${map.id}]])" title="삭제">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                            <tr>
                                <th class="no-borders">
                                    <i class="fas fa-calendar"></i> 등록일
                                </th>
                                <td class="no-borders">
                                    <span th:text="${map.registTime}">[MAP 등록일]</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fas fa-user"></i> 등록자
                                </th>
                                <td>
                                    <span th:text="${map.registorName}">[MAP 등록자]</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fas fa-file-image"></i> 제공 포맷
                                </th>
                                <td>
                                    <span th:text="${map.imageType}">[제공 포맷]</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fas fa-ruler"></i> 측정 단위
                                </th>
                                <td>
                                    <span th:text="${map.units}">[측정 단위]</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fas fa-code-branch"></i> 버전
                                </th>
                                <td>
                                    <span th:text="${map.version}">[LAYER 버전]</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        </ul>

        <div class="jumbotron jumbotron-fluid" th:unless="${ resMap.count > 0 }">
            <div class="container">
                <h1 class="display-4">
                    <i class="fas fa-times-circle"></i> No Results.
                </h1>
                <p class="lead">해당하는 데이터가 존재하지 않습니다. 다른 방법으로 검색 시도 바랍니다.</p>
            </div>
        </div>
        <!-- pannal List #END -->

        <!-- pageNavigation #START -->
        <th:block th:replace="fragments/html-pagination-bar :: html-pagination-bar('/manage/map-manage')" />
        <!-- pageNavigation #END -->

    </div>

    <script th:inline="javascript">
        var message = /*[[ ${message} ]]*/ null;
        var table = null;

        $(document).ready(function() {
            if (!jQuery.isEmptyObject(message)) {
                toastr.info(message);
            }

            $('#source-name').change(function() {
                $('#source-name').data("check-duplicate",false);
                $('#duplicate-check-message').text("중복확인을 해주세요.");
            })

            // Datepicker
            $("#sDate").datepicker({
                format:'yyyy-mm-dd'
            });
            $("#eDate").datepicker({
                format:'yyyy-mm-dd'
            });
        });

        function delMap(ths, mapName, mapId) {
            if (confirm("[ " + mapName + " ] Map 을 제거 하시겠습니까?")) {
                jQuery.post({
                    url: CONTEXT + "/view/manage/map-delete",
                    data: {mapId : mapId}
                }).done(function(result) {
                    if(result) {
                        toastr.success("Map [ " + mapName+ " ] 가 제거 되었습니다.");
                        $(ths).parents('.map-item').remove();
                        if($('.map-item').length == 7){
                            window.location.href = CONTEXT + '/view/manage/map-list?pg=1&sz=8&iType=ALL&units=ALL';
                        } else {
                            var total = $('#total');
                            total.html((Number(total.html()) - 1));
                        }
                    } else {
                        toastr.error('Map 제거 중 오류가 발생하였습니다.');
                    }
                }).fail(function() {
                    toastr.error('Map 제거에 실패하였습니다.');
                }).always(function() {
                    jQuery("#loader-wrapper").hide();
                })
            }
        }

        function onclick_day_button(day){
            var sDate = document.getElementById("sDate");
            var eDate = document.getElementById("eDate");
            if(eDate.value == ""){
                var minus = new Date();
                minus.setDate(minus.getDate() - day);
                sDate.value = minus.toISOString().slice(0, 10);
                eDate.value = new Date().toISOString().slice(0, 10);
            } else {
                var minus = new Date(eDate.value);
                minus.setDate(minus.getDate() - day);
                sDate.value = minus.toISOString().slice(0, 10);
            }
        }

        function onsubmit_check(){
            var sDate = document.getElementById("sDate");
            var eDate = document.getElementById("eDate");

            if(sDate.value == '' && eDate.value == ''){
                return true;
            } else {
                if(sDate.value == '' || eDate.value == ''){
                    toastr.warning('날짜는 둘 다 기입이 되거나 아무 것도 기입이 안 되어 있어야 합니다.');
                    return false;
                } else {
                    if(sDate.value.localeCompare(eDate.value) > 0){
                        toastr.warning('날짜 순서에 오류가 있습니다.');
                        return false;
                    } else return true;
                }
            }
        }

        function onclick_refresh_search(){
            $("#ob option:eq(0)").prop("selected", true);
            $("#sb option:eq(0)").prop("selected", true);
            document.getElementById('st').value = '';
            document.getElementById('sDate').value = '';
            document.getElementById('eDate').value = '';
            $("input:radio[name='iType'][value='ALL']").prop('checked', true);
            $("input:radio[name='iType'][value='jpeg']").prop('checked', false);
            $("input:radio[name='iType'][value='png']").prop('checked', false);
            $("#units option:eq(0)").prop("selected", true);
        }
    </script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/datapicker/datepicker3.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/daterangepicker/daterangepicker-bs3.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/daterangepicker/daterangepicker.js}"></script>
</th:block>
</html>