<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<!-- https://www.pgpool.net/docs/pgpoolAdmin/en/config.html : PGPool 2 설정 파일 Ref. -->
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">동기화 - 데이터베이스</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">동기화 - 데이터베이스</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/sync/file}">시스템</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">동기화 - 데이터베이스</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">

    <!-- 동기화 진행 현황 View 시작 -->
    <div class="row">

        <!-- A 서버 진행 현황 시작 -->
        <div class="col-xl-5 mb-4">
            <div class="card border-bottom-success shadow h-100 py-2">
                <div class="card-body text-center">
                    <div class="text-sm font-weight-bold text-uppercase mb-1 text-success">
                        <i class="h1 fas fa-check-circle"></i>
                        <p>
                            192.168.0.3<br/>
                            STATUS - <span>UP</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- // A 서버 진행 현황 종료 -->

        <!-- 동기화 진행 현황 표기 시작 -->
        <div class="col-xl-2 my-auto text-center">
            <i class="h3 fas fa-arrow-right"></i>

            <select id="center_list1" class="form-control my-1">
                <option value="UO_center">UO 센터</option>
                <option value="O3_center">O3 센터</option>
                <option value="OOO_center">OO사 센터</option>
            </select>

            <select id="center_list2" class="form-control my-1">
                <option value="si_1">SI 서버 (1)</option>
                <option value="si_2">SI 서버 (2)</option>
                <option value="n_si_1">N-SI 서버 (1)</option>
                <option value="n_si_2">N-SI 서버 (2)</option>
            </select>

            <input type="checkbox" id="sync_confirm" onchange="onchange_sync()" /><label class="mx-1" for="sync_confirm">동기화 기록 포함</label>
        </div>
        <!-- // 동기화 진행 현황 표기 종료 -->

        <!-- B 서버 진행 현황 시작 -->
        <div class="col-xl-5 mb-4">
            <div class="card border-bottom-success shadow h-100 py-2">
                <div class="card-body text-center">
                    <div class="text-sm font-weight-bold text-uppercase mb-1 text-success">
                        <i class="h1 fas fa-check-circle"></i>
                        <p>
                            192.168.0.4<br/>
                            STATUS - <span>UP</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- B 서버 진행 현황 종료 -->

    </div>

    <div class="row">

        <!-- A 서버 진행 내역 시작 -->
        <div class="col-xl-6">
            <h3 class="section-tit text-center">UO 센터 - SI 서버 (1)</h3>
            <table id="list_table1" class="table table-sm basic text-center">
                <thead class="table-info">
                <tr>
                    <th scope="col" class="text-center">스키마</th>
                    <th scope="col" class="text-center">데이터베이스</th>
                    <th scope="col" class="text-center">생성 일자</th>
                    <th scope="col" class="text-center">관리자</th>
                </tr>
                </thead>
                <tbody id="list_table1_body">
                </tbody>
            </table>
        </div>
        <!-- // A 서버 진행 내역 종료 -->

        <!-- B 서버 진행 내역 시작 -->
        <div class="col-xl-6">
            <h3 class="section-tit text-center">
                <span>O3 센터</span> - <span>SI 서버 (1)</span>
            </h3>
            <table id="list_table2" class="table table-sm basic text-center">
                <thead class="table-info">
                <tr>
                    <th scope="col" class="text-center">스키마</th>
                    <th scope="col" class="text-center">데이터베이스</th>
                    <th scope="col" class="text-center">생성 일자</th>
                    <th scope="col" class="text-center">관리자</th>
                </tr>
                </thead>
                <tbody id="list_table2_body">
                </tbody>
            </table>
        </div>
        <!-- // B 서버 진행 내역 종료 -->

    </div>

    <hr/>

    <!-- 데이터베이스 동기화 관련 확인 기능 : DB 접속 여부 및 PGPool2 설정 조회 (오로지 조회만 할 수 있도록) -->
    <div class="text-right">
        <button class="btn btn-info mx-1">
            <i class="fas fa-file"></i> PGPool2 설정 조회
        </button>
        <button class="btn btn-warning mx-1">
            <i class="fas fa-sync"></i> PostgreSQL 접속 확인
        </button>
    </div>
    <!-- // 데이터베이스 동기화 관련 확인 기능 종료 -->

    <script>
        var si_center = [
            { schema : 'mims_schema', database : 'gis', uploadDate : new Date(), admin : 'Admin1' },
            { schema : 'mims_schema', database : 'pg_data', uploadDate : new Date(), admin : 'Admin2' },
            { schema : 'mims_db', database : 'server_info', uploadDate : new Date(), admin : 'Admin3' },
            { schema : 'mims_db', database : 'dev_data', uploadDate : new Date(), admin : 'Admin1' }
        ];

        var n_si_center = [
            { schema : 'mims_schema', database : 'gis_datum', uploadDate : new Date(), admin : 'Admin1' },
            { schema : 'mims_db', database : 'pg_datum', uploadDate : new Date(), admin : 'Admin2' }
        ];

        function tableDraw(id, data) {
            var table = $(id).DataTable({
                "language" : {
                    "lengthMenu" : "자료 길이 _MENU_",
                    "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                    "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                    "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                    "infoFiltered" : "(총 _TOTAL_ 건)",
                    "search" : "검색 키워드",
                    "paginate": {
                        "first" : "<<",
                        "last" : ">>",
                        "next" : ">",
                        "previous" : "<"
                    }
                }
            });

            for(var i = 0; i < data.length; i++){
                table.row.add([
                    data[i].schema, data[i].database, data[i].uploadDate, data[i].admin
                ]).draw(false);
            }
        }

        function tableClear(id){
            $(id).DataTable().clear().draw();
        }

        $(document).ready(function() {
            tableDraw('#list_table1', si_center);
            tableDraw('#list_table2', n_si_center);
        });

        function onchange_sync(){
            var checked = document.getElementById('sync_confirm').checked;
            tableClear('#list_table1');
            tableClear('#list_table2');

            if(checked){
                var total = si_center.concat(n_si_center);
                tableDraw('#list_table1', total);
                tableDraw('#list_table2', total);
            } else {
                tableDraw('#list_table1', si_center);
                tableDraw('#list_table2', n_si_center);
            }
        }
    </script>

<!-- PGPool 2 설정 : https://www.pgpool.net/docs/pgpoolAdmin/en/nodeServerStatus.html | https://www.pgpool.net/docs/pgpoolAdmin/en/status.html 참고 -->
<!--    <div class="row">-->
<!--        &lt;!&ndash; PGPool 2 설정 : https://www.pgpool.net/docs/pgpoolAdmin/en/config.html 참고 &ndash;&gt;-->
<!--        <div class="col-xl-6">-->
<!--            <h2>PGPool 2 설정</h2>-->
<!--            <form method="post">-->
<!--                <div class="form-group">-->
<!--                    <label for="pgpool_conf">설정 파일</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_conf" name="pgpool_conf" value="/usr/local/etc/pgpool.conf" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_password">비밀번호 파일</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_password" name="pgpool_password" value="/usr/local/etc/pcp.conf" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_command">명령어 디렉토리</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_command" name="pgpool_command" value="/usr/local/bin/pgpool" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_log">로그 파일 저장</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_log" name="pgpool_command" value="/tmp/pgpool.log" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_pcp_directory">PCP 디렉토리</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_pcp_directory" name="pgpool_pcp_directory" value="/usr/local/bin" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_pcp_hostname">PCP 호스트</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_pcp_hostname" name="pgpool_pcp_hostname" value="localhost" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_refresh_time">갱신 주기</label>-->
<!--                    <input class="form-control form-control-sm" id="pgpool_refresh_time" name="pgpool_refresh_time" value="0" />-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="pgpool_stop_mode">STOP 모드</label>-->
<!--                    <select id="pgpool_stop_mode" class="form-control form-control-sm" value="">-->
<!--                        <option value="">&#45;&#45; 선택 &#45;&#45;</option>-->
<!--                        <option value="smart">SMART</option>-->
<!--                        <option value="fast">FAST</option>-->
<!--                        <option value="immediate">IMMEDIATE</option>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" id="pgpool_query_cache_clear">-->
<!--                    <label class="form-check-label" for="pgpool_query_cache_clear">-->
<!--                        Query Cache 비우기 (-c)-->
<!--                    </label>-->
<!--                </div>-->

<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" id="pgpool_demon_mode_cut">-->
<!--                    <label class="form-check-label" for="pgpool_demon_mode_cut">-->
<!--                        Demon Mode 에서 차단 (-n)-->
<!--                    </label>-->
<!--                </div>-->

<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" id="pgpool_debug_mode">-->
<!--                    <label class="form-check-label" for="pgpool_debug_mode">-->
<!--                        Debug Mode 에서 차단 (-d)-->
<!--                    </label>-->
<!--                </div>-->

<!--                <div class="text-right">-->
<!--                    <button class="btn btn-primary" type="submit">-->
<!--                        <i class="fas fa-save"></i> 저장-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-xl-6">-->
<!--            <h2>PostgreSQL 연결 설정</h2>-->
<!--            <form method="post">-->
<!--                <div class="form-group my-1">-->
<!--                    <label for="type">RDBMS</label>-->
<!--                    <input id="type" type="text" class="form-control form-control-sm" readonly value="postgresql" />-->
<!--                </div>-->

<!--                <div class="form-group my-1">-->
<!--                    <label for="host">호스트 IP</label>-->
<!--                    <input id="host" type="text" class="form-control form-control-sm" />-->
<!--                </div>-->

<!--                <div class="form-group my-1">-->
<!--                    <label for="port">포트</label>-->
<!--                    <input id="port" type="text" class="form-control form-control-sm" />-->
<!--                </div>-->

<!--                <div class="form-group my-1">-->
<!--                    <label for="database">데이터베이스</label>-->
<!--                    <input id="database" type="text" class="form-control form-control-sm" />-->
<!--                </div>-->

<!--                <div class="form-group my-1">-->
<!--                    <label for="user">사용자 ID</label>-->
<!--                    <input id="user" type="text" class="form-control form-control-sm" />-->
<!--                </div>-->

<!--                <div class="form-group my-1">-->
<!--                    <label for="password">패스워드</label>-->
<!--                    <input id="password" type="password" class="form-control form-control-sm" />-->
<!--                </div>-->

<!--                <hr/>-->
<!--                <div class="d-flex justify-content-end">-->
<!--                    <button class="btn btn-sm btn-info mx-1" type="button" id="jdbc_confirm" onclick="alert('연결 확인 되었습니다.')">-->
<!--                        <i class="fas fa-check"></i> 연결 확인-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
</th:block>
</html>