<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/default">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">지인시스템</h1>
</div>
    <div>
        <a href="/view/publish/home" target="_blank">퍼블리싱 페이지</a>
        <br/>
        <a href="/server/server-state" target="_blank">서버상태(JSON)</a>
        <br/>
        <a href="/view/home/guest" target="_blank">Admin View Main</a>
    </div>

</div>