<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">MAP 생성</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">SYMBOL 그룹 수정</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/manage/map-list?pg=1&sz=8&lType=ALL&units=ALL}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">SYMBOL 관리</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{/view/symbol/image-update}" th:object="${model}" method="post" onsubmit="return preSubmit()" accept-charset="utf-8" enctype="multipart/form-data">
                <input type="hidden" id="pg" name="pg" th:value="${param.pg}" />
                <input type="hidden" id="sz" name="sz" th:value="${param.sz}" />
                <input type="hidden" id="ob" name="ob" th:value="${param.ob}" />
                <input type="hidden" id="sb" name="sb" th:value="${param.sb}" />
                <input type="hidden" id="st" name="st" th:value="${param.st == null ? '' : param.st}" />
                <input type="hidden" id="sDate" name="sDate" th:value="${param.sDate == null ? '' : param.sDate}" />
                <input type="hidden" id="eDate" name="eDate" th:value="${param.eDate == null ? '' : param.eDate}" />

                <input type="hidden" id="imgId" name="imgId" th:value="${param.imgId}" />
                <input type="hidden" id="pstPg" name="pstPg" th:value="${param.pstPg}" />
                <input type="hidden" id="pstSz" name="pstSz" th:value="${param.pstSz}" />
                <input type="hidden" id="pstOb" name="pstOb" th:value="${param.pstOb == null ? 0 : param.pstOb }" />
                <input type="hidden" id="pstSt" name="pstSt" th:value="${param.pstSt == null ? '' : param.pstSt}" />

                <div class="form-group row">
                    <div class="col-12">
                        <label for="symbol-image-name">SYMBOL 그룹 이름</label>
                        <input type="text" class="form-control" th:field="*{name}" id="symbol-image-name" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="description">설명</label>
                            <input type="text" id="description" class="form-control" th:field="*{description}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="sprites">SYMBOL 이미지 추가 업로드</label>
                            <input type="file" id="sprites" class="form-control" th:field="*{sprites}" accept="image/png" onchange="onchange_sprite_file_upload(this)" multiple>
                        </div>
                    </div>
                </div>

                <table class="table basic text-center" id="sprite_list_1">
                    <thead>
                    <tr>
                        <th>파일 이름</th>
                        <th>파일 크기</th>
                        <th>가로 크기</th>
                        <th>세로 크기</th>
                        <th>파일 미리 보기</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <hr/>
                <div class="d-flex justify-content-between mb-2">
                    <div id="preview-button">
                        <button type="button"
                                class="btn btn-info mx-1"
                                data-toggle="modal"
                                data-target="#png-preview">
                            <i class="fas fa-image"></i> PNG 파일
                        </button>
                        <button type="button"
                                class="btn btn-success mx-1"
                                data-toggle="modal"
                                data-target="#json-preview"
                        >
                            <i class="fas fa-file"></i> JSON 파일
                        </button>
                    </div>

                    <div id="save-button">
                        <button type="submit" class="btn btn-primary mx-1">
                            <i class="fas fa-save"></i> 저장
                        </button>
                        <a class="btn btn-secondary mx-1" th:href="@{'/view/symbol/image-list?' + ${imageQuery}}">
                            <i class="fas fa-times"></i> 취소
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-7">
            <h3 class="section-tit">SYMBOL 파일 목록 조회 - 총 <span th:text="${count}"></span> 개</h3>
            <form class="row mb-1">
                <input type="hidden" id="pg_s" name="pg" th:value="${param.pg}" />
                <input type="hidden" id="sz_s" name="sz" th:value="${param.sz}" />
                <input type="hidden" id="ob_s" name="ob" th:value="${param.ob}" />
                <input type="hidden" id="sb_s" name="sb" th:value="${param.sb}" />
                <input type="hidden" id="st_s" name="st" th:value="${param.st == null ? '' : param.st}" />
                <input type="hidden" id="sDate_s" name="sDate" th:value="${param.sDate == null ? '' : param.sDate}" />
                <input type="hidden" id="eDate_s" name="eDate" th:value="${param.eDate == null ? '' : param.eDate}" />

                <input type="hidden" id="imgId_s" name="imgId" th:value="${param.imgId}" />
                <input type="hidden" id="pstPg_s" name="pstPg" th:value="${param.pstPg}" />
                <input type="hidden" id="pstSz_s" name="pstSz" th:value="${param.pstSz}" />

                <div class="col-md-5">
                    <input type="text" class="form-control" id="pstSt_s" name="pstSt" placeholder="검색 키워드 입력" th:value="${param.pstSt}" />
                </div>

                <div class="col-md-5">
                    <select class="form-control" id="pstOb_s" name="pstOb" th:value="${param.pstOb}">
                        <option th:each="ob : ${obList}" th:text="${ob.label}" th:value="${ob.value}" />
                    </select>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary">
                        <i class="fas fa-search"></i> 검색
                    </button>
                </div>
            </form>

            <table class="table basic text-center">
                <thead>
                <tr>
                    <th>선택</th>
                    <th>심볼 코드</th>
                    <th>가로 크기</th>
                    <th>세로 크기</th>
                    <th>X 좌표</th>
                    <th>Y 좌표</th>
                    <th>파일 미리 보기</th>
                    <th>버튼</th>
                </tr>
                </thead>
                <tbody id="sprite-body">
                    <tr th:each="position : ${positions}">
                        <td class="text-center align-middle">
                            <input type="checkbox" class="form-check" th:id="${ 'position-' + position.id }" onchange="onchange_selected_remove(this)" />
                        </td>
                        <td class="text-center align-middle" th:text="${position.name}"></td>
                        <td class="text-center align-middle" th:text="${position.width}"></td>
                        <td class="text-center align-middle" th:text="${position.height}"></td>
                        <td class="text-center align-middle" th:text="${position.xPos}"></td>
                        <td class="text-center align-middle" th:text="${position.yPos}"></td>
                        <td class="text-center align-middle">
                            <img style="width: 32px;" th:src="@{'/view/symbol/position-image-by-id?id=' + ${position.id}}" />
                        </td>
                        <td class="text-center align-middle">
                            <button type="button"
                                    class="btn btn-sm btn-info btn-circle"
                                    data-toggle="modal"
                                    data-target="#sprite-update"
                                    th:data-sprite-name="${position.name}"
                                    onclick="onclick_sprite_update_open(this)"
                            >
                                <i class="fas fa-cog"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- pageNavigation #START -->
            <th:block th:replace="fragments/html-position-pagination-bar :: html-position-pagination-bar('/symbol/image-update')" />
            <!-- pageNavigation #END -->

            <hr/>
            <div class="d-flex justify-content-between mb-2">
                <div id="select-button">
                    <button type="button" class="btn btn-sm btn-primary mx-1" onclick="onclick_check_positions(true)">
                        <i class="fas fa-check-square"></i> 모두 선택
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary mx-1" onclick="onclick_check_positions(false)">
                        <i class="fas fa-square"></i> 모두 해제
                    </button>
                </div>

                <div id="delete-button">
                    <button type="button" class="btn btn-sm btn-danger" onclick="onclick_check_remove()">
                        <i class="fas fa-trash"></i> 모두 삭제
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sprite-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SYMBOL 이미지 편집</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_sprite_update_cancel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/view/symbol/position-update}" method="post" onsubmit="return preSubmitPosition(this);" accept-charset="utf-8" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" id="pg_p" name="pg" th:value="${param.pg}" />
                        <input type="hidden" id="sz_p" name="sz" th:value="${param.sz}" />
                        <input type="hidden" id="ob_p" name="ob" th:value="${param.ob}" />
                        <input type="hidden" id="sb_p" name="sb" th:value="${param.sb}" />
                        <input type="hidden" id="st_p" name="st" th:value="${param.st == null ? '' : param.st}" />
                        <input type="hidden" id="sDate_p" name="sDate" th:value="${param.sDate == null ? '' : param.sDate}" />
                        <input type="hidden" id="eDate_p" name="eDate" th:value="${param.eDate == null ? '' : param.eDate}" />

                        <input type="hidden" id="imgId_p" name="imgId" th:value="${param.imgId}" />
                        <input type="hidden" id="pstPg_p" name="pstPg" th:value="${param.pstPg}" />
                        <input type="hidden" id="pstSz_p" name="pstSz" th:value="${param.pstSz}" />
                        <input type="hidden" id="pstOb_p" name="pstOb" th:value="${param.pstOb == null ? 0 : param.pstOb}" />
                        <input type="hidden" id="pstSt_p" name="pstSt" th:value="${param.pstSt == null ? '' : param.pstSt}" />

                        <input type="hidden" id="imageId" name="imageId" th:value="${param.imgId}" />

                        <div class="form-group">
                            <label for="before-name">SYMBOL 이전 이름</label>
                            <input type="text" class="form-control" id="before-name" name="beforeName" readonly />
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <label for="sprite-name">SYMBOL 이미지 이름</label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" id="sprite-name" name="spriteName" />
                                <div class="input-group-append">
                                    <span class="input-group-btn btn btn-primary" onclick="onclick_name_validate()">중복확인</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message">중복확인을 해주세요. 이전 이름을 입력해도 괜찮습니다.</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="sprites">SYMBOL 이미지 <span class="text-info">(*)</span></label>
                                    <input type="file" id="sprite-image" class="form-control" name="spriteImage" accept="image/png" />
                                </div>
                            </div>
                        </div>

                        <p><span class="text-info">(*)</span> : 이 데이터는 반드시 넣을 필요가 없습니다. <br/>이를 업로드 하면, 해당 이미지가 교체 됩니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_sprite_update_cancel()">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="png-preview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SYMBOL PNG 파일 미리 보기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img th:src="@{'/view/symbol/set-image?name=' + ${model.name}}" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="json-preview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SYMBOL JSON 파일 미리 보기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <textarea id="code" class="form-control" readonly rows="20">
[[${jsonContext}]]
                        </textarea>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var positions = /*[[${data.positions}]]*/ [];
        var imageId = /*[[${param.id}]]*/ 0;
        var imageQuery = /*[[${imageQuery}]]*/ '';
        var positionQuery = /*[[${positionQuery}]]*/ '';
        var message = /*[[ ${message} ]]*/ null;
    </script>

    <script>
        var spriteTable;
        var selected = [];

        var code = CodeMirror.fromTextArea(document.getElementById('code'), {
            readOnly: true,
            mode:  "application/json"
        });

        $(document).ready(function() {
            if (!jQuery.isEmptyObject(message)) {
                toastr.info(message);
            }

            spriteTable = $('#sprite_list_1').DataTable({
                stateSave: true
            });

            $('#sprite_list_1').on('page.dt', function () {
                var info = spriteTable.page.info();
                for (var i = info.start; i < info.end; i++) {
                    image_preview(i);
                }
            });

            $('#sprite-update').on('hide.bs.modal', function (event) {
                onclick_sprite_update_cancel();
            });
        });

        function image_preview(idx) {
            var files = document.getElementById('sprites').files;
            if (files[idx]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview' + idx).attr('src', e.target.result);

                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function() {
                        $('#width' + idx).text(this.width + ' px');
                        $('#height' + idx).text(this.height + ' px');
                    }
                }
                reader.readAsDataURL(files[idx]);
            }
        }

        function onchange_sprite_file_upload(dom){
            var data = dom.files;
            if (data.length < 1) {
                toastr.warning("이미지는 최소 1개 이상 업로드 하시길 바랍니다.");
            }

            spriteTable.clear().draw();
            for (var i = 0; i < data.length; i++) {
                createSpriteData(data[i], i);
            }
        }

        function preSubmit() {
            var files = document.getElementById('sprites').files;
            if (files.length < 1) {
                toastr.warning("이미지는 최소 1개 이상 업로드 하시길 바랍니다.");
                return false;
            } else {
                for (var i of files) {
                    var filename = i.name;
                    if(positions.filter(o => filename.startsWith(o.name)).length > 0) {
                        toastr.warning(`새로 업로드 하기 위한 이미지 중에 이미 저장된 데이터의 이름과 같습니다. [${filename.replace('.png', '').replace('.PNG', '')}] PNG 파일 이름은 서로 다르게 설정 하세요.`);
                        return false;
                    }
                }
            }

            return true;
        }

        function preSubmitPosition(form) {
            if (jQuery.isEmptyObject(form['spriteName'].value)) {
                form['spriteName'].focus();
                toastr.warning("이름이 입력되지 않았습니다.");
                return false;
            } else if (jQuery(form['spriteName']).data("check-duplicate") === false) {
                toastr.warning("이름 중복확인이 되지 않았습니다.");
                return false;
            }

            return true;
        }

        function createSpriteData(imgFile, idx) {
            spriteTable.row.add([
                imgFile && imgFile.name,
                imgFile && (imgFile.size / 1024).toFixed(2) + " KB",
                `<span id='${"width" + idx}'></span>`,
                `<span id='${"height" + idx}'></span>`,
                `<img id='${"preview" + idx}' width="24" />`
            ]).draw( false );
            image_preview(idx);
        }

        function onchange_selected_remove(dom){
            var id = dom.id.replace('position-', '');
            var idx = selected.indexOf(id * 1);
            if (idx > -1) {
                selected.splice(idx, 1);
            } else {
                selected.push(id * 1);
            }
        }

        function onclick_check_positions(checked){
            $('input[id^=position-]').each(function() {
                if($(this).is(":checked") !== checked) {
                    $(this).click();
                }
            });
        }

        function onclick_check_remove(){
            if (selected.length > 0) {
                if (confirm("선택하신 모든 데이터들을 삭제 하시겠습니까?")) {
                    window.location.href = CONTEXT + '/view/symbol/position-delete?' + '&ids=' + selected + '&' + imageQuery + '&' + positionQuery;
                }
            } else {
                toastr.warning('선택하신 이미지가 없어 삭제 작업을 진행할 수 없습니다.');
            }
        }

        function onclick_sprite_update_open(dom) {
            var data = $(dom).data();
            var name = data.spriteName;

            document.getElementById('before-name').value = name;
        }

        function onclick_sprite_update_cancel() {
            $('#before-name').val('');
            $('#sprite-name').val('');
            $('#sprite-name').attr('readonly', false);
            $('#sprite-name').data("check-duplicate", false);
            $('#duplicate-check-message').text("중복확인을 해주세요.");
        }

        function onclick_name_validate(){
            var before = document.getElementById('before-name').value;
            var name = document.getElementById('sprite-name').value;
            if (positions.filter(o => o.name === name).length === 0 || before === name) {
                $('#duplicate-check-message').html('사용 가능한 이름입니다.');
                $('#sprite-name').data('check-duplicate', true);
                $('#sprite-name').attr('readonly', true);
            } else {
                toastr.error('사용 불가능한 이름입니다.');
                $('#sprite-name').data('check-duplicate', false);
            }
        }
    </script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/codemirror/codemirror.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/codemirror/codemirror.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/codemirror/mode/javascript/javascript.js}"></script>
</th:block>
</html>