<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">SYMBOL 관리</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- Breadcrumb 시작 -->
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">SYMBOL 관리</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/view/manage/map-manage?pg=1&sz=8&iType=ALL&units=ALL}">지도 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">SYMBOL 관리</li>
        </ol>
    </nav>
    <!-- // Breadcrumb 종료 -->
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div class="row">
        <div class="col-sm-8">

            <!-- 데이터 그리드 시작 -->
            <table id="symbol_list_table" class="table basic">

                <!-- 데이터 칼럼 시작 -->
                <thead class="table-info">
                <tr>
                    <th scope="col" class="text-center">SYMBOL ID</th>
                    <th scope="col" class="text-center">SYMBOL 코드</th>
                    <th scope="col" class="text-center">SYMBOL 타입</th>
                </tr>
                </thead>
                <!-- // 데이터 칼럼 종료 -->


                <!-- 데이터 목록 시작 -->
                <tbody>
                <tr th:each="symbol : ${ RESULTS }">
                    <td class="text-center"><span th:text="${ symbol.id }">[SYMBOL 아이디]</span></td>
                    <td class="text-center"><span th:text="${ symbol.name }">[SYMBOL 명]</span></td>
                    <td class="text-center"><span th:text="${ symbol.type }">[SYMBOL 타입]</span></td>
                </tr>
                </tbody>
                <!-- // 데이터 목록 종료 -->

            </table>
            <!-- // 데이터 그리드 종료 -->

        </div>

        <div class="col-sm-4">

            <!-- 탭 시작 -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#_symbol-image">이미지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#_symbol-xml">XML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#_symbol-json">JSON</a>
                </li>
            </ul>
            <!-- // 탭 종료 -->

            <!-- 탭 뷰 시작 -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="_symbol-image">
                    <h3 class="section_tit">SYMBOL 이미지 뷰어</h3>
                </div>
                <div class="tab-pane fade" id="_symbol-xml">
                    <h3 class="section_tit">SYMBOL XML</h3>
                </div>
                <div class="tab-pane fade" id="_symbol-json">
                    <h3 class="section_tit">SYMBOL JSON</h3>
                </div>
            </div>
            <!-- // 탭 뷰 종료 -->

        </div>
    </div>

    <script>
        $(document).ready(function () {
            initialize_dataTable('symbol_list_table');
        });
    </script>
</th:block>

<th:block layout:fragment="custom-html-link">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/dataTables/datatables.min.css}">
</th:block>

<th:block layout:fragment="custom-html-script">
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/design-park/resource/library/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
</th:block>
</html>