<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.MapLayerRelationMapper">
    <insert id="insert">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT NEXTVAL('MAP_LAYER_SEQ')
        </selectKey>
        INSERT INTO _MAP_LAYER_RELATION(
            ID,
            LAYER_ORDER,
            MAP_ID,
            LAYER_ID
        )
        VALUES(
            #{id},
            #{layerOrder},
            #{mapId},
            #{layerId}
        )
    </insert>

    <delete id="deleteByMapId">
        DELETE FROM _MAP_LAYER_RELATION
        WHERE MAP_ID = #{mapId}
    </delete>

    <delete id="deleteByLayerId">
        DELETE FROM _MAP_LAYER_RELATION
        WHERE LAYER_ID = #{layerId}
    </delete>
</mapper>