<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.MapMapper">
    <select id="findNextSeqVal" resultType="long">
        SELECT NEXTVAL('MAP_SEQ')
    </select>

    <select id="findAll" resultType="MapDTO">
        SELECT * FROM _MAP
    </select>

    <select id="findByPageModel" resultType="MapDTO">
        <bind name="start" value="(pg - 1) * sz" />
        SELECT * FROM _MAP M
        <where>
            <choose>
                <when test='sb == 1'> M.NAME LIKE CONCAT('%', #{st}, '%') </when>
                <when test='sb == 2'> M.REGISTOR_ID LIKE CONCAT('%', #{st}, '%') </when>
                <when test='sb == 3'> LOWER(M.PROJECTION) LIKE CONCAT('%', #{st}, '%') </when>
                <otherwise> 1=1 </otherwise>
            </choose>
            <if test="iType != 'ALL'">
                AND M.IMAGE_TYPE = #{iType}
            </if>
            <if test="units != 'ALL'">
                AND M.UNITS = #{units}
            </if>
            <if test="sDate != null and !sDate.equals('') and eDate != null and !eDate.equals('')">
                AND M.REGIST_TIME BETWEEN TO_TIMESTAMP(#{sDate}, 'YYYY-MM-DD') AND TO_TIMESTAMP(#{eDate}, 'YYYY-MM-DD')
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="ob == 1">M.ID ASC</when>
            <when test="ob == 2">M.NAME ASC</when>
            <when test="ob == 3">M.REGIST_TIME DESC</when>
            <otherwise>M.ID DESC</otherwise>
        </choose>
        <choose>
            <when test="start gte 0">
                LIMIT ${sz} OFFSET ${start}
            </when>
            <otherwise>
                LIMIT 0
            </otherwise>
        </choose>
    </select>

    <select id="countByPageModel" resultType="long">
        SELECT COUNT(*) FROM _MAP M
        <where>
            <choose>
                <when test='sb == 1'> M.NAME LIKE CONCAT('%', #{st}, '%') </when>
                <when test='sb == 2'> M.REGISTOR_ID LIKE CONCAT('%', #{st}, '%') </when>
                <when test='sb == 3'> LOWER(M.PROJECTION) LIKE CONCAT('%', #{st}, '%') </when>
                <otherwise> 1=1 </otherwise>
            </choose>
            <if test="iType != 'ALL'">
                AND M.IMAGE_TYPE = #{iType}
            </if>
            <if test="units != 'ALL'">
                AND M.UNITS = #{units}
            </if>
            <if test="sDate != null and !sDate.equals('') and eDate != null and !eDate.equals('')">
                AND M.REGIST_TIME BETWEEN TO_TIMESTAMP(#{sDate}, 'YYYY-MM-DD') AND TO_TIMESTAMP(#{eDate}, 'YYYY-MM-DD')
            </if>
        </where>
    </select>

    <select id="findById" resultType="MapDTO">
        SELECT * FROM _MAP WHERE ID = #{id}
    </select>

    <select id="findByName" resultType="MapDTO">
        SELECT * FROM _MAP WHERE NAME = #{name}
    </select>

    <insert id="insert">
        INSERT INTO _MAP(ID, NAME, MAP_FILE_PATH, MIN_X, MAX_X, MIN_Y, MAX_Y, UNITS, PROJECTION, DESCRIPTION, IMAGE_TYPE, IS_DEFAULT, REGISTOR_ID, REGISTOR_NAME, REGIST_TIME)
        VALUES(#{id}, #{name}, #{mapFilePath}, #{minX}, #{maxX}, #{minY}, #{maxY}, #{units}, #{projection}, #{description}, #{imageType}, #{isDefault}, #{registorId}, #{registorName}, #{registTime})
    </insert>

    <update id="update">
        UPDATE _MAP SET
        NAME = #{name}, MAP_FILE_PATH = #{mapFilePath}, MIN_X = #{minX}, MAX_X = #{maxX}, MIN_Y = #{minY}, MAX_Y = #{maxY}, UNITS = #{units}, PROJECTION = #{projection}, IMAGE_TYPE = #{imageType}, IS_DEFAULT = #{isDefault}, REGISTOR_ID = #{registorId}, REGISTOR_NAME = #{registorName}, REGIST_TIME = #{registTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM _MAP WHERE ID = #{id}
    </delete>
</mapper>
