<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.ProxyCacheMapper">
    <resultMap id="cacheAndEachList" type="ProxyCacheDTO">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="metaSizeX" column="META_SIZE_X" />
        <result property="metaSizeY" column="META_SIZE_Y" />
        <result property="metaBuffer" column="META_BUFFER" />
        <result property="cacheType" column="CACHE_TYPE" />
        <result property="cacheDirectory" column="CACHE_DIRECTORY" />
        <result property="selected" column="selected" />
        <result property="isDefault" column="IS_DEFAULT" />
        <collection property="sources" column="{cacheId=ID}" javaType="java.util.ArrayList" ofType="ProxySourceDTO" select="findProxySourceListByCacheId" />
    </resultMap>

    <select id="findNextSeqVal" resultType="long">
        SELECT NEXTVAL('PROXY_CACHE_SEQ')
    </select>

    <select id="findAll" resultMap="cacheAndEachList">
        SELECT * FROM _PROXY_CACHE
    </select>

    <select id="findBySelected" resultType="ProxyCacheDTO">
        SELECT * FROM _PROXY_CACHE WHERE SELECTED = #{selected}
    </select>

    <insert id="insert">
        INSERT INTO _PROXY_CACHE(ID, NAME, META_SIZE_X, META_SIZE_Y, META_BUFFER, CACHE_TYPE, CACHE_DIRECTORY, SELECTED, IS_DEFAULT)
        VALUES(#{id}, #{name}, #{metaSizeX}, #{metaSizeY}, #{metaBuffer}, #{cacheType}, #{cacheDirectory}, #{selected}, #{isDefault})
    </insert>

    <update id="update">
        UPDATE _PROXY_CACHE SET
        NAME = #{name}, META_SIZE_X = #{metaSizeX}, META_SIZE_Y = #{metaSizeY}, META_BUFFER = #{metaBuffer}, CACHE_TYPE = #{cacheType}, CACHE_DIRECTORY = #{cacheDirectory}, SELECTED = #{selected}, IS_DEFAULT = #{isDefault}
        WHERE ID = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM _PROXY_CACHE WHERE ID = #{id}
    </delete>

    <select id="findProxySourceListByCacheId" parameterType="java.util.Map" resultType="ProxySourceDTO">
        SELECT S.*
        FROM _PROXY_CACHE_SOURCE_RELATION CS
        LEFT JOIN _PROXY_SOURCE S
        ON CS.SOURCE_ID = S.ID
        WHERE CS.CACHE_ID = #{cacheId}
    </select>
</mapper>

