<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.ProxyLayerMapper">
    <resultMap id="layerAndEachList" type="ProxyLayerDTO">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="title" column="TITLE" />
        <result property="selected" column="SELECTED" />
        <result property="isDefault" column="IS_DEFAULT" />
        <collection property="sources" column="{layerId=ID}" javaType="java.util.ArrayList" ofType="ProxySourceDTO" select="findProxySourceListByLayerId" />
        <collection property="caches" column="{layerId=ID}" javaType="java.util.ArrayList" ofType="ProxyCacheDTO" select="findProxyCacheListByLayerId" />
    </resultMap>

    <select id="findNextSeqVal" resultType="long">
        SELECT NEXTVAL('PROXY_LAYER_SEQ')
    </select>

    <select id="findAll" resultMap="layerAndEachList">
        SELECT * FROM _PROXY_LAYER
    </select>

    <select id="findByName" resultMap="layerAndEachList">
        SELECT * FROM _PROXY_LAYER WHERE NAME = #{name}
    </select>

    <select id="findBySelected" resultMap="layerAndEachList">
        SELECT * FROM _PROXY_LAYER WHERE SELECTED = #{selected}
    </select>

    <insert id="insert">
        INSERT INTO _PROXY_LAYER(ID, NAME, TITLE, SELECTED, IS_DEFAULT)
        VALUES(#{id}, #{name}, #{title}, #{selected}, #{isDefault})
    </insert>

    <update id="update">
        UPDATE _PROXY_LAYER SET
        NAME = #{name}, TITLE = #{title}, SELECTED = #{selected}, IS_DEFAULT = #{isDefault}
        WHERE ID = #{id}
    </update>

    <update id="updateByName">
        UPDATE _PROXY_LAYER SET
        TITLE = #{title}, SELECTED = #{selected}, IS_DEFAULT = #{isDefault}
        WHERE NAME = #{name}
    </update>

    <update id="updateSelectedByNameIn">
        UPDATE _PROXY_LAYER SET
        SELECTED = #{selected}
        WHERE NAME IN
        <foreach collection="names" item="name" index="index" separator="," open="(" close=")">
            #{name}
        </foreach>
    </update>

    <update id="updateSelectedAllDisabled">
        UPDATE _PROXY_LAYER SET
        SELECTED = false
    </update>

    <delete id="deleteById">
        DELETE FROM _PROXY_LAYER WHERE ID = #{id}
    </delete>

    <delete id="deleteByName">
        DELETE FROM _PROXY_LAYER WHERE NAME = #{name}
    </delete>

    <!-- Mapper 인터페이스에 없지만 내부에서 사용되기 때문에 지우지 말 것. (1) -->
    <select id="findProxySourceListByLayerId" parameterType="java.util.Map" resultType="ProxySourceDTO">
        SELECT S.*
        FROM _PROXY_LAYER_SOURCE_RELATION LS
        LEFT JOIN _PROXY_SOURCE S
        ON LS.SOURCE_ID = S.ID
        WHERE LS.LAYER_ID = #{layerId}
    </select>

    <!-- Mapper 인터페이스에 없지만 내부에서 사용되기 때문에 지우지 말 것. (2) -->
    <select id="findProxyCacheListByLayerId" parameterType="java.util.Map" resultType="ProxyCacheDTO">
        SELECT C.*
        FROM _PROXY_LAYER_CACHE_RELATION LC
        LEFT JOIN _PROXY_CACHE C
        ON LC.CACHE_ID = C.id
        WHERE LC.LAYER_ID = #{layerId}
    </select>
</mapper>
