<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.ProxyGlobalMapper">
    <select id="findNextSeqVal" resultType="long">
        SELECT NEXTVAL('PROXY_GLOBAL_SEQ')
    </select>

    <select id="findAll" resultType="ProxyGlobalDTO">
        SELECT * FROM _PROXY_GLOBAL
    </select>

    <select id="findByKey" resultType="ProxyGlobalDTO">
        SELECT * FROM _PROXY_GLOBAL WHERE KEY = #{key}
    </select>

    <insert id="insert">
        INSERT INTO _PROXY_GLOBAL(
            ID,
            KEY,
            VALUE
        )
        VALUES(
            #{id},
            #{key},
            #{value}
        )
    </insert>

    <delete id="deleteAll">
        DELETE FROM _PROXY_GLOBAL
    </delete>
</mapper>

