<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.ProxyLayerCacheRelationMapper">
    <insert id="insertByRelationModel">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT NEXTVAL('PROXY_LAYER_CACHE_SEQ')
        </selectKey>
        INSERT INTO _PROXY_LAYER_CACHE_RELATION(
            ID,
            LAYER_ID,
            CACHE_ID
        )
        VALUES(
            #{id},
            #{mainId},
            #{subId}
        )
    </insert>

    <delete id="deleteByLayerId">
        DELETE FROM _PROXY_LAYER_CACHE_RELATION WHERE LAYER_ID = #{layerId}
    </delete>

    <delete id="deleteByCacheId">
        DELETE FROM _PROXY_LAYER_CACHE_RELATION WHERE CACHE_ID = #{cacheId}
    </delete>
</mapper>

