<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.ProxySourceMapper">
    <resultMap type="ProxySourceDTO" id="ProxySourceResultMap">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="selected" column="SELECTED" />
        <result property="isDefault" column="IS_DEFAULT" />

        <discriminator javaType="String" column="type">
            <case value="mapserver" resultMap="PSMapServerResultMap" />
            <case value="wms" resultMap="PSWMSResultMap" />
        </discriminator>
    </resultMap>

    <resultMap type="ProxySourceMapServerDTO" id="PSMapServerResultMap" extends="ProxySourceResultMap">
        <result property="requestMap" column="REQUEST_MAP" />
        <result property="requestLayers" column="REQUEST_LAYERS" />
        <result property="mapServerBinary" column="MAP_SERVER_BINARY" />
        <result property="mapServerWorkDir" column="MAP_SERVER_WORK_DIR" />
    </resultMap>

    <resultMap type="ProxySourceWMSDTO" id="PSWMSResultMap" extends="ProxySourceResultMap">
        <result property="concurrentRequests" column="CONCURRENT_REQUESTS" />
        <result property="wmsOptsVersion" column="WMS_OPTS_VERSION" />
        <result property="httpClientTimeout" column="HTTP_CLIENT_TIMEOUT" />
        <result property="requestURL" column="REQUEST_URL" />
        <result property="requestMap" column="REQUEST_MAP" />
        <result property="requestLayers" column="REQUEST_LAYERS" />
        <result property="requestTransparent" column="REQUEST_TRANSPARENT" />
        <result property="supportedSRS" column="SUPPORTED_SRS" />
    </resultMap>

    <select id="findNextSeqVal" resultType="long">
        SELECT NEXTVAL('PROXY_SOURCE_SEQ')
    </select>

    <select id="findAll" resultMap="ProxySourceResultMap">
        SELECT * FROM _PROXY_SOURCE PS
        LEFT JOIN _PROXY_SOURCE_MAPSERVER PSMS ON PS.id = PSMS.id
        LEFT JOIN _PROXY_SOURCE_WMS PSW ON PS.id = PSW.id
    </select>

    <select id="findAllMapServer" resultMap="ProxySourceResultMap">
        SELECT * FROM _PROXY_SOURCE PS LEFT JOIN _PROXY_SOURCE_MAPSERVER PSMS ON PS.id = PSMS.id
        WHERE PS.type = 'mapserver'
    </select>

    <select id="findAllWMS" resultMap="ProxySourceResultMap">
        SELECT PS.*, PSW.* FROM _PROXY_SOURCE PS LEFT JOIN _PROXY_SOURCE_WMS PSW ON PS.id = PSW.id
        WHERE PS.type = 'wms'
    </select>

    <select id="findByName" resultType="ProxySourceDTO">
        SELECT * FROM _PROXY_SOURCE WHERE NAME = #{name}
    </select>

    <select id="findBySelected" resultType="ProxySourceDTO">
        SELECT * FROM _PROXY_SOURCE WHERE SELECTED = #{selected}
    </select>

    <select id="findBySelectedMapServer" resultMap="ProxySourceResultMap">
        SELECT * FROM _PROXY_SOURCE PS LEFT JOIN _PROXY_SOURCE_MAPSERVER PSMS ON PS.id = PSMS.id
        WHERE PS.type = 'mapserver' AND PS.SELECTED = #{selected}
    </select>

    <select id="findBySelectedWMS" resultMap="ProxySourceResultMap">
        SELECT * FROM _PROXY_SOURCE PS LEFT JOIN _PROXY_SOURCE_WMS PSW ON PS.id = PSW.id
        WHERE PS.type = 'wms' AND PS.SELECTED = #{selected}
    </select>

    <insert id="insert">
        INSERT INTO _PROXY_SOURCE(ID, NAME, TYPE, SELECTED, IS_DEFAULT)
        VALUES(#{id}, #{name}, #{type}, #{selected}, #{isDefault})
    </insert>

    <insert id="insertMapServer">
        INSERT INTO _PROXY_SOURCE_MAPSERVER(ID, REQUEST_MAP, REQUEST_LAYERS, MAP_SERVER_BINARY, MAP_SERVER_WORK_DIR)
        VALUES(#{id}, #{requestMap}, #{requestLayers}, #{mapServerBinary}, #{mapServerWorkDir})
    </insert>

    <insert id="insertWMS">
        INSERT INTO _PROXY_SOURCE_WMS(ID, CONCURRENT_REQUESTS, WMS_OPTS_VERSION, HTTP_CLIENT_TIMEOUT, REQUEST_URL, REQUEST_MAP, REQUEST_LAYERS, REQUEST_TRANSPARENT, SUPPORTED_SRS)
        VALUES(#{id}, #{concurrentRequests}, #{wmsOptsVersion}, #{httpClientTimeout}, #{requestURL}, #{requestMap}, #{requestLayers}, #{requestTransparent}, #{supportedSRS})
    </insert>

    <update id="update">
        UPDATE _PROXY_SOURCE SET
        NAME = #{name}, TYPE = #{type}, SELECTED = #{selected}, IS_DEFAULT = #{isDefault}
        WHERE ID = #{id}
    </update>

    <update id="updateByName">
        UPDATE _PROXY_SOURCE SET
        TYPE = #{type}, SELECTED = #{selected}, IS_DEFAULT = #{isDefault}
        WHERE NAME = #{name}
    </update>

    <update id="updateMapServer">
        UPDATE _PROXY_SOURCE_MAPSERVER SET
        REQUEST_MAP = #{requestMap}, REQUEST_LAYERS = #{requestLayers}, MAP_SERVER_BINARY = #{mapServerBinary}, MAP_SERVER_WORK_DIR = #{mapServerWorkDir}
        WHERE ID = #{id}
    </update>

    <update id="updateWMS">
        UPDATE _PROXY_SOURCE_WMS SET
        CONCURRENT_REQUESTS = #{concurrentRequests}, WMS_OPTS_VERSION = #{wmsOptsVersion}, HTTP_CLIENT_TIMEOUT = #{httpClientTimeout}, REQUEST_URL = #{requestURL}, REQUEST_MAP = #{requestMap}, REQUEST_LAYERS = #{requestLayers}, REQUEST_TRANSPARENT = #{requestTransparent}, SUPPORTED_SRS = #{supportedSRS}
        WHERE ID = #{id}
    </update>

    <update id="updateSelectedByNameIn">
        UPDATE _PROXY_SOURCE SET
        SELECTED = #{selected}
        WHERE NAME IN
        <foreach collection="names" item="name" index="index" separator="," open="(" close=")">
            #{name}
        </foreach>
    </update>

    <update id="updateSelectedAllDisabled">
        UPDATE _PROXY_SOURCE SET
        SELECTED = false
    </update>

    <delete id="deleteById">
        DELETE FROM _PROXY_SOURCE WHERE ID = #{id}
    </delete>

    <delete id="deleteByName">
        DELETE FROM _PROXY_SOURCE WHERE NAME = #{name}
    </delete>

    <delete id="deleteByIdMapServer">
        DELETE FROM _PROXY_SOURCE_MAPSERVER WHERE ID = #{id}
    </delete>

    <delete id="deleteByIdWMS">
        DELETE FROM _PROXY_SOURCE_WMS WHERE ID = #{id}
    </delete>
</mapper>
