<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiin.admin.mapper.data.SymbolImageMapper">
    <select id="findNextSeqVal" resultType="long">
        SELECT NEXTVAL('SYMBOL_IMAGE_SEQ')
    </select>

    <select id="countByPageModel" resultType="long">
        SELECT COUNT(*) FROM _SYMBOL_IMAGE SI
        <where>
            <choose>
                <when test='sb == 1'> SI.NAME LIKE CONCAT('%', #{st}, '%') </when>
                <when test='sb == 2'> SI.REGISTOR_ID LIKE CONCAT('%', #{st}, '%') </when>
                <otherwise> 1=1 </otherwise>
            </choose>
            <if test="sDate != null and !sDate.equals('') and eDate != null and !eDate.equals('')">
                AND SI.REGIST_TIME BETWEEN TO_TIMESTAMP(#{sDate}, 'YYYY-MM-DD') AND TO_TIMESTAMP(#{eDate}, 'YYYY-MM-DD')
            </if>
        </where>
    </select>

    <select id="findAll" resultType="SymbolImageDTO">
        SELECT * FROM _SYMBOL_IMAGE
    </select>

    <select id="findById" resultType="SymbolImageDTO">
        SELECT * FROM _SYMBOL_IMAGE WHERE ID = #{id}
    </select>

    <select id="findByName" resultType="SymbolImageDTO">
        SELECT * FROM _SYMBOL_IMAGE WHERE NAME = #{name}
    </select>

    <select id="findByPageModel" resultType="SymbolImageDTO">
        <bind name="start" value="(pg - 1) * sz" />
        SELECT * FROM _SYMBOL_IMAGE SI
        <where>
            <choose>
                <when test='sb == 1'> SI.NAME LIKE CONCAT('%', #{st}, '%') </when>
                <when test='sb == 2'> SI.REGISTOR_ID LIKE CONCAT('%', #{st}, '%') </when>
                <otherwise> 1=1 </otherwise>
            </choose>
            <if test="sDate != null and !sDate.equals('') and eDate != null and !eDate.equals('')">
                AND SI.REGIST_TIME BETWEEN TO_TIMESTAMP(#{sDate}, 'YYYY-MM-DD') AND TO_TIMESTAMP(#{eDate}, 'YYYY-MM-DD')
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="ob == 1">SI.ID ASC</when>
            <when test="ob == 2">SI.NAME ASC</when>
            <when test="ob == 3">SI.REGIST_TIME DESC</when>
            <otherwise>SI.ID DESC</otherwise>
        </choose>
        <choose>
            <when test="start gte 0">
                LIMIT ${sz} OFFSET ${start}
            </when>
            <otherwise>
                LIMIT 0
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO _SYMBOL_IMAGE(
            ID,
            NAME,
            DESCRIPTION,
            IS_DEFAULT,
            REGIST_TIME,
            REGISTOR_ID,
            REGISTOR_NAME,
            UPDATE_TIME,
            IMAGE_FILE_PATH,
            IMAGE_2X_FILE_PATH,
            JSON_FILE_PATH,
            JSON_2X_FILE_PATH
        )
        VALUES (
            #{id},
            #{name},
            #{description},
            #{isDefault},
            #{registTime},
            #{registorId},
            #{registorName},
            #{updateTime},
            #{imageFilePath},
            #{image2xFilePath},
            #{jsonFilePath},
            #{json2xFilePath}
        )
    </insert>
</mapper>
