<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 나중에 기능 구현 들어가기 전에 한 번 정리해둘 것. -->
<mapper namespace="com.jiin.admin.mapper.data.SymbolPositionMapper">
    <select id="countByImageId" resultType="long">
        SELECT COUNT(*) FROM _SYMBOL_POSITION WHERE IMAGE_ID = #{imageId}
    </select>

    <select id="countByPageModel" resultType="long">
        SELECT COUNT(*) FROM _SYMBOL_POSITION SP
        <where>
            <choose>
                <when test='pstSt != null and !pstSt.equals("")'> SP.NAME LIKE CONCAT('%', #{pstSt}, '%') AND IMAGE_ID = #{imgId} </when>
                <otherwise> IMAGE_ID = #{imgId} </otherwise>
            </choose>
        </where>
    </select>

    <select id="findAll" resultType="SymbolPositionDTO">
        SELECT * FROM _SYMBOL_POSITION
    </select>

    <select id="findById" resultType="SymbolPositionDTO">
        SELECT * FROM _SYMBOL_POSITION WHERE ID = #{id}
    </select>

    <select id="findByPageModel" resultType="SymbolPositionDTO">
        <bind name="start" value="(pstPg - 1) * pstSz" />
        SELECT *, SP.WIDTH * SP.HEIGHT AS AREA FROM _SYMBOL_POSITION SP
        <where>
            <choose>
                <when test='pstSt != null and !pstSt.equals("")'> SP.NAME LIKE CONCAT('%', #{pstSt}, '%') AND IMAGE_ID = #{imgId} </when>
                <otherwise> IMAGE_ID = #{imgId} </otherwise>
            </choose>
        </where>
        ORDER BY
        <choose>
            <when test="pstOb == 1">SP.ID ASC</when>
            <when test="pstOb == 2">SP.NAME ASC</when>
            <when test="pstOb == 3">AREA DESC</when>
            <otherwise>SP.ID DESC</otherwise>
        </choose>
        <choose>
            <when test="start gte 0">
                LIMIT ${pstSz} OFFSET ${start}
            </when>
            <otherwise>
                LIMIT 0
            </otherwise>
        </choose>
    </select>

    <select id="findByNameAndImageId" resultType="SymbolPositionDTO">
        SELECT * FROM _SYMBOL_POSITION WHERE NAME = #{name} AND IMAGE_ID = #{imageId}
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT NEXTVAL('SYMBOL_POSITION_SEQ')
        </selectKey>
        INSERT INTO _SYMBOL_POSITION (
            ID,
            NAME,
            HEIGHT,
            WIDTH,
            PIXEL_RATIO,
            X_POS,
            Y_POS,
            IMAGE_ID,
            PNG_BYTES
        )
        VALUES (
            #{id},
            #{name},
            #{height},
            #{width},
            #{pixelRatio},
            #{xPos},
            #{yPos},
            #{imageId},
            #{pngBytes}
        )
    </insert>

    <update id="updateByModelAndImageId">
        UPDATE _SYMBOL_POSITION SET
            HEIGHT = #{height},
            WIDTH = #{width},
            X_POS = #{x},
            Y_POS = #{y},
            PNG_BYTES = #{pngBytes}
        WHERE NAME = #{name} AND IMAGE_ID = #{imageId}
    </update>

    <delete id="deleteById">
        DELETE FROM _SYMBOL_POSITION
        WHERE ID = #{id}
    </delete>

    <delete id="deleteByIdIn">
        DELETE FROM _SYMBOL_POSITION
        WHERE ID IN
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByImageId">
        DELETE FROM _SYMBOL_POSITION
        WHERE IMAGE_ID = #{imageId}
    </delete>
</mapper>
