<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">대시보드</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb" class="col-md-12 px-2">
        <h2 class="page_tit">대시보드</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/view/home/user}">홈</a>
            </li>
            <li class="breadcrumb-item" sec:authorize="isAuthenticated() == false">
                <a th:href="@{/view/home/guest}">홈</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">대시보드</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- 서버 시스템 측 Health Check -->
    <div id="server-health-check" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">서버 상태</h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-sync fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <div class="col mb-4" th:if="${ performanceMap.keySet().size() > 0 }" th:each="center : ${ performanceMap.keySet() }" th:id="${ center + '_SERVER_STATUS' }">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center" th:id="${ center + '_SERVER' }">
                                <div th:id="${ center + '_serverTitle' }" class="text-sm font-weight-bold text-uppercase mb-1 text-danger">
                                    <span th:id="${ center + '_serverName' }">LOADING...</span>
                                </div>
                                <div th:id="${ center + '_serverStatus' }" class="text-sm font-weight-bold text-uppercase mb-1 text-danger">
                                    <i class="h1 fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="input-group">
                                    <select class="form-control" th:id="${ center + '_change_server' }" th:value="${ performanceMap.get(center) }" onchange="onchange_refresh_server(this)">
                                        <block th:each="select_key : ${serverRelation.get(center)}" th:remove="tag">
                                            <option th:text="${ #strings.arraySplit(select_key, ':')[1] }" th:value="${ #strings.arraySplit(select_key, ':')[0] }"></option>
                                        </block>
                                    </select>
                                    <div class="input-group-append" id="button-addon4">
                                        <button class="btn btn-primary" type="button" th:id="${ center + '_refresh_server' }" onclick="onchange_refresh_server(this)">
                                            <i class="fas fa-sync"></i>
                                        </button>
                                        <button class="btn btn-info" type="button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col mr-2 text-center" th:id="${ center + '_SERVER_DETAIL' }">
                                <ul class="nav nav-pills flex-column flex-sm-row mb-3" th:id="${ center + '_SERVER_TAB' }" role="tablist">
                                    <li class="flex-sm-fill text-sm-center nav-item">
                                        <a class="nav-link active" th:id="${ '#' + center + '_SERVER_PILL1' }" data-toggle="pill" th:href="${ '#' + center + '_SERVER_TAB1' }" role="tab">기본 사양</a>
                                    </li>
                                    <li class="flex-sm-fill text-sm-center nav-item">
                                        <a class="nav-link" th:id="${ '#' + center + '_SERVER_PILL2' }" data-toggle="pill" th:href="${ '#' + center + '_SERVER_TAB2' }" role="tab">서비스 상태</a>
                                    </li>
                                </ul>
                                <div class="tab-content" th:id="${ center + '_SERVER_TAB_CONTENT' }" style="border: 1.5px solid #017bff; border-radius: 3px; padding: 3px;">
                                    <div class="tab-pane fade show active" th:id="${ center + '_SERVER_TAB1' }" role="tabpanel">
                                        <p th:id="${ center + '_server_basics' }" class="text-left">
                                            - 디스크 : <span th:id="${ center + '_usedCapacity' }" th:text="${'LOADING'}"></span> / <span th:id="${ center + '_totalCapacity' }" th:text="${'LOADING'}"></span> GB <br/>
                                            - 메모리 : <span th:id="${ center + '_usedMemory' }" th:text="${'LOADING'}"></span> / <span th:id="${ center + '_totalMemory' }" th:text="${'LOADING'}"></span> MB <br/>
                                            - 사용 가능한 메모리 : <span th:id="${ center + '_availableMemory' }" th:text="${'LOADING'}"></span> MB <br/>
                                            - CPU 점유율 : <span th:id="${ center + '_cpuUsage' }" th:text="${'LOADING'}"></span> % <br/>
                                            - 서버 접속자 수 : <span th:id="${ center + '_connections' }" th:text="${'LOADING'}"></span>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" th:id="${ center + '_SERVER_TAB2' }" role="tabpanel">
                                        <p th:id="${ center + '_server_services' }" class="text-left">
                                            - MapServer 상태 : <i class="fas fa-check"></i> <br/>
                                            - MapProxy 상태 : <i class="fas fa-check"></i> <br/>
                                            - Terrain Builder 상태 : <i class="fas fa-times"></i> <br/>
                                            - Mapnik 상태 : <i class="fas fa-check"></i> <br/>
                                            - Tegola 상태 : <i class="fas fa-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4" th:unless="${ performanceMap.keySet().size() > 0 }">
                <div class="card shadow h-100 py-2">
                    <div class="card-body text-center">
                        <div id="serverError_ICON1" class="text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <i class="h1 fas fa-exclamation-triangle"></i>
                        </div>
                        <div id="serverError_STATUS1" class="text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <h2>실행하는 서버의 연결 관계가 확실하지 않습니다.</h2>
                            <p>윈도우 측에서는 서버를 연동하기 위한 검토를 하는 중으로 리눅스 환경에서 실행하시길 바랍니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 동기화 Health Check -->
    <div id="sync-health-check" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">동기화 상태</h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-sync fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <div class="col-xl-4 mb-4" th:each="key : ${ status_synchronize.keySet() }" th:id="${ key + '_SYNC_STATUS' }" th:if="${ performanceMap.keySet().size() > 0 }">
                <div class="card shadow h-100 py-2" th:classappend="${ status_synchronize.get(key) == 'ON' } ? 'border-bottom-success' : 'border-bottom-danger'">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center" th:id="${ key + '_SYNC' }">
                                <div class="text-sm font-weight-bold text-uppercase mb-1" th:switch="${ key }" th:classappend="${ status_synchronize.get(key) == 'ON' } ? 'text-success' : 'text-danger'">
                                    <span th:case="CENTER_A" th:text="${ 'BO 센터 - SI' }"></span>
                                    <span th:case="CENTER_B" th:text="${ 'O3 센터 - SI' }"></span>
                                    <span th:case="CENTER_C" th:text="${ 'OO사 센터 - SI' }"></span>
                                </div>
                                <div class="text-sm font-weight-bold text-uppercase mb-1" th:switch="${ status_synchronize.get(key) }" th:classappend="${ status_synchronize.get(key) == 'ON' } ? 'text-success' : 'text-danger'">
                                    <i class="h1 fas fa-check-circle" th:case="ON"></i>
                                    <i class="h1 fas fa-times-circle" th:case="OFF"></i>
                                    <i class="h1 fas fa-exclamation-triangle" th:case="ERROR"></i>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-info btn-sm mx-1">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm mx-1">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                </div>
                            </div>


                            <div class="col mr-2 text-center" th:id="${ key + '_SYNC_DETAIL' }">
                                <ul class="nav nav-pills flex-column flex-sm-row mb-3" th:id="${ key + '_SYNC_TAB' }" role="tablist">
                                    <li class="flex-sm-fill text-sm-center nav-item">
                                        <a class="nav-link active" th:id="${ '#' + key + '_SYNC_PILL1' }" data-toggle="pill" th:href="${ '#' + key + '_SYNC_TAB1' }" role="tab">최근 진행</a>
                                    </li>
                                    <li class="flex-sm-fill text-sm-center nav-item">
                                        <a class="nav-link" th:id="${ '#' + key + '_SYNC_PILL2' }" data-toggle="pill" th:href="${ '#' + key + '_SYNC_TAB2' }" role="tab">동기화 상태</a>
                                    </li>
                                </ul>
                                <div class="tab-content" th:id="${ key + '_SYNC_TAB_CONTENT' }" style="border: 1.5px solid #017bff; border-radius: 3px; padding: 3px;">
                                    <div class="tab-pane fade show active" th:id="${ key + '_SYNC_TAB1' }" role="tabpanel">
                                        <p th:id="${ key + '_sync_basics' }" class="text-left">
                                            - 최근 진행 일자<br/>
                                              * <span>2020-04-22 10:00:00</span><br/>
                                            - 최근 동기화 파일<br/>
                                              * <span>A.tif 이외 10 개</span><br/>
                                            - 동기화 기본 디렉토리<br/>
                                              * <span>/data/center/sync</span>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" th:id="${ key + '_SYNC_TAB2' }" role="tabpanel">
                                        <p th:id="${ key + '_sync_status' }" class="text-left">
                                            - Syncthing 상태 : <i class="fas fa-check"></i> <br/>
                                            - PGPool 2 상태 : <i class="fas fa-check"></i> <br/>
                                            - O3 센터 파일 동기화 준비 : <i class="fas fa-check"></i> <br/>
                                            - O3 센터 DB 동기화 준비 : <i class="fas fa-check"></i> <br/>
                                            - OO사 센터 파일 동기화 준비 : <i class="fas fa-check"></i> <br/>
                                            - OO사 센터 DB 동기화 준비 : <i class="fas fa-check"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4" th:unless="${ performanceMap.keySet().size() > 0 }">
                <div class="card shadow h-100 py-2">
                    <div class="card-body text-center">
                        <div id="serverError_ICON2" class="text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <i class="h1 fas fa-exclamation-triangle"></i>
                        </div>
                        <div id="serverError_STATUS2" class="text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <h2>실행하는 서버의 연결 관계가 확실하지 않습니다.</h2>
                            <p>윈도우 측에서는 서버를 연동하기 위한 검토를 하는 중으로 리눅스 환경에서 실행하시길 바랍니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 데이터 개수 표기 -->
    <div id="data-count-block" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">보유 데이터</h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-sync fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <!-- MAP 데이터 카운트 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">MAP 데이터</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">파일 : <span th:text="${counter.mapCount}"></span> 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">심볼 : <span th:text="${counter.symbolCount}"></span> 개</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-map fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LAYER 데이터 카운트 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">LAYER 데이터</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">레스터 : <span th:text="${counter.rasterLayerCount}"></span> 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">벡터 : <span th:text="${counter.vectorLayerCount}"></span> 개</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CACHE 데이터 카운트 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CACHE 데이터</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">맵 데이터 : <span th:text="${counter.layersSelectedProxyCount}"></span> / <span th:text="${counter.layersProxyCount}"></span> 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">맵 소스 데이터 : <span th:text="${counter.sourcesSelectedProxyCount}"></span> / <span th:text="${counter.sourcesProxyCount}"></span> 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">맵 캐시 데이터 : <span th:text="${counter.cachesSelectedProxyCount}"></span> / <span th:text="${counter.cachesProxyCount}"></span> 개</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-database fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            &lt;!&ndash; 사용자 카운트 &ndash;&gt;-->
<!--            <div class="col-xl-3 col-md-6 mb-4">-->
<!--                <div class="card border-left-warning shadow h-100 py-2">-->
<!--                    <div class="card-body">-->
<!--                        <div class="row no-gutters align-items-center">-->
<!--                            <div class="col mr-2">-->
<!--                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">사용자</div>-->
<!--                                <div class="h6 mb-0 font-weight-bold text-gray-800" th:each="map : ${ counter.userCount }">-->
<!--                                    <div th:each="key : ${ map.keySet() }">-->
<!--                                        <span th:text="${ key }"></span> : <span th:text="${ map.get(key) }"></span> 명-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-auto">-->
<!--                                <i class="fas fa-users fa-2x text-gray-300"></i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <script th:src="@{/js/page/dashboard.js}"></script>
</th:block>
</html>