<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">대시보드</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <!-- 데이터 개수 표기 -->
    <div id="data-count-list" class="col-12 mt-3">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-xl-4 text-center p-m">
                            <i class="fas fa-map-marked-alt fa-4x m-b-xs"></i>
                            <h3>MAP</h3>
                        </div>
                        <div class="col-sm-2 col-md-9 offset-md-3 offset-lg-0 col-lg-6 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>FILE</small></h4>
                            <p class="m-b-none text-center">
                                <span class="fs24" th:text="${counter.mapCount}"></span>
                                <span>개</span>
                            </p>
                        </div>
                        <div class="col-sm-2 col-md-9 offset-md-3 offset-lg-0 col-lg-6 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>SYMBOL</small></h4>
                            <p class="m-b-none text-center">
                                <span class="fs24" th:text="${counter.symbolCount}"></span>
                                <span>개</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="widget style1 lazur-bg">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-xl-3 text-center p-m">
                            <i class="fas fa-layer-group fa-4x m-b-xs"></i>
                            <h3>LAYER</h3>
                        </div>
                        <div class="col-sm-3 col-md-9 offset-md-3 offset-lg-0 col-lg-4 col-xl-3">
                            <h4 class="m-b-none  text-center"><small>RASTER</small></h4>
                            <p class="m-b-none text-center"><span class="fs24" th:text="${counter.rasterLayerCount}"></span><span>개</span></p>
                        </div>
                        <div class="col-sm-3 col-md-9 offset-md-3 offset-lg-0 col-lg-4 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>VECTOR</small></h4>
                            <p class="m-b-none text-center"><span class="fs24" th:text="${counter.vectorLayerCount}"></span><span>개</span></p>
                        </div>

                        <div class="col-sm-3 col-md-9 offset-md-3 offset-lg-0 col-lg-4 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>CADRG</small></h4>
                            <p class="m-b-none text-center"><span class="fs24" th:text="${counter.cadrgLayerCount}"></span><span>개</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="widget style1 yellow-bg">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-xl-3 text-center p-m">
                            <i class="fa fa-key fa-4x m-b-xs"></i>
                            <h3>CACHE</h3>
                        </div>
                        <div class="col-sm-3 col-md-9 offset-md-3 offset-lg-0 col-lg-4 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>LAYERS</small></h4>
                            <p class="m-b-none text-center">
                                <span class="fs24" th:text="${counter.layersSelectedProxyCount}"></span>
                                <span>/</span>
                                <span class="fs24" th:text="${counter.layersProxyCount}"></span>
                                <span>개</span>
                            </p>
                        </div>
                        <div class="col-sm-3 col-md-9 offset-md-3 offset-lg-0 col-lg-4 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>SOURCES</small></h4>
                            <p class="m-b-none text-center">
                                <span class="fs24" th:text="${counter.sourcesSelectedProxyCount}"></span>
                                <span>/</span>
                                <span class="fs24" th:text="${counter.sourcesProxyCount}"></span>
                                <span>개</span>
                            </p>
                        </div>
                        <div class="col-sm-3 col-md-9 offset-md-3 offset-lg-0 col-lg-4 col-xl-3">
                            <h4 class="m-b-none fs14 text-center"><small>CACHES</small></h4>
                            <p class="m-b-none text-center">
                                <span class="fs24" th:text="${counter.cachesSelectedProxyCount}"></span>
                                <span>/</span>
                                <span class="fs24" th:text="${counter.cachesProxyCount}"></span>
                                <span>개</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- 서버 시스템 측 Health Check -->
    <div id="server-health-check" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">SERVER MONITORING</h4>
        </div>

        <div class="row mb-2">
            <div class="col-md-4 col-sm-12" th:if="${ zones.length > 0 }" th:each="zone : ${ zones }" th:id="${ zone + '_SERVER_STATUS' }">
                <div class="ibox" th:if="${ serverMap.get(zone) != null }" th:style="${ local.zone == zone ? 'border: 3px solid #0386A3; border-radius: 3px;' : ''}">
                    <div class="ibox-title">
                        <h3 class="section_tit" th:id="${ zone + '_serverName' }"></h3>
                        <div class="ibox-tools">
                            <div class="form-inline">
                                <select class="custom-select custom-select-sm mr-1" th:id="${ zone + '_change_server' }" value="" onchange="onchange_refresh_server(this)">
                                    <option value="">-- 서버 선택 --</option>
                                    <block th:each="server : ${serverMap.get(zone)}" th:remove="tag">
                                        <option th:text="${ server.name }" th:value="${ server.key + '|' + server.name + '|' + server.ip }"></option>
                                    </block>
                                </select>
                                <span th:id="${ zone + '_serverStatus' }" class="text-danger">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <a th:href="@{/view/server/service-manage}" title="자세히">
                                    <i class="fas fa-search"></i>
                                </a>
                                <a th:id="${ zone + '_refresh_server' }" onclick="onchange_refresh_server(this)" th:href="${ '#' + zone + '_SERVER_TAB1' }">
                                    <i class="fas fa-sync"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <!-- Tab #START -->
                        <div class="tabs-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li><a class="nav-link active" data-toggle="tab" th:id="${ zone + '_SERVER_PILL1' }" th:href="${ '#' + zone + '_SERVER_TAB1' }">기본사양</a></li>
                                <li><a class="nav-link" data-toggle="tab" th:id="${ zone + '_SERVER_PILL2' }" th:href="${ '#' + zone + '_SERVER_TAB2' }">서비스 상태</a></li>
                            </ul>
                            <div class="tab-content" >
                                <div role="tabpanel" th:id="${ zone + '_SERVER_TAB1' }" class="tab-pane active fade show">
                                    <div class="panel-body">
                                        <dl class="row mb-1">
                                            <dt class="col-sm-6 text-sm-right">서버 ZONE :</dt>
                                            <dd class="col-sm-6 text-sm-left">
                                                <span th:text="${zone}"></span>
                                            </dd>
                                        </dl>
                                        <dl class="row mb-1">
                                            <dt class="col-sm-6 text-sm-right">디스크 :</dt>
                                            <dd class="col-sm-6 text-sm-left">
                                                <span th:id="${ zone + '_usedCapacity' }" th:text="${'LOADING'}"></span> / <span th:id="${ zone + '_totalCapacity' }" th:text="${'LOADING'}"></span> GB
                                            </dd>
                                        </dl>
                                        <dl class="row mb-1">
                                            <dt class="col-sm-6 text-sm-right">메모리 :</dt>
                                            <dd class="col-sm-6 text-sm-left">
                                                <span th:id="${ zone + '_usedMemory' }" th:text="${'LOADING'}"></span> / <span th:id="${ zone + '_totalMemory' }" th:text="${'LOADING'}"></span> MB
                                            </dd>
                                        </dl>
                                        <dl class="row mb-1">
                                            <dt class="col-sm-6 text-sm-right">사용 가능한 메모리 :</dt>
                                            <dd class="col-sm-6 text-sm-left">
                                                <span th:id="${ zone + '_availableMemory' }" th:text="${'LOADING'}"></span> MB
                                            </dd>
                                        </dl>
                                        <dl class="row mb-1">
                                            <dt class="col-sm-6 text-sm-right">CPU 점유율 :</dt>
                                            <dd class="col-sm-6 text-sm-left">
                                                <span th:id="${ zone + '_cpuUsage' }" th:text="${'LOADING'}"></span> %
                                            </dd>
                                        </dl>
                                        <dl class="row mb-1">
                                            <dt class="col-sm-6 text-sm-right">서버 접속자 수 :</dt>
                                            <dd class="col-sm-6 text-sm-left">
                                                <span th:id="${ zone + '_connections' }" th:text="${'LOADING'}"></span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div role="tabpanel" th:id="${ zone + '_SERVER_TAB2' }" class="tab-pane fade show">
                                    <div class="panel-body">
                                        <dl class="row mb-1" th:each="service : ${ { 'MapServer', 'MapProxy', 'Ji-in Height', 'Mapnik', 'Nginx', 'RabbitMQ' } }">
                                            <dt class="col-sm-4 text-sm-right" th:text="${ service + ' :' }">MapServer :</dt>
                                            <dd class="col-sm-4 text-sm-center">
                                                <span th:id="${ zone + '_geo_service_text_' + geoMap.get(service).name }">UNKNOWN</span>
                                            </dd>
                                            <dd class="col-sm-4 text-sm-center">
                                                <i class="fas fa-question" th:id="${ zone + '_geo_service_icon_' + geoMap.get(service).name }"></i>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab #END -->
                    </div>
                </div>

                <div class="ibox" th:unless="${ serverMap.get(zone) != null }" th:style="${ local.zone == zone ? 'border: 3px solid #0386A3; border-radius: 3px;' : ''}">
                    <div class="ibox-title">
                        <h3 class="section_tit text-warning">NO EXIST.</h3>
                        <div class="ibox-tools">
                            <span class="text-warning">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="ibox-content" style="min-height : 227px;">
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-warning">
                            <i class="h1 fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-warning">
                            <h2>해당 서버와 연동이 되어 있지 않습니다.</h2>
                            <p>서비스 주소 관리 메뉴를 사용해서 서버를 설정하세요.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" th:unless="${ zones.length > 0 }">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3 class="section_tit text-danger">LOADING ERROR!</h3>
                        <div class="ibox-tools">
                            <span class="text-danger">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="ibox-content" style="min-height : 227px;">
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <i class="h1 fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <h2>실행하는 서버의 연결 관계가 확실하지 않습니다.</h2>
                            <p>윈도우 측에서는 서버를 연동하기 위한 검토를 하는 중으로 리눅스 환경에서 실행하시길 바랍니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 동기화 Health Check -->
    <div id="sync-health-check" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">SYNCHRONIZE MONITORING</h4>
        </div>

        <div class="row">
            <div class="col-xl-4" th:each="zone : ${ zones }" th:id="${ zone + '_SYNC_STATUS' }" th:if="${ zones.length > 0 }">
                <div class="ibox" th:if="${ serverMap.get(zone) != null }" th:style="${ local.zone == zone ? 'border: 3px solid #0386A3; border-radius: 3px;' : ''}">
                    <div class="ibox-title">
                        <h3 class="section_tit" th:id="${ zone + '_syncName' }"></h3>
                        <div class="ibox-tools">
                            <div class="form-inline">
                                <select class="custom-select custom-select-sm mr-1" th:id="${ zone + '_change_sync' }" value="" onchange="onchange_refresh_sync(this)">
                                    <option value="">-- 서버 선택 --</option>
                                    <block th:each="server : ${serverMap.get(zone)}" th:remove="tag">
                                        <option th:text="${ server.name }" th:value="${ server.key + '|' + server.name + '|' + server.ip }"></option>
                                    </block>
                                </select>
                                <span th:id="${ zone + '_syncStatus' }" class="text-danger">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <a href="#" title="자세히">
                                    <i class="fas fa-search"></i>
                                </a>
                                <a title="새로고침" th:id="${ zone + '_refresh_sync' }" onclick="onchange_refresh_sync(this)">
                                    <i class="fas fa-sync"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="tabs-container" style="min-height : 210px;">
                            <ul class="nav nav-tabs" th:id="${ zone + '_SYNC_TAB' }" role="tablist">
                                <li><a class="nav-link active" data-toggle="tab" th:id="${ '#' + zone + '_SYNC_PILL1' }" th:href="${ '#' + zone + '_SYNC_TAB1' }">동기화 상태</a></li>
                                <li><a class="nav-link" data-toggle="tab" th:id="${ '#' + zone + '_SYNC_PILL2' }" th:href="${ '#' + zone + '_SYNC_TAB2' }">최근 진행</a></li>
                            </ul>
                            <div class="tab-content" th:id="${ zone + '_SYNC_TAB_CONTENT' }">
                                <div role="tabpanel" th:id="${ zone + '_SYNC_TAB1' }" class="tab-pane active fade show">
                                    <div class="panel-body">
                                        <dl class="row mb-0">
                                            <dt class="col-8 col-sm-6 col-lg-7 text-sm-right">PostgreSQL OSM 상태 :</dt>
                                            <dd class="col-4 col-lg-5 text-sm-left mb-1"><i th:id="${ zone + '_sync_basic_pgsqlOSMStatus' }" class="fas fa-question"></i></dd>
                                        </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-8 col-sm-6 col-lg-7 text-sm-right">PostgreSQL Basic 상태 :</dt>
                                            <dd class="col-4 col-lg-5 text-sm-left mb-1"><i th:id="${ zone + '_sync_basic_pgsqlBasicStatus' }" class="fas fa-question"></i></dd>
                                        </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-8 col-sm-6 col-lg-7 text-sm-right">Syncthing 상태 :</dt>
                                            <dd class="col-4 col-lg-5 text-sm-left mb-1"><i th:id="${ zone + '_sync_basic_syncthingStatus' }" class="fas fa-question"></i></dd>
                                            </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-8 col-sm-6 col-lg-7 text-sm-right">PGPool 2 상태 :</dt>
                                            <dd class="col-4 col-lg-5 text-sm-left mb-1"><i th:id="${ zone + '_sync_basic_pgpoolStatus' }" class="fas fa-question"></i></dd>
                                        </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-8 col-sm-6 col-lg-7 text-sm-right">해당 센터 파일 동기화 상태 :</dt>
                                            <dd class="col-4 col-lg-5 text-sm-left mb-1"><i th:id="${ zone + '_sync_basic_withSyncDBStatus' }" class="fas fa-question"></i></dd>
                                        </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-8 col-sm-6 col-lg-7 text-sm-right">해당 센터 서버 동기화 상태 :</dt>
                                            <dd class="col-4 col-lg-5 text-sm-left mb-1"><i th:id="${ zone + '_sync_basic_withSyncFileStatus' }" class="fas fa-question"></i></dd>
                                        </dl>
                                    </div>
                                </div>

                                <div role="tabpanel" th:id="${ zone + '_SYNC_TAB2' }" class="tab-pane fade">
                                    <div class="panel-body">
                                        <dl class="row mb-0 m-t-lg">
                                            <dt class="col-sm-6 text-sm-right">파일 동기화 최근 진행 일자 :</dt>
                                            <dd class="col-sm-6 text-sm-left mb-1">2020-04-22 10:00:00</dd>
                                        </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-sm-6 text-sm-right">최근 동기화 파일 :</dt>
                                            <dd class="col-sm-6 text-sm-left mb-1">A.tif 이외 10 개</dd>
                                        </dl>
                                        <dl class="row mb-0">
                                            <dt class="col-sm-6 text-sm-right">파일 동기화 기본 디렉토리 :</dt>
                                            <dd class="col-sm-6 text-sm-left mb-1">/data/center/sync</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox" th:unless="${ serverMap.get(zone) != null }" th:style="${ local.zone == zone ? 'border: 3px solid #0386A3; border-radius: 3px;' : ''}">
                    <div class="ibox-title">
                        <h3 class="section_tit text-warning">NO EXIST.</h3>
                        <div class="ibox-tools">
                            <span class="text-warning">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="ibox-content" style="min-height : 227px;">
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-warning">
                            <i class="h1 fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-warning">
                            <h2>해당 서버와 연동이 되어 있지 않습니다.</h2>
                            <p>서비스 주소 관리 메뉴를 사용해서 서버를 설정하세요.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12" th:unless="${ zones.length > 0 }">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3 class="section_tit text-danger">LOADING ERROR!</h3>
                        <div class="ibox-tools">
                            <span class="text-danger">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="ibox-content" style="min-height : 210px;">
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <i class="h1 fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="text-center text-sm font-weight-bold text-uppercase mb-1 text-danger">
                            <h2>실행하는 서버의 연결 관계가 확실하지 않습니다.</h2>
                            <p>윈도우 측에서는 서버를 연동하기 위한 검토를 하는 중으로 리눅스 환경에서 실행하시길 바랍니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var pgSQLBasicPort = /*[[${geoMap.get("PostgreSQL Basic").port}]]*/ 0;
        var syncthingPort = /*[[${geoMap.get("Syncthing").port}]]*/ 0;
    </script>
    <script th:src="@{/js/page/dashboard-page.js}"></script>
</th:block>
</html>