<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">대시보드</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/view/home/user}">홈</a>
            </li>
            <li class="breadcrumb-item" sec:authorize="isAuthenticated() == false">
                <a th:href="@{/view/home/guest}">홈</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">대시보드</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <!-- 서버 시스템 측 Health Check -->
    <div id="server-health-check" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">서버 상태 점검</h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-sync fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <div class="col-xl-4 mb-4" th:each="key : ${ status_server.keySet() }" th:id="${ key + '_SERVER_STATUS' }" data-toggle="tooltip" data-placement="bottom" onmouseenter="onMouseEnterStatusCard()" title="서버 상태가 나옵니다.">
                <div class="card border-bottom-success shadow h-100 py-2" th:classappend="${ status_server.get(key) == 'ON' } ? 'border-bottom-success' : 'border-bottom-danger'">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="text-sm font-weight-bold text-uppercase mb-1" th:switch="${ key }" th:classappend="${ status_server.get(key) == 'ON' } ? 'text-success' : 'text-danger'">
                                    <span th:case="CENTER_A" th:text="${ 'A 센터' }"></span>
                                    <span th:case="CENTER_B" th:text="${ 'B 센터' }"></span>
                                    <span th:case="CENTER_C" th:text="${ 'C 센터' }"></span>
                                </div>
                                <div class="text-sm font-weight-bold text-uppercase mb-1" th:switch="${ status_server.get(key) }" th:classappend="${ status_server.get(key) == 'ON' } ? 'text-success' : 'text-danger'">
                                    <h1 class="fas fa-check-circle" th:case="ON"></h1>
                                    <h1 class="fas fa-times-circle" th:case="OFF"></h1>
                                    <h1 class="fas fa-exclamation-triangle" th:case="ERROR"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 동기화 Health Check -->
    <div id="sync-health-check" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">서버 동기화 점검</h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-sync fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <div class="col-xl-4 mb-4" th:each="key : ${ status_synchronize.keySet() }" th:id="${ key + '_SYNC_STATUS' }" data-toggle="tooltip" data-placement="bottom" onmouseenter="onMouseEnterStatusCard()" title="서버 상태가 나옵니다.">
                <div class="card border-bottom-success shadow h-100 py-2" th:classappend="${ status_synchronize.get(key) == 'ON' } ? 'border-bottom-success' : 'border-bottom-danger'">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="text-sm font-weight-bold text-uppercase mb-1" th:switch="${ key }" th:classappend="${ status_synchronize.get(key) == 'ON' } ? 'text-success' : 'text-danger'">
                                    <span th:case="CENTER_A" th:text="${ 'A 센터' }"></span>
                                    <span th:case="CENTER_B" th:text="${ 'B 센터' }"></span>
                                    <span th:case="CENTER_C" th:text="${ 'C 센터' }"></span>
                                </div>
                                <div class="text-sm font-weight-bold text-uppercase mb-1" th:switch="${ status_synchronize.get(key) }" th:classappend="${ status_synchronize.get(key) == 'ON' } ? 'text-success' : 'text-danger'">
                                    <h1 class="fas fa-check-circle" th:case="ON"></h1>
                                    <h1 class="fas fa-times-circle" th:case="OFF"></h1>
                                    <h1 class="fas fa-exclamation-triangle" th:case="ERROR"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 데이터 개수 표기 -->
    <div id="data-count-block" class="mb-2">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-0 text-gray-800">보유 데이터 개수</h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-sync fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <!-- 레이어 카운트 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">레이어</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">레스터 / 1,000 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">벡터 / 2,000 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">그룹 / 20 개</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 데이터 저장소 카운트 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">지도 데이터</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">카테고리 A / 1,000 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">카테고리 B / 2,000 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">카테고리 C / 1,000 개</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-map fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 스타일 카운트 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">스타일</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">JSON / 1,000 개</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">XML / 2,000 개</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-brush fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 사용자 카운트 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">사용자</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">관리자 / <span th:text="${ account_counter.get('ADMIN') }"></span> 명</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">사용자 / <span th:text="${ account_counter.get('USER') }"></span> 명</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/page/dashboard.js}"></script>
</th:block>
</html>