<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/overlay/overlay-main.css}">
    <link rel="stylesheet" th:href="@{/design-park/resource/library/css/plugins/colorpicker/bootstrap-colorpicker.min.css}" />
    <script th:src="@{/design-park/resource/library/js/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
</head>

<!-- 투명도 추가 기능 분리 -->
<body th:fragment="html-overlay-main">
    <div class="pt-1 pb-1">
        <div class="scroller scroller-left">
            <i class="fas fa-angle-left"></i>
        </div>
        <div class="scroller scroller-right">
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="wrapper-overlay">
            <ul class="nav nav-pills list" id="pills-tab" role="tablist">
                <!-- 점 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_point" data-toggle="pill" href="#overlay-point" role="tab" aria-controls="overlay-point" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_point.png}" />
                    </a>
                </li>

                <!-- 단선 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_line" data-toggle="pill" href="#overlay-line" role="tab" aria-controls="overlay-line" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_line.png}" />
                    </a>
                </li>

                <!-- 원 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_circle" data-toggle="pill" href="#overlay-circle" role="tab" aria-controls="overlay-circle" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_circle.png}" />
                    </a>
                </li>

                <!-- 정사각형 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_rect" data-toggle="pill" href="#overlay-square" role="tab" aria-controls="overlay-square" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_square.png}" />
                    </a>
                </li>

                <!-- 둥근 직사각형 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_roundrect" data-toggle="pill" href="#overlay-circled-rectangle" role="tab" aria-controls="overlay-circled-rectangle" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_circled_rectangle.png}" />
                    </a>
                </li>

                <!-- 호 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_arc" data-toggle="pill" href="#overlay-arc" role="tab" aria-controls="overlay-arc" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_arc.png}" />
                    </a>
                </li>

                <!-- 부채꼴 (파이) -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_pie" data-toggle="pill" href="#overlay-pie" role="tab" aria-controls="overlay-pie" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_pie.png}" />
                    </a>
                </li>

                <!-- 삼각형 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" id="draw_triangle" data-toggle="pill" href="#overlay-triangle" role="tab" aria-controls="overlay-triangle" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_triangle.png}" />
                    </a>
                </li>

                <!-- 텍스트 -->
                <li class="nav-item">
                    <a class="btn-overlay nav-link" data-toggle="pill" data-placement="top" title="텍스트" href="#overlay-text" role="tab" aria-controls="overlay-text" aria-selected="true">
                        <img width="25px" th:src="@{/img/shape/btn_text.png}" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <!-- 점 -->
            <div class="tab-pane fade show active" id="overlay-point" role="tabpanel">
                <form class="mt-2 mb-2" id="form-point">
                    <th:block th:replace="fragments/overlay/html-overlay-symbol :: html-overlay-symbol('point')"/>
                </form>
            </div>

            <!-- 단선 -->
            <div class="tab-pane fade" id="overlay-line" role="tabpanel">
                <form class="mt-2 mb-2" id="form-line">
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('line')"/>
                </form>
            </div>

            <!-- 선 -->
            <div class="tab-pane fade" id="overlay-lines" role="tabpanel">
                <form class="mt-2 mb-2" id="form-lines">
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('lines')"/>
                </form>
            </div>

            <!-- 면 -->
            <div class="tab-pane fade" id="overlay-polygon" role="tabpanel">
                <form class="mt-2 mb-2" id="form-polygon">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('polygon')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('polygon')"/>
                </form>
            </div>

            <!-- 곡선 -->
            <div class="tab-pane fade" id="overlay-curve" role="tabpanel">
                <form class="mt-2 mb-2" id="form-curve">
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('curve')"/>
                </form>
            </div>

            <!-- 곡선 면 -->
            <div class="tab-pane fade" id="overlay-curve-polygon" role="tabpanel">
                <form class="mt-2 mb-2" id="form-curve-polygon">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('curve-polygon')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('curve-polygon')"/>
                </form>
            </div>

            <!-- 원 -->
            <div class="tab-pane fade" id="overlay-circle" role="tabpanel">
                <form class="mt-2 mb-2" id="form-circle">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('circle')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('circle')"/>
                </form>
            </div>

            <!-- 정사각형 -->
            <div class="tab-pane fade" id="overlay-square" role="tabpanel">
                <form class="mt-2 mb-2" id="form-square">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('square')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('square')"/>
                </form>
            </div>

            <!-- 직사각형 -->
            <div class="tab-pane fade" id="overlay-rectangle" role="tabpanel">
                <form class="mt-2 mb-2" id="form-rectangle">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('rectangle')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('rectangle')"/>
                </form>
            </div>

            <!-- 둥근 직사각형 -->
            <div class="tab-pane fade" id="overlay-circled-rectangle" role="tabpanel">
                <form class="mt-2 mb-2" id="form-circled-rectangle">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('circled-rectangle')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('circled-rectangle')"/>
                </form>
            </div>

            <!-- 호 -->
            <div class="tab-pane fade" id="overlay-arc" role="tabpanel">
                <form class="mt-2 mb-2" id="form-arc">
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('arc')"/>
                </form>
            </div>

            <!-- 활꼴 (현) -->
            <div class="tab-pane fade" id="overlay-bow" role="tabpanel">
                <form class="mt-2 mb-2" id="form-bow">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('bow')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('bow')"/>
                </form>
            </div>

            <!-- 부채꼴 (파이) -->
            <div class="tab-pane fade" id="overlay-pie" role="tabpanel">
                <form class="mt-2 mb-2" id="form-pie">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('pie')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('pie')"/>
                </form>
            </div>

            <!-- 삼각형 -->
            <div class="tab-pane fade" id="overlay-triangle" role="tabpanel">
                <form class="mt-2 mb-2" id="form-triangle">
                    <th:block th:replace="fragments/overlay/html-overlay-fill :: html-overlay-fill('triangle')"/>
                    <hr/>
                    <th:block th:replace="fragments/overlay/html-overlay-line :: html-overlay-line('triangle')"/>
                </form>
            </div>

            <!-- 문자 -->
            <div class="tab-pane fade" id="overlay-text" role="tabpanel">
                <form class="mt-2 mb-2" id="form-text">
                    <th:block th:replace="fragments/overlay/html-overlay-text :: html-overlay-text('text')"/>
                </form>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/overlay/ui/overlay-main.js}"></script>
<script th:src="@{/js/overlay/d3/d3.js}"></script>
<!--<script th:src="@{/js/overlay/d3-shape/d3-shape.js}"></script>-->
<script th:src="@{/js/overlay/overlayDrawUtil.js}"></script>
<script th:src="@{/js/overlay/overlayEnum.js}"></script>
<script th:src="@{/js/overlay/overlayAtrributes.js}"></script>
<script th:src="@{/js/overlay/jimap_overlay_atrributes.js}"></script>
<script th:src="@{/js/overlay/jimap_overlay.js}"></script>
</html>