<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">지도 생성</h1>
    <a href="/view/publish/s01-data-list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-save fa-sm text-white-50"></i> 저장하기
    </a>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/view/publish/s01-data-list">레이어</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">레이어 생성</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <form autocomplete="off">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label for="layer-name">레이어 이름</label>
                    <input type="text" class="form-control" name="name" id="layer-name" value="">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="layer-group">그룹 이름</label>
                    <input type="text" class="form-control" name="group" id="layer-group" value="">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="layer-status">작동 여부</label>
                    <select class="form-control" name="status" id="layer-status">
                        <option value="ON">ON</option>
                        <option value="OFF">OFF</option>
                        <option value="DEFAULT">DEFAULT</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="layer-type">레이어 타입</label>
                    <select class="form-control" name="type" id="layer-type">
                        <option disabled value="CHART">CHART (not yet supported)</option>
                        <option disabled value="CIRCLE">CIRCLE (not yet supported)</option>
                        <option value="LINE">LINE</option>
                        <option value="POINT">POINT</option>
                        <option value="POLYGON">POLYGON</option>
                        <option disabled value="QUERY">QUERY (not yet supported)</option>
                        <option value="RASTER">RASTER</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="layer-projection">투영 방식</label>
                    <input type="text" class="form-control" name="projection" id="layer-projection" value="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="layer-connectiontype">데이터 연결 타입</label>
                    <select class="form-control" name="connectiontype" id="layer-connectiontype">
                        <option disabled value="CONTOUR">CONTOUR (not yet supported)</option>
                        <option disabled value="KERNELDENSITY">KERNELDENSITY (not yet supported)</option>
                        <option value="LOCAL">LOCAL</option>
                        <option value="OGR">OGR</option>
                        <option disabled value="ORACLESPATIAL">ORACLESPATIAL (not yet supported)</option>
                        <option disabled value="PLUGIN">PLUGIN (not yet supported)</option>
                        <option value="POSTGIS">POSTGIS</option>
                        <option disabled value="SDE">SDE (not yet supported)</option>
                        <option disabled value="UNION">UNION (not yet supported)</option>
                        <option disabled value="UVRASTER">UVRASTER (not yet supported)</option>
                        <option value="WFS">WFS</option>
                        <option value="WMS">WMS</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="layer-connection">연결 정보</label>
                    <input type="text" class="form-control" name="connection" id="layer-connection" value="">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="layer-data">데이터</label>
                    <input type="text" class="form-control" name="data" id="layer-data" value="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="layer-minscaledenom">최소 ZOOM 레벨</label>
                    <input type="text" class="form-control" name="minscaledenom" id="layer-minscaledenom" value="">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="layer-maxscaledenom">최대 ZOOM 레벨</label>
                    <input type="text" class="form-control" name="maxscaledenom" id="layer-maxscaledenom" value="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="layer-filteritem">필터 아이템</label>
                    <input type="text" class="form-control" name="filteritem" id="layer-filteritem" value="">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="layer-filter">필터</label>
                    <input type="text" class="form-control" name="filter" id="layer-filter" value="">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="layer-classitem">클래스 아이템</label>
                    <input type="text" class="form-control" name="classitem" id="layer-classitem" value="">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="layer-labelitem">라벨 아이템</label>
                    <input type="text" class="form-control" name="labelitem" id="layer-labelitem" value="">
                </div>
            </div>
        </div>
    </form>

    <div id="class-list">
        <h3>클래스 목록</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>표현식</th>
                    <th>스타일</th>
                    <th>라벨</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABCDE</td>
                    <td>OOOOO</td>
                    <td>ABCDE</td>
                    <td>OOOOO</td>
                </tr>
                <tr>
                    <td>ABCDE</td>
                    <td>OOOOO</td>
                    <td>ABCDE</td>
                    <td>OOOOO</td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>