<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">Mapfile 데이터 목록</h1>
    <a href="/view/publish/s02-file-upload" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-upload fa-sm text-white-50"></i> 업로드
    </a>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/view/publish/s02-file-list">지도 데이터</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">지도 데이터 목록</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div id="vector_list_view">
        <table id="list_table" class="table table-sm table-striped">
            <thead class="table-info">
            <tr>
                <th scope="col" class="text-center">이름</th>
                <th scope="col" class="text-center">크기</th>
                <th scope="col" class="text-center">관리자</th>
                <th scope="col" class="text-center">지도 생성</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">AShape.shp</td>
                <td class="text-center">12.345 MB</td>
                <td class="text-center">Vector Admin</td>
                <td class="text-center">
                    <a class="btn btn-primary btn-sm" href="/view/publish/s02-file-generator">
                        <i class="fas fa-file-export"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-center">BShape.shp</td>
                <td class="text-center">23.345 MB</td>
                <td class="text-center">Vector Admin</td>
                <td class="text-center">
                    <a class="btn btn-primary btn-sm" href="/view/publish/s02-file-generator">
                        <i class="fas fa-file-export"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-center">CRaster.tiff</td>
                <td class="text-center">3.4567 GB</td>
                <td class="text-center">Raster Admin</td>
                <td class="text-center">
                    <a class="btn btn-primary btn-sm" href="/view/publish/s02-file-generator">
                        <i class="fas fa-file-export"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                $('#list_table').DataTable({
                    "language" : {
                        "lengthMenu" : "자료 길이 _MENU_",
                        "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                        "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                        "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                        "infoFiltered" : "(총 _TOTAL_ 건)",
                        "search" : "검색 키워드",
                        "paginate": {
                            "first" : "<<",
                            "last" : ">>",
                            "next" : ">",
                            "previous" : "<"
                        }
                    }
                });
            });
        </script>
    </div>
</th:block>
</html>