<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">레이어 중첩 도시</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/view/publish/s03-map-openlayers">지도 도시</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">레이어 중첩 도시</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <link rel="stylesheet" th:href="@{/gis/openlayers-6.1.1/ol.css}">
    <script th:src="@{/gis/openlayers-6.1.1/ol.js}"></script>

    <script th:src="@{/jquery/jquery-ui.min.js}"></script>
    <script th:src="@{/js/page/map-overlay.js}"></script>

    <div id="preview_block">
        <div id="map" class="map" style="height : calc(100vh - 340px);"></div>

        <div class="d-flex justify-content-between my-1">
            <div id="military-position">
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#layer_modal" data-backdrop="false">
                    <i class="fas fa-layer-group"></i> 레이어
                </button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#shape_modal" data-backdrop="false">
                        <i class="fas fa-vector-square"></i> 투명도
                    </button>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#military_modal" data-backdrop="false">
                        <i class="fas fa-fighter-jet"></i> 군대부호
                    </button>
                </div>
            </div>

            <!-- 축척 표시 -->
            <div id="download-position">
                <a class="btn btn-sm btn-info text-white" type="button" id="download-btn" th:download="${ #dates.format(#dates.createNow(), 'yyyyMMdd_HHmm') + '_capture.png' }">
                    <i class="fas fa-download"></i> 다운로드
                </a>
                <button type="button" class="btn btn-sm btn-primary">
                    <i class="fas fa-cube"></i> 3차원 변환
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="layer_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">레이어 목록</h4>
                </div>
                <div class="modal-body">
                    <div class="pt-1 pb-1">
                        <table id="list_table" class="table table-sm table-striped">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center">레이어 이름</th>
                            <th scope="col" class="text-center">레이어 투명 조절 / 보이기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                레이어 A
                            </td>
                            <td class="text-center align-middle">
                                <fieldset id="layer0">
                                    <input class="opacity form-control-range" type="range" min="0" max="1" step="0.01" />
                                    <input type="checkbox" class="visible" id="visible0" />
                                    <label for="visible0"> 보이기</label>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle">
                                레이어 B
                            </td>
                            <td class="text-center align-middle">
                                <fieldset id="layer1">
                                    <input class="opacity form-control-range" type="range" min="0" max="1" step="0.01" />
                                    <input type="checkbox" class="visible" id="visible1" />
                                    <label for="visible1"> 보이기</label>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle">
                                레이어 C
                            </td>
                            <td class="text-center align-middle">
                                <fieldset id="layer2">
                                    <input class="opacity form-control-range" type="range" min="0" max="1" step="0.01" />
                                    <input type="checkbox" class="visible" id="visible2" />
                                    <label for="visible2"> 보이기</label>
                                </fieldset>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <div class="modal fade" id="shape_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">투명도 추가</h4>
                </div>
                <div class="modal-body">
                    <div class="pt-1 pb-1">
                        <!-- 점 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_point.png}" />
                        </button>

                        <!-- 선 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_line.png}" />
                        </button>

                        <!-- 연속 선 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_continuous_line.png}" />
                        </button>

                        <!-- 면 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_polygon.png}" />
                        </button>

                        <!-- 곡선 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_curve.png}" />
                        </button>

                        <!-- 곡선 면 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_curve_polygon.png}" />
                        </button>

                        <!-- 원 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_circle.png}" />
                        </button>

                        <!-- 정사각형 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_square.png}" />
                        </button>

                        <!-- 직사각형 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_rectangle.png}" />
                        </button>

                        <!-- 원형 직사각형 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_circled_rectangle.png}" />
                        </button>

                        <!-- 호 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_curve.png}" />
                        </button>

                        <!-- 활꼴 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_bow.png}" />
                        </button>

                        <!-- 부채꼴 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_circular_sector.png}" />
                        </button>

                        <!-- 삼각형 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_triangle.png}" />
                        </button>

                        <!-- 문자 -->
                        <button class="btn btn-sm">
                            <img width="25px" th:src="@{/img/shape/btn_text.png}" />
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <div class="modal fade" id="military_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">군대부호 추가</h4>
                </div>
                <div class="modal-body">
                    <div class="pt-1 pb-1">
                        <p>군대부호 추가</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i> 닫기
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#list_table').DataTable({
                "language" : {
                    "lengthMenu" : "페이지 단위 : _MENU_ 건",
                    "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                    "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                    "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                    "infoFiltered" : "(총 _TOTAL_ 건)",
                    "search" : "검색 키워드 : ",
                    "paginate": {
                        "first" : "<<",
                        "last" : ">>",
                        "next" : ">",
                        "previous" : "<"
                    }
                }
            });
        });
    </script>
</th:block>
</html>