<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">로그 환경 설정</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-save fa-sm text-white-50"></i> 저장
    </a>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">서버</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">로그 환경 설정</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <form>
        <div class="form-group">
            <label>로그 저장 디렉토리</label>
            <input class="form-control" id="log_directory" placeholder="~/jimap/solution/log-data.log" />
        </div>

        <div class="form-group">
            <label>로그 파일 제한</label>
            <input class="form-control" id="log_size" placeholder="5 KB" />
        </div>

        <div class="form-group">
            <label>로그 라인 제한</label>
            <input class="form-control" id="log_line" placeholder="5000" />
        </div>

        <div class="form-group">
            <label>로그 인코딩</label>
            <input class="form-control" id="log_encode" placeholder="UTF-8" />
        </div>
    </form>
</th:block>
</html>