<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">사용자 목록</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">사용자 관리</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">사용자 목록</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <div id="user_list_view">
        <table id="list_table" class="table table-sm table-striped">
            <thead class="table-info">
            <tr>
                <th scope="col" class="text-center">사용자 ID</th>
                <th scope="col" class="text-center">이름</th>
                <th scope="col" class="text-center">이메일</th>
                <th scope="col" class="text-center">관리자 여부</th>
                <th scope="col" class="text-center">관리자 권한 부여</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">user1</td>
                <td class="text-center">사용자1</td>
                <td class="text-center">user1@domain.com</td>
                <td class="text-center">
                    <i class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-info">
                        <i class="fas fa-sync"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">user2</td>
                <td class="text-center">사용자2</td>
                <td class="text-center">user2@domain.com</td>
                <td class="text-center">
                    <i class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-info">
                        <i class="fas fa-sync"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">admin1</td>
                <td class="text-center">관리자1</td>
                <td class="text-center">admin1@domain.com</td>
                <td class="text-center">
                    <i class="fas fa-check-circle"></i>
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-danger">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                $('#list_table').DataTable({
                    "language" : {
                        "lengthMenu" : "자료 길이 _MENU_",
                        "zeroRecords" : "해당 자료가 존재하지 않습니다.",
                        "info" : "_PAGES_ 페이지 중 _PAGE_ 페이지 / 총 _MAX_ 건",
                        "infoEmpty" : "해당 자료가 존재하지 않습니다.",
                        "infoFiltered" : "(총 _TOTAL_ 건)",
                        "search" : "검색 키워드",
                        "paginate": {
                            "first" : "<<",
                            "last" : ">>",
                            "next" : ">",
                            "previous" : "<"
                        }
                    }
                });
            });
        </script>
    </div>
</th:block>
</html>