<div class="py-1">
    <h3 class="section_tit my-1">캐시 관리</h3>
    <div class="text-right my-1">
        <button type="button" class="btn btn-info btn-sm" onclick="onclick_insert_data('cache')">
            <i class="fas fa-plus"></i> 데이터 추가
        </button>
    </div>

    <!-- Data Form Modal - CACHE 시작 -->
    <div class="modal fade" id="cacheModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <form data-title="cache-form" th:action="@{/view/proxy/cache-save}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)">
                    <input type="hidden" id="cache-id" name="id" value="0" />
                    <input type="hidden" id="cache-method" name="method" value="INSERT" />
                    <input type="hidden" id="cache-sources" name="sources" value="[]" />

                    <div class="modal-header">
                        <h4 class="cont_tit">데이터 <span id="source-cache-title"></span> - Cache</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_close('cache')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" th:if="${ #lists.size(selectSources) > 0 }">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="cache-name">캐시 이름 <span class="text-danger">(*)</span></label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" id="cache-name" name="name">
                                <div class="input-group-append">
                                    <span id="cache-validate-btn" class="input-group-btn btn btn-primary" style="cursor: pointer;" onclick="jiCommon.duplicateCheck('PROXYCACHE','#cache-name','#duplicate-check-message-proxy-cache')">중복확인</span>
                                </div>
                            </div>
                            <div id="cache-validate-text" class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message-proxy-cache">중복확인을 해주세요.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cache-cacheType">캐시 종류 <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="cache-cacheType" name="cacheType" readonly />
                        </div>

                        <div class="form-group">
                            <label for="cache-cacheType">캐시 파일 포맷 <span class="text-danger">(*)</span></label>
                            <select class="form-control" id="cache-format" name="format">
                                <option value="image/jpeg">image/jpeg</option>
                                <option value="image/png">image/png</option>
                            </select>
                        </div>

                        <label for="cache-cacheDirectory">캐시 디렉토리 <span class="text-danger">(*)</span></label>
                        <small>캐시 디렉토리는 설정한 이후 값 변경이 불가능합니다.</small>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    직접 설정 <input id="directoryEdit" type="checkbox" onchange="onchange_cache_directory_checkbox()" />
                                </div>
                            </div>
                            <input type="text" class="form-control" id="cache-cacheDirectory" name="cacheDirectory" readonly />
                        </div>

                        <div class="form-group">
                            <label for="cache-metaSizeX">타일 가로 크기</label>
                            <input type="number" class="form-control" id="cache-metaSizeX" name="metaSizeX" />
                        </div>

                        <div class="form-group">
                            <label for="cache-metaSizeY">타일 세로 크기</label>
                            <input type="number" class="form-control" id="cache-metaSizeY" name="metaSizeY" />
                        </div>

                        <div class="form-group">
                            <label for="cache-metaBuffer">타일 버퍼 크기</label>
                            <input type="number" class="form-control" id="cache-metaBuffer" name="metaBuffer" />
                        </div>

                        <div>
                            <label>캐시 연계 소스 <span class="text-danger">(*)</span></label>
                            <table id="cache_sources" class="table table-sm basic my-1">
                                <thead class="table-info">
                                <tr>
                                    <th scope="col" class="text-center">체크박스</th>
                                    <th scope="col" class="text-center">이름</th>
                                    <th scope="col" class="text-center">종류</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="source : ${selectSources}">
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" style="width: 1em;" th:id="${ 'cacheSources_' + source.name }" onchange="onchange_checkbox_select_data('cacheSources', this, 'cache-sources')" />
                                        </div>
                                    </td>
                                    <td class="text-center align-middle" th:text="${ source.name }"></td>
                                    <td class="text-center align-middle" th:text="${ source.type }"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <p><span class="text-danger">(*)</span> : 해당 데이터는 반드시 입력 되어야 합니다.</p>
                    </div>

                    <div class="modal-body" th:unless="${ #lists.size(selectSources) > 0 }">
                        <div class="jumbotron">
                            <h1 class="display-4">
                                <i class="fas fa-times-circle"></i> Error
                            </h1>
                            <p class="lead">추가 된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 추가하고 다시 시도 바랍니다.</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_close('cache')">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Data Form Modal - CACHE 끝 -->

    <!-- Data List Table - CACHE 시작 -->
    <table id="list_table_cache" class="table basic my-1">
        <thead class="table-info">
        <tr>
            <th scope="col" class="text-center">이름</th>
            <th scope="col" class="text-center">종류</th>
            <th scope="col" class="text-center">수정 및 삭제</th>
            <th scope="col" class="text-center">설정 적용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cache : ${ caches }">
            <td class="text-center align-middle" th:text="${ cache.name }"></td>
            <td class="text-center align-middle" th:text="${ cache.cacheType }"></td>
            <td class="text-center align-middle">
                <button
                    type="button"
                    class="btn btn-info btn-circle btn-sm mx-1"
                    data-obj="cache"
                    th:data-id="${cache.id}"
                    data-method="UPDATE"
                    th:data-name="${cache.name}"
                    th:data-cache-type="${cache.cacheType}"
                    th:data-cache-directory="${cache.cacheDirectory}"
                    th:data-meta-size-x="${cache.metaSizeX}"
                    th:data-meta-size-y="${cache.metaSizeY}"
                    th:data-meta-buffer="${cache.metaBuffer}"
                    th:data-sources="${cache.sourceKeys}"
                    onclick="onclick_update_data(this)"
                >
                    <i class="fas fa-cog"></i>
                </button>
                <a class="btn btn-danger btn-circle btn-sm mx-1" th:href="@{ '/view/proxy/cache-delete?id=' + ${cache.id} + '&name=' + ${cache.name} }" onclick="return confirm('삭제를 진행 하시겠습니까?')">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
            <td class="text-center align-middle">
                <button
                        th:id="${ 'add_button_' + cache.name }"
                        class="btn btn-secondary btn-sm btn-circle"
                        th:data-type="selectedCaches"
                        th:data-cache="${cache.name}"
                        th:data-sources="${cache.sourceKeys}"
                        onclick="onclick_add_button(this)"
                >
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Data List Table - CACHE 끝 -->
</div>