<div class="text-right">
    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#globalModal">
        <i class="fas fa-globe"></i> GLOBAL 변수 설정
    </button>
</div>

<div class="modal fade" id="globalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="cont_tit">데이터 수정 - Global</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_global_cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-right">
                    <button class="btn btn-sm btn-info mb-2" type="button" onclick="onclick_global_row_add()">
                        <i class="fas fa-plus"></i> 데이터 생성
                    </button>
                </div>
                <form data-title="global-form" method="post" th:action="@{/view/proxy/global-save}" onsubmit="return onsubmit_global_table(this)">
                    <!-- Data List Table - GLOBAL 시작 -->
                    <table id="list_table_global" class="table basic text-center my-1">
                        <thead class="table-info">
                        <tr>
                            <th scope="col" class="text-center">설정 Key</th>
                            <th scope="col" class="text-center">설정 값</th>
                            <th scope="col" class="text-center">삭제</th>
                        </tr>
                        </thead>
                        <tbody id="global-row-list">
                        <tr th:each="global : ${ globals }">
                            <td class="text-center align-middle">
                                <input type="text" class="form-control" th:value="${global.key}" th:readonly="${global.key == 'cache.base_dir' || global.key == 'cache.lock_dir'}" />
                            </td>
                            <td class="text-center align-middle">
                                <input type="text" class="form-control" th:value="${global.value}" />
                            </td>
                            <td class="text-center align-middle" >
                                <button class="btn btn-danger btn-sm btn-circle" type="button" onclick="onclick_global_row_remove(this)" th:disabled="${global.key == 'cache.base_dir' || global.key == 'cache.lock_dir'}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p><span class="text-info">(*)</span> : KEY 는 ooo.ooo.ooo ... (YAML 파일 내용 들여쓰기 기준) 와 같이 입력하세요.</p>
                    <p><span class="text-info">(*)</span> : 중간에 값을 잘 못 추가한 경우에 우측의 휴지통 버튼을 클릭하시길 바랍니다.</p>
                    <hr/>
                    <div id="button-list" class="text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_global_cancel()">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>