<div class="py-1">
    <h3 class="section_tit">레이어 관리</h3>
    <div class="text-right my-1">
        <button type="button" class="btn btn-info btn-sm" onclick="onclick_insert_data('layer')">
            <i class="fas fa-plus"></i> 데이터 추가
        </button>
    </div>

    <!-- Data Form Modal - LAYER 시작 -->
    <div class="modal fade" id="layerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <form data-title="layer-form" th:action="@{/view/proxy/layer-save}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)">
                    <input type="hidden" id="layer-id" name="id" value="0" />
                    <input type="hidden" id="layer-method" name="method" value="INSERT" />

                    <div class="modal-header">
                        <h4 class="cont_tit">데이터 <span id="layer-method-title"></span> - Layer</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_close('layer')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" th:if="${ #lists.size(sources) > 0 }">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="layer-name">레이어 이름 <span class="text-danger">(*)</span></label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" id="layer-name" name="name">
                                <div class="input-group-append">
                                    <span id="layer-validate-btn" class="input-group-btn btn btn-primary" onclick="jiCommon.duplicateCheck('PROXYLAYER','#layer-name','#duplicate-check-message-proxy-layer')" style="cursor: pointer;">중복확인</span>
                                </div>
                            </div>
                            <div id="layer-validate-text" class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message-proxy-layer">중복확인을 해주세요.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="layer-title">레이어 제목 <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="layer-title" name="title" />
                        </div>

                        <div class="form-group" th:if="${ #lists.size(selectSources) > 0}">
                            <label for="layer-sources">레이어 연계 소스 <span class="text-info">(*)</span></label>
                            <select class="form-control" id="layer-sources" name="sources" multiple>
                                <option th:each="source : ${selectSources}" th:text="${ source.name }" th:value="${ source.name }"></option>
                            </select>
                        </div>

                        <div class="alert alert-warning py-1" th:unless="${ #lists.size(selectSources) > 0}">
                            <h1 class="display-4">
                                <i class="fas fa-times-circle"></i> No Source Datas
                            </h1>
                            <p class="lead">선택된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 선택 하시고 다시 시도 바랍니다.</p>
                        </div>

                        <div class="form-group" th:if="${ #lists.size(selectCaches) > 0}">
                            <label for="layer-caches">레이어 연계 캐시 <span class="text-info">(*)</span></label>
                            <select class="form-control" id="layer-caches" name="caches" multiple>
                                <option th:each="cache : ${selectCaches}" th:text="${ cache.name }" th:value="${ cache.name }"></option>
                            </select>
                        </div>

                        <div class="alert alert-warning py-1" th:unless="${ #lists.size(selectCaches) > 0}">
                            <h1 class="display-4">
                                <i class="fas fa-times-circle"></i> No Cache Datas
                            </h1>
                            <p class="lead">선택된 캐시 (Cache) 데이터가 없습니다. 캐시 데이터를 선택 하시고 다시 시도 바랍니다.</p>
                        </div>

                        <p><span class="text-danger">(*)</span> : 해당 데이터는 반드시 입력 되어야 합니다.</p>
                        <p><span class="text-info">(*)</span> : 해당 데이터들 중에 최소한 하나는 선택되어 있어야 합니다.</p>
                    </div>

                    <div class="modal-body" th:unless="${ #lists.size(sources) > 0 }">
                        <div class="jumbotron">
                            <h1 class="display-4">
                                <i class="fas fa-times-circle"></i> Error
                            </h1>
                            <p class="lead">추가 된 리소스 (Source) 데이터가 없습니다. 리소스 데이터를 추가하고 다시 시도 바랍니다.</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_close('layer')">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Data Form Modal - LAYER 끝 -->

    <!-- Data List Table - LAYER 시작 -->
    <table id="list_table_layer" class="table basic my-1">
        <thead class="table-info">
        <tr>
            <th scope="col" class="text-center">이름</th>
            <th scope="col" class="text-center">제목</th>
            <th scope="col" class="text-center">수정 및 삭제</th>
            <th scope="col" class="text-center">설정 적용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="layer : ${ layers }">
            <td class="text-center align-middle" th:text="${ layer.name }"></td>
            <td class="text-center align-middle" th:text="${ layer.title }"></td>
            <td class="text-center align-middle">
                <button
                    type="button"
                    class="btn btn-info btn-circle btn-sm mx-1"
                    data-obj="layer"
                    th:data-id="${layer.id}"
                    data-method="UPDATE"
                    th:data-name="${layer.name}"
                    th:data-title="${layer.title}"
                    th:data-sources="${layer.sourceKeys}"
                    th:data-caches="${layer.cacheKeys}"
                    onclick="onclick_update_data(this)"
                >
                    <i class="fas fa-cog"></i>
                </button>
                <a class="btn btn-danger btn-circle btn-sm mx-1" th:href="@{ '/view/proxy/layer-delete?id=' + ${layer.id} + '&name=' + ${layer.name} }" onclick="return confirm('삭제를 진행 하시겠습니까?')">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
            <td class="text-center align-middle">
                <button class="btn btn-secondary btn-sm btn-circle" th:onclick="onclick_add_button('selectedLayers', [[${layer.name}]])">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Data List Table - LAYER 끝 -->
</div>