<div class="py-1">
    <h3 class="section_tit my-1">소스 (WMS) 관리</h3>
    <div class="text-right my-1">
        <button type="button" class="btn btn-info btn-sm" onclick="onclick_insert_data('sourceWMS')">
            <i class="fas fa-plus"></i> 데이터 추가
        </button>
    </div>

    <!-- Data Form Modal - SOURCE WMS 시작 -->
    <div class="modal fade" id="sourceWMSModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <form data-title="sourceWMS-form" th:action="@{/view/proxy/source-wms-save}" method="post" accept-charset="utf-8" onsubmit="return preSubmit(this)">
                    <input type="hidden" id="sourceWMS-id" name="id" value="0" />
                    <input type="hidden" id="sourceWMS-method" name="method" value="INSERT" />

                    <div class="modal-header">
                        <h4 class="cont_tit">데이터 <span id="sourceWMS-method-title"></span> - Source (WMS)</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onclick_close('sourceWMS')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="sourceWMS-name">리소스 이름 <span class="text-danger">(*)</span></label>
                            </div>
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" id="sourceWMS-name" name="name">
                                <div class="input-group-append">
                                    <span id="sourceWMS-validate-btn" class="input-group-btn btn btn-primary" onclick="jiCommon.duplicateCheck('PROXYSOURCE','#sourceWMS-name','#duplicate-check-message-proxy-sourceWMS')" style="cursor: pointer;">중복확인</span>
                                </div>
                            </div>
                            <div id="sourceWMS-validate-text" class="col-12">
                                <small class="form-text text-muted" id="duplicate-check-message-proxy-sourceWMS">중복확인을 해주세요.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-type">리소스 종류 <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="sourceWMS-type" name="type" value="wms" readonly />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-concurrentRequests">제한 요청 횟수<span class="text-info">(*)</span></label>
                            <input type="number" class="form-control" id="sourceWMS-concurrentRequests" name="concurrentRequests" />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-wmsOptsVersion">WMS 적용 버전<span class="text-info">(*)</span></label>
                            <input type="text" class="form-control" id="sourceWMS-wmsOptsVersion" name="wmsOptsVersion" />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-httpClientTimeout">클라이언트 제한 시간 (ms) <span class="text-info">(*)</span></label>
                            <input type="number" class="form-control" id="sourceWMS-httpClientTimeout" name="httpClientTimeout" />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-requestURL">요청 주소 <span class="text-info">(*)</span></label>
                            <input type="text" class="form-control" id="sourceWMS-requestUrl" name="requestUrl" />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-requestLayers">요청 Layer <span class="text-info">(*)</span></label>
                            <input type="text" class="form-control" id="sourceWMS-requestLayers" name="requestLayers" />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-requestTransparent">투명 설정</label>
                            <input type="checkbox" class="form-check" id="sourceWMS-requestTransparent" name="requestTransparent" />
                        </div>

                        <div class="form-group">
                            <label for="sourceWMS-supportedSRS">GRID 좌표계 <span class="text-info">(*)</span></label>
                            <input type="text" class="form-control" id="sourceWMS-supportedSrs" name="supportedSrs" />
                        </div>

                        <p><span class="text-danger">(*)</span> : 해당 데이터는 반드시 입력 되어야 합니다.</p>
                        <p><span class="text-info">(*)</span> : 해당 데이터들 중에 최소한 하나 이상 있어야 합니다.</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onclick_close('sourceWMS')">
                            <i class="fas fa-times"></i> 취소
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Data Form Modal - SOURCE 끝 -->

    <!-- Data List Table - SOURCE 시작 -->
    <table id="list_table_sourceWMS" class="table basic my-1">
        <thead class="table-info">
        <tr>
            <th scope="col" class="text-center">이름</th>
            <th scope="col" class="text-center">수정 및 삭제</th>
            <th scope="col" class="text-center">설정 적용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="source : ${ sources_wms }">
            <td class="text-center align-middle" th:text="${ source.name }"></td>
            <td class="text-center align-middle">
                <button
                    type="button"
                    class="btn btn-info btn-circle btn-sm mx-1"
                    data-obj="sourceWMS"
                    th:data-id="${source.id}"
                    data-method="UPDATE"
                    th:data-name="${source.name}"
                    th:data-type="${source.type}"
                    th:data-concurrent-requests="${source.concurrentRequests}"
                    th:data-wms-opts-version="${source.wmsOptsVersion}"
                    th:data-http-client-timeout="${source.httpClientTimeout}"
                    th:data-request-URL="${source.requestURL}"
                    th:data-request-layers="${source.requestLayers}"
                    th:data-request-transparent="${source.requestTransparent}"
                    th:data-supported-SRS="${source.supportedSRS}"
                    onclick="onclick_update_data(this)"
                >
                    <i class="fas fa-cog"></i>
                </button>
                <a class="btn btn-danger btn-circle btn-sm mx-1" th:href="@{ '/view/proxy/source-wms-delete?id=' + ${source.id} + '&name=' + ${source.name} }" onclick="return confirm('삭제를 진행 하시겠습니까?')">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
            <td class="text-center align-middle">
                <button class="btn btn-secondary btn-sm btn-circle" th:onclick="onclick_add_button('selectedSources', [[${source.name}]])">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Data List Table - SOURCE WMS 끝 -->
</div>